{% load static %}
{% load to_price %}


<div id="accordion-materials">


    <div class="card" id="materials-app">
        <div class="card-header" id="heading-materials">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-materials"
                    aria-expanded="true" aria-controls="collapse-materials">
                    متریال ها


                    <span v-if="materials.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="materials.length"></span>
                        </small>
                    </span>


                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-materials" class="collapse" aria-labelledby="heading-materials"
            data-parent="#accordion-materials">


            <div class="card-body">
                <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                <h6 v-if="waiting">

                    <span class="text-muted">در حال بار گذاری ... </span>
                </h6>

                <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ..."
                    @input="filter(search_for)">
                {% if add_material_form %}
                <div class="text-right my-2">

                    <button v-show="show_add_btn" @click="add()" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        افزودن
                    </button>
                </div>
                {% endif %}

                <div class="text-right my-2">

                    <button @click="show_sell_prices=!show_sell_prices" class="btn btn-danger">نمایش جزئیات</button>
                </div>
                <div class="table-responsive">

                    <table class="table table-striped rtl">
                        <thead>

                            <th>
                                متریال
                            </th>
                            <th>
                                قیمت فروش
                            </th>
                            <th v-if="show_sell_prices">
                                قیمت
                                خرید
                            </th>
                            <th v-if="show_sell_prices">
                                درصد سود
                            </th>

                            <th>
                                موجودی در انبار ها
                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="material in materials">

                                <td>

                                    <div class="media">
                                        <a :href="material.get_pm_absolute_url">
                                            <img :src="material.thumbnail" class="rounded" width="64" alt="">
                                        </a>

                                        <div class="media-body mr-2">
                                            <a :href="material.get_pm_absolute_url">

                                                <span v-text="material.title"></span>
                                            </a>
                                            <div v-if="material.product_or_service_category">
                                                <a :href="material.product_or_service_category.get_absolute_url">
                                                    <small class="text-muted">

                                                        <span
                                                            v-text="material.product_or_service_category.title"></span>
                                                    </small>



                                                </a>
                                            </div>
                                        </div>
                                    </div>




                                </td>
                                <td>
                                    <div>
                                        <span v-text="to_price(material.unit_price)"></span>
                                    </div>


                                </td>


                                <td v-if="show_sell_prices">

                                    <div v-if="show_sell_prices">
                                        <small v-text="to_price(material.buy_price)" class="text-muted"></small>

                                    </div>

                                </td>

                                <td v-if="show_sell_prices">
                                    <span class="mx-2">

                                        <span v-text="percent(material)" class="text-muted"></span>
                                        %
                                    </span>


                                </td>

                                <td>
                                    <span v-text="material.available"></span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>