<table class="table" v-if="orders.length>0">
    <thead>
        <tr>
            <th class="text-right farsi"></th>
            <th class="text-right farsi">خریدار</th>
            <th class="text-right farsi">فروشنده</th>
            <th class="text-right farsi">مبلغ</th>
            <th class="text-right farsi">تاریخ سفارش</th>
            <th class="text-right farsi">وضعیت</th>

        </tr>
    </thead>
    <tbody>

        <tr v-for="order in orders">
            <td>
                <a :href="order.get_absolute_url">

                    جزئیات سفارش &nbsp;&nbsp;
                    <span v-text="order.id"></span>
                </a>
            </td>

            <td>
                <a :href="order.customer.get_absolute_url">
                    <img :src="order.customer.profile.image" width="32" class="rounded-circle" alt="">
                    <div>
                        <!-- <span v-text="order.customer.title"></span>
                        <br> -->
                        <span v-text="order.customer.profile.name"></span>

                    </div>

                </a>
            </td>

            <td>
                <div>

                    <a :href="order.supplier.get_absolute_url">
                        <img :src="order.supplier.image" width="32" class="rounded-circle" alt="">
                        <span v-text="order.supplier.title"></span>
                    </a>
                </div>
                <div v-if="order.shipper">
                    پیک :
                    <a :href="order.shipper.get_absolute_url">
                        <img :src="order.shipper.image" width="32" class="rounded-circle" alt="">
                        <span v-text="order.shipper.title"></span>
                    </a>
                </div>

            </td>
            <td>
                <span v-text="order.total_to_price"></span>
            </td>
            <td>
                <span class="small" v-text="order.persian_order_date"></span>
            </td>

            <td>
                <span :class="'badge badge-'+order.get_status_color" v-text="order.status"></span>
            </td>
        </tr>
    </tbody>

</table>