{% load to_price %}
<div class="card card-product card-plain no-shadow" data-colored-shadow="false">
  <div class="card-header card-header-image">
    <a href="{{product.get_market_absolute_url}}">
      <img src="{{product.thumbnail}}" alt="...">
    </a>
  </div>
  <div class="card-body">
    <a href="{{product.get_market_absolute_url}}">
      <h4 class="card-title farsi  text-center">
        {{product.title}}
      </h4>

    </a>
    <!-- <div v-if="product.short_description" class="description" v-html="product.short_description"> -->

    {% if product.brand %}
    <div class="description text-center">
      <a href="{{product.brand.get_absolute_url}}" title="{{product.brand.title}}">
        <img src="{{product.brand.image}}" height="32" alt="">
      </a>
    </div>
    {% endif %}


    <!-- <div v-if="product.model_name" class="description text-center" v-text="product.model_name">
     
    </div> -->

  </div>
  <div class="card-footer justify-content-between text-center">
    <div class="price-container">

      {% if product.get_price %}
      <span class="price text-success text-center">
        {{product.get_price|to_price}}
      </span>
      {% else %}
      <!-- <span class="badge price text-danger farsi text-center">ناموجود</span> -->
      <span class="badge badge-danger farsi">ناموجود</span>

      {% endif %}

    </div>
    <!-- <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title=""
      data-placement="bottom" data-original-title="حذف از لیست من">
      <i class="material-icons" aria-hidden="true">favorite</i>
    </button>
    {% if perms.market.change_product %}
    <a :href="product.get_edit_url" target="_blank"  rel="tooltip" title=""
    data-placement="bottom" data-original-title="ویرایش" >
      <i class="material-icons" aria-hidden="true">settings</i>
    </a>
    {% endif %} -->
  </div>
</div> <!-- end card -->