{% load static %}
<div id="accordion-trips">


    <div class="card" id="trips-app">
        <div class="card-header" id="heading-trips">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-trips" aria-expanded="true"
                    aria-controls="collapse-trips">
                    سفر ها
                    <span v-if="trips.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="trips.length"></span>
                        </small>
                    </span>


                </button>
            </h5>


        </div>
        <div id="collapse-trips" class="collapse" aria-labelledby="heading-trips" data-parent="#accordion-trips">


            <div class="card-body">


                {% load static %}
                <form @submit.prevent="search()">
                    <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">

                    <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ..."
                        @input="filter()">
                </form>


                <div class="table-responsive">
                    <img v-if="false" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                    <h6 v-if="false">

                        <span class="text-muted">در حال بار گذاری ... </span>
                    </h6>
                    <table class="table table-striped">
                        <thead>
                            <th>

                                سفر
                            </th>
                            <th>
                                زمان
                            </th>
                            <th>
                                راننده
                            </th>
                            <th>
                                وسیله نقلیه
                            </th>
                            <th>
                                مسیر ها
                            </th>
                            <th>
                                مسافر ها
                            </th>
                            <th>
                                هزینه
                            </th>
                            <th>
                                فاصله مکانی
                            </th>
                            <th>
                                فاصله زمانی
                            </th>
                            <th>
                                تاخیر
                            </th>
                        </thead>
                        <tbody>


                            <tr v-for="trip in trips">
                                <td>

                                    <div v-if="trip.trip_category">

                                        <a :href="trip.trip_category.get_absolute_url">
                                            <span :class="'badge badge-'+trip.trip_category.color">

                                                <span v-text="trip.trip_category.title"></span>
                                            </span>
                                        </a>

                                        
                                        
                                    </div>
                                    <div>

                                        <a :href="trip.get_absolute_url">
                                            <span v-text="trip.title"></span>
                                        </a>
                                    </div>
                                    <div class="my-2">

                                        {% if perms.transport.change_trip %}
                                        <a :href="trip.get_edit_url" target="_blank" title="ویرایش"
                                            class="mx-2 text-warning"><i class="fa fa-edit"></i> ویرایش</a>

                                        <span class="mx-2">

                                        </span>
                                        {% endif %}



                                        {% if perms.transport.delete_trip %}


                                        <a :href="trip.get_delete_url" target="_blank" title="حذف"
                                            class="mx-2 text-danger"><i class="fa fa-trash"></i> حذف</a>

                                        <span class="mx-2">

                                        </span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span class="text-success1">
                                            <span v-html="trip.persian_date_started"></span>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="text-muted">
                                            <span v-html="trip.persian_date_ended"></span>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <a :href="trip.driver.get_absolute_url">

                                        <img :src="trip.driver.account.logo" class="rounded-circle" width="32" alt="">
                                        <span v-text="trip.driver.title"></span>
                                    </a>

                                </td>
                                <td>
                                    <a :href="trip.vehicle.get_absolute_url">
                                        <div class="text-right farsi" v-text="trip.vehicle.title"></div>
                                        <div class="small text-muted text-right farsi" v-text="trip.vehicle.plaque">
                                        </div>
                                    </a>

                                </td>
                                <td>
                                    <div v-for="trip_path in trip.trip_paths">

                                        <a :href="trip_path.get_absolute_url">
                                            <span v-text="trip_path.title"></span>
                                        </a>
                                    </div>

                                </td>
                                <td>
                                    <div>
                                        <small class="text-muted">
                                            سفارش دهنده
                                        </small>
                                        <a :href="trip.client.get_absolute_url">
                                            <span v-text="trip.client.title"></span>
                                        </a>
                                    </div>
                                    <div v-for="passenger in trip.passengers">

                                        <a :href="passenger.get_absolute_url">
                                            <img :src="passenger.account.logo" class="rounded-circle" width="32"
                                                alt="">
                                            <span v-text="passenger.title"></span>
                                        </a>
                                    </div>

                                </td>
                                <td>
                                    <span v-html="to_price(trip.cost)"></span>
                                    </span>

                                </td>
                                <td>
                                    <span v-html="trip.distance"></span> کیلومتر
                                    </span>

                                </td>
                                <td>
                                    <span v-html="trip.duration"></span>
                                    دقیقه
                                    </span>

                                </td>
                                <td>
                                    <span v-if="trip.delay" class="badge badge-danger">

                                        <span v-text="trip.delay"></span> دقیقه
                                    </span>
 




                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>