<div class="table-responsive">
    <table class="table table-striped rtl">
        <thead>

            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </thead>
        <tbody>
            <tr v-for="profile in profiles">
                <td>
                    {% include "authentication/includes/profiles-app/media.html" %}
                </td>
                <td>
                    {% if perms.projectmanager.add_employee %}
                    <form @submit.prevent="create_employee(profile.id)" class="d-inline mx-2 my-2">
                        {% csrf_token %}
                        <button class="btn btn-warning" type="submit">
                            ایجاد پرسنل
                        </button>
                    </form>
                    {% endif %}

                    {% if perms.accounting.add_account %}
                    <form @submit.prevent="create_account(profile.id)" class="d-inline mx-2 my-2">
                        {% csrf_token %}
                        <button class="btn btn-warning" type="submit">
                             ایجاد حساب مالی جدید
                        </button>
                    </form>
                    {% endif %}

                </td>
                <td>
                <span v-if="profile.enabled" class="badge badge-success">فعال</span>
                <span v-if="!profile.enabled" class="badge badge-danger">غیر فعال</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>