{% load static %}

{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
<div id="accordion-profiles">


    <div class="card" id="profiles-app">
        <div class="card-header" id="heading-profiles">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-profiles"
                    aria-expanded="true" aria-controls="collapse-profiles">
                    پروفایل ها

            
                    <span v-if="profiles.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="profiles.length"></span>
                        </small>
                    </span>
                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-profiles" class="collapse" aria-labelledby="heading-profiles"
            data-parent="#accordion-profiles">
            <div class="card-body">

                {% include "authentication/includes/profiles-app/search.html" %}
                {% include "authentication/includes/profiles-app/table.html" %}

              

            </div>


        </div>
    </div>
</div>