{% extends "authentication/layout.html" %}

{% block content %}
<h4 class="text-center">

    {{selected_profile.name}}
</h4>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <img src="{{selected_profile.image}}" width="192" class="rounded-circle" alt="">

                </div>

                <h5 class="text-center my-2">

                    {{selected_profile.name}}
                </h5>


                {% if selected_profile.mobile %}

                <h5 class="text-center my-2">
                    <a href="tel:{{selected_profile.mobile}}">
                        <span class="text-info ">

                            {{selected_profile.mobile}}
                        </span>
                    </a>
                </h5>
                {% endif %}





            </div>
        </div>
        <div class="card">
            <div class="card-body">


                <h5 class="text-center">

                    {{selected_profile.user.username}}
                </h5>


                <div class="text-center farsi">
                    {% if perms.authentication.change_profile %}
                    <a href="{% url 'authentication:login_as' pk=selected_profile.id %}" title="login_as"
                        class="mx-2 text-info"><i class="fa fa-edit"></i> ورود</a>
                    {% endif %}



                    {% if perms.authentication.change_profile %}
                    <a href="{{selected_profile.get_edit_url}}" target="_blank" title="ویرایش"
                        class="mx-2 text-warning"><i class="fa fa-edit"></i> ویرایش</a>
                    {% endif %}


                    {% if perms.authentication.change_profile %}
                    <a href="{{selected_profile.get_edit_page_url}}" target="_blank" title="ویرایش"
                        class="mx-2 text-warning"><i class="fa fa-edit"></i> ویرایش</a>
                    {% endif %}



                    {% if perms.authentication.delete_profile %}
                    <a href="{{selected_profile.get_delete_url}}" target="_blank" title="حذف"
                        class="mx-2 text-danger"><i class="fa fa-trash"></i> حذف</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
    {% if not selected_profile.enabled %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="farsi alert alert-danger text-right">

                    حساب کاربری غیر فعال می باشد.
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    
 

    {% if edit_profile_form %}

    <div class="col-md-8">
        {% include "authentication/includes/edit-profile-app/template.html" %}
    </div>

    {% endif %}
   
</div>
{% endblock content %}

{% block script %}
 

{% if edit_profile_form %}
{% include "authentication/includes/edit-profile-app/script.html" %}
{% endif %}
{% endblock script %}