{% extends "authentication/layout.html" %}

{% block content %}
<h4 class="text-center">

    {{selected_profile.name}}
</h4>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <img src="{{selected_profile.image}}" width="192" class="rounded-circle" alt="">

                </div>

                <h5 class="text-center my-2">

                    {{selected_profile.name}}
                </h5>
                {% if selected_profile.bio %}
                <p class="text-center my-0 text-muted">
                    <small>

                        {{profile.bio}}
                    </small>
                </p>
                {% endif %}

                {% if selected_profile.mobile %}

                <h5 class="text-center my-2">
                    <a href="tel:{{selected_profile.mobile}}">
                        <span class="text-info ">

                            {{selected_profile.mobile}}
                        </span>
                    </a>
                </h5>
                {% endif %}

                {% if selected_profile.email %}

                <h6 class="text-center my-2">
                    <a href="mailto:{{selected_profile.email}}">
                        <span class="text-info ">

                            {{selected_profile.email}}
                        </span>
                    </a>
                </h6>
                {% endif %}






            </div>
        </div>
        <div class="card">
            <div class="card-body">


                <h5 class="text-center">

                    {{selected_profile.user.username}}
                </h5>


                <div class="text-center farsi">


                    {% if perms.authentication.change_profile %}


                    <a href="{% url 'authentication:login_as' pk=selected_profile.id %}" title="login_as"
                        class="mx-2 text-info"><i class="fa fa-edit"></i> ورود</a>

                    {% endif %}

                    {% if can_edit_profile %}




                    <a href="{{selected_profile.get_edit_page_url}}" title="ویرایش" class="mx-2 text-warning"><i
                            class="fa fa-edit"></i> ویرایش</a>
                    {% endif %}



                    {% if perms.authentication.delete_profile %}
                    <a href="{{selected_profile.get_delete_url}}" target="_blank" title="حذف"
                        class="mx-2 text-danger"><i class="fa fa-trash"></i> حذف</a>
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="text-center farsi">

                    <a href="{% url 'core:pages_permissions' pk=selected_profile.id %}" title="login_as"
                        class="mx-2 text-info"><i class="fa fa-edit"></i>
                        صفحه های
                        در دسترس
                    </a>
                </div>
            </div>

        </div>
    </div>

    {% if not selected_profile.enabled %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="farsi alert alert-danger text-right">

                    حساب کاربری غیر فعال می باشد.
                </div>
            </div>
        </div>
    </div>


    {% endif %}

    {% if employees %}

    <div class="col-md-4">
        {% include "projectmanager/includes/employees-app/template.html" %}

    </div>
    {% endif %}

    {% if transport_app_is_installed and perms.authentication.change_profile%}


    <div class="col-md-4">
        <div class="card" id="create-account-app">
            <div class="card-body">
                <div>
                    <button @click="create_driver({{selected_profile.id}})" class="btn btn-success btn-block">
                        <i class="fa fa-user"></i>
                        افزودن راننده
                    </button>

                    <button @click="create_passenger({{selected_profile.id}})" class="btn btn-success btn-block">
                        <i class="fa fa-user"></i>
                        افزودن مسافر
                    </button>

                    <button @click="create_client({{selected_profile.id}})" class="btn btn-success btn-block">
                        <i class="fa fa-user"></i>
                        افزودن مشتری حمل و نقل
                    </button>

                </div>
            </div>
        </div>
    </div>

    {% endif %}

    {% if profiles %}

    <div class="col-md-4">
        {% include "authentication/includes/profiles-app/template.html" %}

    </div>
    {% endif %}

    {% if accounts %}

    <div class="col-md-12">
        {% include "accounting/includes/accounts-app/template.html" %}
    </div>

    {% endif %}
    <div class="col-md-12">
        {% include "core/includes/page-like-app/page-likes.html" %}

    </div>
    {% if resumes %}
      <div class="col-md-12">
        {% include "resume/fa/includes/resumes-app/template.html" %}

      </div>
    {% endif %}

</div>
{% endblock content %}

{% block script %}
{% include "accounting/includes/accounts-app/script.html" %}
{% include "projectmanager/includes/employees-app/script.html" %}
{% if profiles %}
{% include "authentication/includes/profiles-app/script.html" %}
{% endif %}

{% if transport_app_is_installed %}
<script>
    let create_account_app = new Vue({
        el: "#create-account-app",
        data: {

        },
        methods: {
            create_driver: function (profile_id) {
                console.log("create_driver")
                console.log(profile_id)
            },
            create_passenger: function (profile_id) {
                console.log("create_passenger")
                console.log(profile_id)

            },
            create_client: function (profile_id) {
                console.log("create_client")
                console.log(profile_id)

            },
        }
    })
</script>
{% endif %}


{% if resumes %}
  {% include "resume/fa/includes/resumes-app/script.html" %}

{% endif %}


{% endblock script %}