<div id="accordion-all-projects">


    <div class="card" id="projects-list-app">
        <div class="card-header" id="heading-all-projects">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-all-projects"
                    aria-expanded="true" aria-controls="collapse-all-projects">
                    پروژه ها


                    <span v-if="projects.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="projects.length"></span>
                        </small>
                    </span>

                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-all-projects" class="collapse {% if show_all_projects %} show  {% endif %}"
            aria-labelledby="heading-all-projects" data-parent="#accordion-all-projects">



            <div class="card-body">
                <input type="text" placeholder="جستجو ..." class="form-control" @input="filter()" v-model="search_for">

                <div class="table-responsive">

                    {% include "projectmanager/includes/projects-list-app/table.html" %}
                </div>
            </div>
        </div>
    </div>
</div>