{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-role-players">
    <div class="card" id="role-players-app">
        <div class="card-header" id="heading-role-players">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-role-players"
                    aria-expanded="true" aria-controls="collapse-role-players">
                    نقش های بازیکنان
                    <span v-if="role_players.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="role_players.length"></span>
                        </small>
                    </span>
                </button>
            </h5>

        </div>
        <div id="collapse-role-players" class="collapse" aria-labelledby="heading-role-players"
            data-parent="#accordion-role-players">
            <div class="card-body">
                {% load static %}
                <form @submit.prevent="search()">
                    <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">
                    <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ..."
                        @input="filter()">
                </form>
                <div class="mb-3"></div>
                {% if add_role_form %}
                {% include "mafia/includes/roles-app/form.html" %}
                {% endif %}

                <div class="mb-3"></div>
                <img v-if="false" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                <h6 v-if="false">
                    <span class="text-muted">در حال بار گذاری ... </span>
                </h6>
                <div class="row">
                    <div class="col-md-3 farsi" v-for="role_player in role_players">
                        <div>
                            <div class="text-center">
<a :href="role_player.get_absolute_url">

    <img :src="role_player.role.thumbnail" width="80%" class="rounded" alt="">
</a>
                            </div>
                            <a :href="role_player.role.get_absolute_url">
                                <h4 class="mt-2 text-center">
                                    <span :class="'text-'+role_player.role.color" v-text="role_player.role.title">

                                    </span>
                                </h4>
                            </a>
                            <div class="text-center">

                                <a :href="role_player.player.get_absolute_url">
                                    <img :src="role_player.player.profile.image" class="rounded-circle" width="48"
                                        alt="">
                                </a>

                            </div>
                            <a :href="role_player.player.get_absolute_url">
                                <h5 class="mt-2 text-center">

                                    <span :class="'text-'+role_player.role.color"
                                        v-text="role_player.player.profile.name">

                                    </span>

                                   
                                </h5>
                            </a>
                            <div class="text-center">
                                <span  
                                v-text="role_player.player.score">

                            </span>
                            <i aria-hidden="true" class="fa fa-star " style="color: rgb(245, 193, 3);"></i>

                                <a :href="role_player.get_edit_url" title="ویرایش">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>