{% load static %}
<div class="text-right">

    <button @click="show_add_material_request_form=true" v-if="!show_add_material_request_form" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        افزودن
    </button>
</div>
<div v-if="show_add_material_request_form">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="">نام متریال</label>
                <input type="text" v-model="add_material_request_form_title" class="form-control" required
                    @input="filter_list()">
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="">نام پرسنل</label>
                <select v-model="add_material_request_form_employee_id" class="form-control farsi" id="" required>
                    <option disabled selected>نام پرسنل مرتبط را انتخاب کنید</option>
                    <option v-for="employee in employees" :value="employee.id" v-text="employee.profile.name"></option>
                </select>
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="">تعداد</label>
                <input required type="number" min="0" placeholder="تعداد" class="form-control"
                    v-model="add_material_request_form_quantity">
            </div>
        </div>


        <div class="col-md-2">
            <div class="form-group">
                <label for="">نام واحد</label>

                <select v-model="add_material_request_form_unit_name" class="form-control farsi" id="">
                    <option disabled selected>نام واحد</option>
                    {% for unit_name in unit_names2 %}
                    <option value="{{unit_name}}">{{unit_name}}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="">قیمت واحد
                    <small>
                        (
                        {{CURRENCY}}
                        )
                    </small>

                </label>
                <input required type="number" v-model="add_material_request_form_unit_price" class="farsi form-control"
                    placeholder="قیمت واحد">
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="">توضیحات</label>
                <input type="text" v-model="add_material_request_form_description" class="farsi form-control"
                    placeholder="توضیحات">
            </div>
        </div>

        <div class="col-md-12 text-right">
            <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">



            <button class="btn btn-outline-secondary" @click="show_add_material_request_form=false"
                type="reset">Cancel</button>

            <button @click="add_material_request()" v-if="!waiting" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
                افزودن
            </button>

        </div>
    </div>

    <div class="table-responsive">

        <table class="table table-striped my-3">

            <tbody>
                <tr v-for="material in materials">
                    <td>
                        <a target="_blank" :href="material.get_absolute_url">

                            <span class="farsi" v-text="material.title"></span>
                        </a>
                    </td>
                    <td>
                        <button @click="select_material(material)" class="btn btn-info">انتخاب</button>
                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>