<script>
    let material_requests = JSON.parse(`{{material_requests_s|escapejs}}`)
</script>
<script>
    let material_requests_app_data = {}
</script>
{% if add_material_request_form %}
<script>

    let all_materials = JSON.parse(`{{all_materials_s|escapejs}}`)
    let url_add_material_request = "{% url 'projectmanager:add_material_request' %}"
    material_requests_app_data = {
        employees: JSON.parse(`{{employees_s|escapejs}}`),
        new_material_request_material_id: 1,
        add_material_request_form_title: "",
        materials: [],
        add_material_request_form_unit_price: 0,
        add_material_request_form_unit_name: "",
        add_material_request_form_quantity: "",
        add_material_request_form_description: "",
        material_requests: material_requests,
        waiting: false,
        sum_material_requests: 0,
        show_add_material_request_form: false,
        add_material_request_form_employee_id: ""
    }
</script>
{% else %}
<script>
    material_requests_app_data = {
        material_requests: material_requests,
        waiting: false,
        sum_material_requests: 0,
        count_material_requests: 0,
        show_add_material_request_form: false,
    }
</script>
{% endif %}

<script>


    let material_requests_app = new Vue({
        el: "#material-requests-app",
        data: material_requests_app_data,
        mounted: function () {
            this.sum_material_requests = 0
            this.material_requests.forEach(material_request => {
                this.sum_material_requests += material_request.total
                this.count_material_requests += material_request.quantity

            })
        },
        methods: {
            // sum_price_requested: () => {
            //     let sum_material_requests = 0
            //     this.material_requests.forEach(material_request => {
            //         sum_material_requests += material_request.unit_price*material_request.quantity

            //     })

            //     return to_price(sum_material_requests,'')
            // },
            to_price: function (value, CURRENCY) {
                return to_price(value, CURRENCY)
            },
            selected_material: function () {
                if (this.add_material_request_form_title === "") {
                    return {}
                }
                if (this.materials.length > 0)
                    return this.materials[0]
                return {}
            },
            add_material_request: function () {
                material_requests_app.waiting = true

                let payload = {
                    project_id: page_id,
                    material_id: this.selected_material().id,
                    unit_price: this.add_material_request_form_unit_price,
                    unit_name: this.add_material_request_form_unit_name,
                    quantity: this.add_material_request_form_quantity,
                    employee_id: this.add_material_request_form_employee_id,
                    // status: this.add_material_request_form_status,
                    description: this.add_material_request_form_description,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                }


                var posting = $.post(url_add_material_request, payload);
                posting.fail(function (xhr, status, error) {
                    material_requests_app.waiting = false
                    // showNotification('top', 'center', 'settings', 'danger', 'خطا در ارتباط' + error)
                })
                // Put the results in a div
                posting.done(function (data) {
                    material_requests_app.waiting = false

                    if (data.result === 'SUCCEED') {
                        material_requests_app.material_requests.push(data.material_request)
                        // material_requests_app.show_add_material_request_form = false
                        material_requests_app.sum_material_requests += data.material_request.quantity * data.material_request.unit_price
                        showNotification('top', 'center', 'settings', 'success', `<div class="text-center farsi">با موفقیت افزوده شد.</div>`)



                    }
                    else {
                    }
                })

            },
            select_material: function (material) {
                this.add_material_request_form_unit_name = material.unit_name
                this.add_material_request_form_unit_price = material.unit_price
                this.add_material_request_form_title = material.title
                this.materials = [material]
                // if (typeof item_prices != "undefined") {

                //     item_prices.forEach(item_price => {
                //         if (item_price.product_or_service_id==material.id){

                //             this.add_material_request_form_unit_name =item_price.unit_name
                //             this.add_material_request_form_unit_price =item_price.unit_price
                //         }

                //     });
                // }
            },
            filter_list: function () {
                if (this.add_material_request_form_title.length > 3) {

                    this.materials = all_materials.filter(item => item.full_title.toUpperCase().includes(this.add_material_request_form_title.toUpperCase())).slice(0, 6);
                    try {
                        this.add_material_request_form_unit_price = this.selected_material().unit_price
                        this.add_material_request_form_unit_name = this.selected_material().unit_name
                    } catch (error) {

                    }
                }

            },
        }
    })
</script>