<table class="table table-striped">
    <thead>
        <th>

        </th>
        <th>
            تاریخ درخواست
        </th>
        <!-- <th>
            مسئول خرید
        </th> -->
        {% if not project %}

        <th>
            پروژه
        </th>
        {% endif %}



        {% if not material %}

        <th>
            متریال
        </th>
        {% endif %}
        <th>
            تعداد
        </th>
        <th>
            قیمت واحد
        </th>
        <th>
            جمع
        </th>
        <th>
            وضعیت
        </th>
        <th>
            
        </th>
    </thead>
    <tbody>

        <tr v-for="material_request in material_requests">
            <td>
                <a target="_blank" :href="material_request.get_absolute_url" title="نمایش کامل">
                    <i class="material-icons">
                        ballot
                    </i>
                </a>
            </td>
            <td>
                <small v-text="material_request.persian_date_requested">
                </small>

                <div>
                    <a :href="material_request.employee.get_absolute_url">
                        <small>

                            <span v-text="material_request.employee.title"></span>
                        </small>
                    </a>
                </div>
            </td>
            {% if not project %}

            <td>

                <a target="_blank" :href="material_request.project.get_absolute_url"
                    v-text="material_request.project.title">

                </a>
            </td>
            {% endif %}
            {% if not material %}

            <td>
                <img :src="material_request.material.thumbnail" class="ml-2 rounded" width="32" alt="">

                <a target="_blank" :href="material_request.material.get_absolute_url"
                    v-text="material_request.material.title">

                </a>
            </td>
            {% endif %}


            <td>
                <span v-text="material_request.quantity"></span>
                <small v-text="material_request.unit_name">

                </small>

            </td>
            <td>
                <span v-text="to_price(material_request.unit_price,'')"></span>

            </td>
            <td>
                <span
                    v-text="to_price(material_request.unit_price*material_request.quantity,'{{CURRENCY}}')"></span>

            </td>
            <td>
                <span v-html="material_request.get_status_tag"></span>
            </td>
            <td>


                {% if perms.projectmanager.change_materialrequest %}
                <a title="ویرایش" target="_blank" :href="material_request.get_edit_url">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.projectmanager.delete_materialrequest %}
                <a title="حذف" target="_blank" :href="material_request.get_delete_url">
                    <i class="fa fa-trash text-danger">

                    </i>
                </a>
                {% endif %}

            </td>
        </tr>
    </tbody>
</table>