<script>
    const MAFIA = "{{MAFIA}}"
    const CITIZEN = "{{CITIZEN}}"
    const INDEPENDENT = "{{INDEPENDENT}}"
    let roles = JSON.parse(`{{roles_s|escapejs}}`)
    let selected_roles = JSON.parse(`{{selected_roles_s|escapejs}}`)
    $(document).ready(() => {
        selected_roles.forEach(selected_role => {
            select_roles_app.select_role(selected_role, false)
        });
    })

    let select_roles_app = new Vue({
        el: "#select-roles-app",
        data: {
            CITIZEN:CITIZEN,
            MAFIA:MAFIA,
            INDEPENDENT:INDEPENDENT,
            roles: roles,
            selected_roles: [],
        },
        mounted: function () {

        },
        methods: {
            count_mafia: function () {
                return this.selected_roles.filter(role => role.side === MAFIA).length

            },
            count_independent: function () {
                return this.selected_roles.filter(role => role.side === INDEPENDENT).length

            },
            count_citizen: function () {
                return this.selected_roles.filter(role => role.side === CITIZEN).length

            },
            select_role: function (selected_role, add_to_db) {
                if (add_to_db) {
                    let payload = {
                        csrfmiddlewaretoken: csrfmiddlewaretoken,
                        game_id: parseInt("{{game.id}}"),
                        role_id: selected_role.id,
                    }
                    let url = "{% url 'mafia:add_role_to_game' %}"
                    console.log(payload)
                    $.post(url, payload).done(data => {
                        if (data.result === 'SUCCEED') {

                        }


                    })
                }
                if (!add_to_db) {

                }
                this.selected_roles.push(selected_role)
                if (selected_role.title != "شهروند ساده")
                    this.roles = this.roles.filter(role => role.id != selected_role.id)

                    

            },

            deselect_role: function (selected_role,add_to_db) {

                this.roles.push(selected_role)
                this.selected_roles = this.selected_roles.filter(role => role.id != selected_role.id)

                if (add_to_db) {
                    let payload = {
                        csrfmiddlewaretoken: csrfmiddlewaretoken,
                        game_id: parseInt("{{game.id}}"),
                        role_id: selected_role.id,
                    }
                    let url = "{% url 'mafia:remove_role_from_game' %}"
                    console.log(payload)
                    $.post(url, payload).done(data => {
                        if (data.result === 'SUCCEED') {

                        }


                    })
                }
                if (!add_to_db) {

                }

            },
        }
    })
</script>