{% load static %}

<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>

<script>
    // let rest_ = parseInt("{{rest}}")


    let invoices_app_methods = {}
    let invoices_app_data = {}
    let invoices = JSON.parse(`{{invoices_s|escapejs}}`)
</script>
{% if add_payment_form %}

<script>

     invoices_app_data = {
        invoices: invoices,
        title: '',
        bestankar: 0,
        bedehkar: 0,
        document_date: current_date,
        document_time: { hour: "0", minute: "0" },
        category_id: "",
        show_form: false,
        waiting: false,
    }


    invoices_app_methods = {
        to_price: function (vall,curr) {
            return to_price(vall, curr)
         
        }
    }


</script>
{% else %}

<script>

     invoices_app_data = {
        invoices: invoices,

    }
     invoices_app_methods = {
        to_price: function (vall,curr) {
            return to_price(vall, curr)
        }, 
         
    }
</script>
{% endif %}
<script>
    let invoices_app = new Vue({
        el: "#invoices-app",
        data: invoices_app_data,
        components: {
            DatePicker: VuePersianDatetimePicker

        },
        methods: invoices_app_methods,
    })
</script>