<div class="text-center rtl farsi" id="account-tags-app">
    <small class="text-muted">
    تگ ها : 

    </small>
    <span v-for="account_tag in account_tags"  >

        <a :href="account_tag.get_absolute_url" >
            <span v-text="account_tag.tag" >

            </span> 
        </a> ،

    </span>
    
    {% if account %}
        
    
    <form @submit.prevent="add_account_tag()" class="d-inline">
        
        <input class="d-inline" placeholder="تگ را وارد کنید ..." type="text" class="form-control" required v-model="new_tag">
    </form>
    {% else %}
    <input class="d-inline" placeholder="تگ را وارد کنید ..." type="text" class="form-control" required v-model="new_tag" @input="search()">

    {% endif %}
</div>