{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}

<div class="card" id="category-title-app">
    <div class="card-header" id="heading-costs">
        <h5 class="text-center">
            دسته بندی
        </h5>


    </div>


    <div class="card-body">
        {% if perms.accounting.change_productorservice %}
        <div v-if="!edit">
            <h4>
                <a :href="product_or_service_category.get_absolute_url">
                    <span v-text="product_or_service_category.title">

                    </span>
                </a>
            </h4>
            <button @click="edit=true" class="btn btn-link btn-warning">
                <i class="fa fa-edit"></i>
            </button>
        </div>

        <div v-if="edit">
              <form @submit.prevent="change_product_or_service_category()">
            <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">
            <select v-model="product_or_service_category_id" class="form-control">
                {% for product_or_service_category in product_or_service_categories %}
                <option value="{{product_or_service_category.id}}">{{product_or_service_category.title}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-block btn-success">تایید</button>
        </form>
        </div>
      
        {% else %}
        <h4>
            <a href="{{product_or_service.product_or_service_category.get_absolute_url}}">
                {{product_or_service.product_or_service_category.title}}
            </a>
        </h4>
        {% endif %}




    </div>



</div>