<div class="card" id="meals-app">
    <div class="card-header">
        <h4 class="title">
            <a href="{% url 'chef:meals' guest_id=0 %}">

                وعده های غذایی
            </a>
        </h4>
    </div>
    <div class="card-body farsi">
        {% if reserve_meal_form %}

        <div class="mb-4" v-if="selected_guest">
            <img :src="selected_guest.account.logo" class="rounded-circle" width="48" alt="">

            <span v-text="selected_guest.account.title"></span>
        </div>
        <div class="mb-4">
            {{me_guest.account.title}}
        </div>
        <div class="mb-4">
            <select class="form-control" name="" v-model="guest_id" @input="change_guest()">
                <option :value="guest.id" v-for="guest in guests" v-text="guest.profile.name"></option>
            </select>
            <a :href="'{{SITE_URL}}chef/meals/'+guest_id+'/'">
                انتخاب
            </a>
        </div>
        {% endif %}

        <table class="table">
            <thead>
                <th>

                </th>
                <th>
                    میزبان
                </th>
                <th>
                    غذا
                </th>
                <th>
                    وعده
                </th>
                <th>
                    تاریخ
                </th>
                <th>
                    تعداد کل رزرو
                </th>
                <th>
                    رزرو / حذف
                </th>
            </thead>
            <tbody>
                <template v-for="meal in meals">

                    <meal-component :meal="meal"></meal-component>
                </template>
            </tbody>
        </table>

    </div>
    
</div>