{% extends "market/layout.html" %}
{% load to_price %}
{% load static %}



{% block page_header %}
<div class="page-header header-filter header-small" data-parallax="true"
    style="background-image: url('{{brand.header_image}}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <div class="brand">
                    <h1 class="title text-center">{{brand.title}}
                        {% if perms.market.change_category %}
                        {{brand.get_edit_btn|safe}}
                        {% endif %}
                    </h1>

                    <h4 class="text-center">{{shop_header_slogan.value}}
                        {% if perms.core.change_parameter %}

                        {{shop_header_slogan.get_edit_btn|safe}}

                        {% endif %}
                    </h4>




                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="main {{main_class}}">

    {% if top_products %}
    <div class="section">
        <div class="container">
            <h2 class="section-title text-center">محصولات برتر</h2>
            <div class="row">
                {% for product in top_products %}

                <div class="col-md-4">
                    <div class="card card-product card-plain">
                        <div class="card-header card-header-image">
                            <a href="{{product.get_absolute_url}}">
                                <img src="{{product.thumbnail}}" alt="">
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title">
                                <a href="{{product.get_absolute_url}}">{{product.title}}</a>
                            </h4>

                            <div class="card-description">

                                {% if product.short_description %}

                                {{product.short_description|safe}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="price-container">
                                <span class="price price-old mx-2 farsi"> {{product.old_price|to_price_pure}}</span>
                                <span class="price price-new mx-2 farsi"> {{product.unit_price|to_price}}</span>
                            </div>
                            <div class="stats mr-auto">
                                <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose"
                                    data-original-title="Saved to Wishlist">
                                    <i class="material-icons">favorite</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div><!-- section -->


    {% endif %}
    <div class="section">
        <div class="container">
            <div class="text-center">

                <img src="{{brand.image}}" height="96">
            </div>
            <h2 class="section-title text-center">{{brand.title}}
                {% if perms.market.change_category %}
                {{brand.get_edit_btn|safe}}
                {% endif %}

            </h2>
            {% if brand.url %}
            <a href="{{brand.url}}" target="_blank">
                <h4 class="text-center">
                    <span class="material-icons">
                        home
                    </span>
                    وب سایت
                    {{brand.persian_title}}
                </h4>
            </a>
            {% endif %}
            <div class="row">
                <div class="col-md-3">
                    {% include "market/includes/sidebar.html" %}
                </div>
                <div class="col-md-9">

                    {% include "market/includes/list-app/template.html" %}
                </div>
            </div>
            <br>

            {% if offers %}

            <h2 class="section-title text-center">جشنواره ها</h2>
            <div class="row">
                {% for offer in offers %}

                <div class="col-md-{{offer.col}}">
                    <div class="card card-background" style="background-image: url('{{offer.thumbnail}}')">
                        <div class="card-body">
                            <h6 class="card-category text-info">{{offer.sub_title}}</h6>
                            <a href="{{offer.get_absolute_url}}">
                                <h3 class="card-title">{{offer.title}}</h3>
                            </a>
                            <div class="card-description">
                                {% if offer.short_description %}

                                {{offer.short_description}}
                                {% endif %}
                            </div>
                            <a href="{{offer.get_absolute_url}}" class="farsi btn btn-white btn-round">
                                <i class="material-icons">reply</i> ادامه مطلب
                            </a>

                            {% if perms.market.change_offer %}

                            <a target="_blank" href="{{offer.get_edit_url}}" class="farsi btn btn-info btn-round">
                                <i class="material-icons">edit</i> ویرایش
                            </a>
                            {% endif %}
                        </div>
                    </div> <!-- end card -->
                </div>
                {% endfor %}
            </div>
            {% endif %}


        </div>
    </div><!-- section -->

</div>
{% endblock %}
{% block script %}
<script>
    let category_id = parseInt("{{category.id}}")
</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% if add_product_form or add_category_form %}
{% include "market/includes/list-app/script.html" %}
{% endif %}
{% endblock %}