{% extends "phoenix/layout.html" %}
{% load to_price %}
{% load to_persian_date %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-6">

  
        <h4 class="main-price">
            <a href="{{supplier.get_absolute_url}}">

                {{menu.supplier}}
            </a>
        </h4>
        <h2 class="title">{{menu.title}}
            {% if perms.market.change_menu %}
            {{menu.get_edit_btn|safe}}
            {% endif %}
        </h2>



    </div>
    <div class="col-6">

        
        {% if me_customer.id %}

        <h4 class="title">
            <a href="{{me_customer.get_absolute_url}}">
                {{me_customer.title}}
            </a>

        </h4>
        {% endif %}


    </div>
</div>

{% include "market/includes/menu-app/template.html" %}

{% endblock %}
{% block modal %}
{% endblock %}
{% block script %}
<script>
    let page_id = "{{menu.id}}"
    let customer_id = parseInt("{{me_customer.id}}")
</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "core/includes/page-like-app/script.html" %}
{% include "market/includes/menu-app/script.html" %}

{% endblock %}