{% extends "market/layout.html" %}
{% load to_price %}
{% load to_persian_date %}
{% load static %}

{% block page_header %}
<div class="page-header header-filter" data-parallax="true" filter-color="rose"
    style="background-image: url('{{shipper.image_header}}');">
    <div class="container">
        <div class="row title-row">
            <div class="col-md-4 mr-auto">
                <a class="btn btn-white float-left" href="{% url 'market:cart' %}">
                    <span class="farsi">

                        0 در سبد خرید
                    </span>
                    <i class="material-icons mx-2">shopping_cart</i>

                </a>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="px-3 text-center">

                        <img src="{{shipper.image}}" class="w-100 mx-5">
                    </div>


                </div>
                <div class="col-md-6 col-sm-6">
                    <h2 class="title">{{shipper.title}}
                        {% if perms.market.change_shipper %}
                        {{shipper.get_edit_btn|safe}}
                        {% endif %}
                    </h2>
                    <h3 class="main-price">{{shipper.region.name}}</h3>
                    <div id="accordion" role="tablist">
                        {% if shipper.short_description %}
                        <div class="card card-collapse">
                            <div class="card-header" role="tab" id="headingShortDescription">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseShortDescription" aria-expanded="true"
                                        aria-controls="collapseShortDescription">
                                        توضیحات کوتاه
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseShortDescription" class="collapse" role="tabpanel"
                                aria-labelledby="headingShortDescription" data-parent="#accordion">
                                <div class="card-body">


                                    {{shipper.short_description|safe}}

                                </div>
                            </div>
                        </div>

                        {% endif %}

                        {% if shipper.description %}
                        <div class="card card-collapse">
                            <div class="card-header" role="tab" id="headingDescription">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseDescription" aria-expanded="true"
                                        aria-controls="collapseShortDescription">
                                        توضیحات کامل
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseDescription" class="collapse" role="tabpanel"
                                aria-labelledby="headingDescription" data-parent="#accordion">
                                <div class="card-body">


                                    {{shipper.description|safe}}

                                </div>
                            </div>
                        </div>

                        {% endif %}




                    </div>


                </div>
            </div>
        </div>
        <div class="features text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="material-icons">local_shipping</i>
                        </div>
                        <h4 class="info-title">2 Days Delivery </h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Refundable Policy</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-rose">
                            <i class="material-icons">favorite</i>
                        </div>
                        <h4 class="info-title">Popular Item</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="related-products">
            <div class="card">
                <div class="card-body">
                    <h3 class="title text-center">محصولات ارائه شده توسط {{shipper.title}}</h3>

                    <div class="table-responsive rtl farsi">
                        <table class="table table-shopping">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-right">محصول</th>
                                    <th class="text-right">سطح</th>
                                    <th class="text-right">واحد</th>
                                    <th class="text-right">قیمت</th>
                                    <th class="text-right">تاریخ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shop in shipper.shop_set.all %}

                                <tr>
                                    <td>
                                        <div class="img-container">
                                            <img class="rounded" src="{{shop.product.thumbnail}}" alt="...">
                                        </div>
                                    </td>
                                    <td class="td-name text-right">
                                        <a href="{{shop.product.get_absolute_url}}">{{shop.product.title}}</a>
                                        <br />
                                        <small>{{shop.product.category.title}}</small>
                                    </td>

                                    <td class="text-right">
                                        <span class="badge badge-primary">

                                            {{shop.level}}
                                        </span>


                                    </td>
                                    <td class="text-right">
                                        <span class="badge badge-danger">
                                            {{shop.unit_name}}

                                        </span>

                                    </td>
                                    <td class="td-number text-right">
                                        {{shop.unit_price|to_price_pure}}
                                        <small class="text-muted">{{CURRENCY}}</small>
                                    </td>

                                    <td class="td-number text-right">
                                        <small class="text-muted">

                                            {{shop.date_added|to_persian_datetime|safe}}
                                        </small>
                                    </td>
                                    <td class="td-actions">
                                        <button type="button" rel="tooltip" data-placement="left" title="Remove item"
                                            class="btn btn-link">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>

                                {% endfor %}
                                <!-- <tr>
                      <td colspan="6"></td>
                      <td colspan="2" class="text-right">
                        <button type="button" class="btn btn-info btn-round">Complete Purchase <i class="material-icons">keyboard_arrow_right</i></button>
                      </td>
                    </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        
        <div class="related-products">
            <div class="card">
                <div class="card-body">
                    <h3 class="title text-center">سفارشات {{shipper.title}}</h3>

                    <div class="table-responsive rtl farsi">
                        <table class="table table-shopping">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-right">محصول</th>
                                    <th class="text-right">سطح</th>
                                    <th class="text-right">واحد</th>
                                    <th class="text-right">قیمت</th>
                                    <th class="text-right">تاریخ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in shipper.order_set.all %}

                                <tr>
                                    <td>
                                        <div class="img-container">
                                            <img class="rounded" src="{{shop.product.thumbnail}}" alt="...">
                                        </div>
                                    </td>
                                    <td class="td-name text-right">
                                        <a href="{{shop.product.get_absolute_url}}">{{shop.product.title}}</a>
                                        <br />
                                        <small>{{shop.product.category.title}}</small>
                                    </td>

                                    <td class="text-right">
                                        <span class="badge badge-primary">

                                            {{shop.level}}
                                        </span>


                                    </td>
                                    <td class="text-right">
                                        <span class="badge badge-danger">
                                            {{shop.unit_name}}

                                        </span>

                                    </td>
                                    <td class="td-number text-right">
                                        {{shop.unit_price|to_price_pure}}
                                        <small class="text-muted">{{CURRENCY}}</small>
                                    </td>

                                    <td class="td-number text-right">
                                        <small class="text-muted">

                                            {{shop.date_added|to_persian_datetime|safe}}
                                        </small>
                                    </td>
                                    <td class="td-actions">
                                        <button type="button" rel="tooltip" data-placement="left" title="Remove item"
                                            class="btn btn-link">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>

                                {% endfor %}
                                <!-- <tr>
                      <td colspan="6"></td>
                      <td colspan="2" class="text-right">
                        <button type="button" class="btn btn-info btn-round">Complete Purchase <i class="material-icons">keyboard_arrow_right</i></button>
                      </td>
                    </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


{% endblock %}

{% block content %}

{% endblock %}
{% block modal %}
{% endblock %}
{% block script %}
{% endblock %}