{% extends "market/layout.html" %}
{% load to_price %}
{% load to_persian_date %}
{% load static %}

{% block page_header %}
<div class="page-header header-filter" data-parallax="true" filter-color="rose"
    style="background-image: url('{{supplier.image_header}}');">
    <div class="container">


    </div>
</div>
<div class="section" id="supplier-title">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="px-3 text-center">

                        <img src="{{supplier.image}}" width="80%" class="mx-5">
                    </div>


                </div>
                <div class="col-md-6 col-sm-6">
                    <h2 class="title">{{supplier.title}}
                        {% if perms.market.change_supplier %}
                        {{supplier.get_edit_btn|safe}}
                        {% endif %}
                    </h2>
                    <h3 class="main-price">
                        <span class="material-icons">
                            public
                        </span>

                        {{supplier.region.name}}
                    </h3>

                    {% include "core/includes/page-like-app/template.html" %}


                    <div class="farsi text-right">

                        <a class="btn btn-warning rounded mx-3" href="{{supplier.get_orders_url}}">
                            <i class="material-icons">
                                ballot
                            </i>
                            لیست سفارشات

                        </a>


                        <a class="btn btn-rose rounded mx-3" href="{{supplier.get_shops_url}}">
                            <i class="material-icons">
                                shopping_cart
                            </i>
                            لیست محصولات

                        </a>
                    </div>
{% if supplier.profile %}
  <div class="text-right farsi px-3">
    <a href="{{supplier.profile.get_absolute_url}}">
        <img src="{{supplier.profile.image}}" width="48" class="rounded-circle"
            alt="">
        {{supplier.profile.name}}
    </a>

  </div>
{% endif %}
                    <div id="accordion" role="tablist">
                        {% if supplier.short_description %}
                        <div class="card card-collapse">
                            <div class="card-header" role="tab" id="headingShortDescription">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseShortDescription" aria-expanded="true"
                                        aria-controls="collapseShortDescription">
                                        توضیحات کوتاه
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseShortDescription" class="collapse" role="tabpanel"
                                aria-labelledby="headingShortDescription" data-parent="#accordion">
                                <div class="card-body">


                                    {{supplier.short_description|safe}}

                                </div>
                            </div>
                        </div>

                        {% endif %}

                        {% if supplier.description %}
                        <div class="card card-collapse">
                            <div class="card-header" role="tab" id="headingDescription">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseDescription" aria-expanded="true"
                                        aria-controls="collapseShortDescription">
                                        توضیحات کامل
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseDescription" class="collapse" role="tabpanel"
                                aria-labelledby="headingDescription" data-parent="#accordion">
                                <div class="card-body">


                                    {{supplier.description|safe}}

                                </div>
                            </div>
                        </div>

                        {% endif %}




                    </div>


                </div>
            </div>
        </div>
        <div class="features text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="material-icons">local_shipping</i>
                        </div>
                        <h4 class="info-title">2 Days Delivery </h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Refundable Policy</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-rose">
                            <i class="material-icons">favorite</i>
                        </div>
                        <h4 class="info-title">Popular Item</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- shops -->
        <div class="related-products" id="shops-title">
            <div class="card">
                <div class="card-body">
                    <h3 class="title text-center">محصولات ارائه شده توسط {{supplier.title}}</h3>

                    <div class="table-responsive rtl farsi">
                        <table class="table table-shopping">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-right">محصول</th>
                                    <th class="text-right">سطح</th>
                                    <th class="text-right">واحد</th>
                                    <th class="text-right">ویژگی</th>
                                    <th class="text-right">قیمت</th>
                                    <th class="text-right">تاریخ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shop in supplier.shop_set.all %}

                                <tr>
                                    <td>
                                        <div class="img-container">
                                            <img class="rounded" src="{{shop.product.thumbnail}}" alt="...">
                                        </div>
                                    </td>
                                    <td class="td-name text-right">
                                        <a href="{{shop.product.get_absolute_url}}">{{shop.product.title}}</a>
                                        <br />
                                        <a href="{{shop.product.category.get_absolute_url}}">
                                            <small>{{shop.product.category.title}}</small>

                                        </a>

                                    </td>

                                    <td class="text-right">
                                        <span class="badge badge-primary">

                                            {{shop.level}}
                                        </span>


                                    </td>
                                    <td class="text-right">
                                        {{shop.available}}

                                        <span class="badge badge-danger">
                                            {{shop.unit_name}}

                                        </span>

                                    </td>
                                    <td class="text-right">
                                        {% for specification in shop.specifications.all %}




                                        <span class="btn-group ltr">
                                            <button class="btn btn-round btn-warning btn-sm">

                                                {{specification.value}}
                                                <div class="ripple-container"></div>
                                            </button>
                                            <button class="btn btn-info btn-sm">
                                                {{specification.name}}
                                            </button>
                                        </span>

                                        {% endfor %}

                                    </td>

                                    <td class="td-number text-right">
                                        {{shop.unit_price|to_price_pure}}
                                        <small class="text-muted">{{CURRENCY}}</small>
                                    </td>

                                    <td class="td-number text-right">
                                        <small class="text-muted">
                                            <small>

                                                {{shop.date_added|to_persian_datetime|safe}}
                                            </small>
                                        </small>
                                    </td>
                                    <td class="td-actions">
                                        <a title="ویرایش" href="{{shop.get_edit_url}}">
                                            <i class="material-icons">
                                                edit
                                            </i>
                                        </a>
                                        <a href="{{shop.get_delete_url}}" target="_blank" rel="tooltip"
                                            data-placement="left" title="حذف از لیست فروش" class="btn btn-link">
                                            <i class="material-icons">close</i>
                                        </a>
                                    </td>
                                </tr>

                                {% endfor %}
                                <!-- <tr>
                      <td colspan="6"></td>
                      <td colspan="2" class="text-right">
                        <button type="button" class="btn btn-info btn-round">Complete Purchase <i class="material-icons">keyboard_arrow_right</i></button>
                      </td>
                    </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <!-- orders -->
        <div class="related-products"  id="orders-title">
            <div class="card">
                <div class="card-body">
                    <h3 class="title text-center">سفارشات {{supplier.title}}</h3>


                    {% include "market/includes/orders-app/template.html" %}

                </div>
            </div>

        </div>

    </div>
</div>


{% endblock %}

{% block content %}

{% endblock %}
{% block modal %}
{% endblock %}
{% block script %}
<script>
    let page_id = "{{supplier.id}}"
</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "core/includes/page-like-app/script.html" %}
{% endblock %}