{% load to_price %}
<div id="accordion-financial-balances">




    <div class="card">
        <div class="card-header" id="heading-financial-balances">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-financial-balances"
                    aria-expanded="true" aria-controls="collapse-financial-balances">
                    ریز حساب های مالی
                </button>
            </h5>
        </div>

        <div id="collapse-financial-balances" class="collapse" aria-labelledby="heading-financial-balances"
            data-parent="#accordion-financial-balances">


            <div class="card-body farsi text-right">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            {% if not account %}
                            <th>
                                حساب
                            </th>
                            {% endif %}
                            <th>
                                ریزحساب
                            </th>


                            {% if not financial_document %}
                            <th>
                                سند
                            </th>
                            {% endif %}

                            <th>
                                بدهکار
                            </th>
                            <th>
                                بستانکار
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>

                            {% for financial_balance in financial_balances %}
                            <tr>
                                {% if not account %}
                                <td>
                                    <a href="{{financial_balance.financial_document.account.get_absolute_url}}">

                                        {{financial_balance.financial_document.account.title}}
                                    </a>

                                </td>
                                {% endif %}
                                <td>
                                    <span class="text-{{financial_balance.color}}">



                                        {{financial_balance.title}}
                                    </span>
                                </td>

                                {% if not financial_document %}
                                <td>
                                    <a href="{{financial_balance.financial_document.get_absolute_url}}">
                                        {{financial_balance.financial_document.title}}
                                    </a>
                                </td>
                                {% endif %}
                                <td>

                                    {{financial_balance.bedehkar|to_price}}
                                </td>

                                <td>


                                    {{financial_balance.bestankar|to_price}}
                                </td>
                                <td>
                                    {% if perms.accounting.change_financialbalance %}
                                    <a href="{{financial_balance.get_edit_url}}" target="_blank" title="ویرایش"
                                        class="mx-2"><i class="fa fa-edit text-info"></i></a>
                                    {% endif %}

                                    {% if perms.accounting.delete_financialbalance %}
                                    <a href="{{financial_balance.get_delete_url}}" target="_blank" title="حذف"
                                        class="mx-2"><i class="fa fa-trash text-danger"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>