{% load to_json %}
<script>
    let organization_units = JSON.parse(`{{organization_units|to_json_organization_units|escapejs}}`)
    let organization_units_app = new Vue({
        el:"#organization-units-app",
        data: {
            organization_units: organization_units,
            search_for:'',
            waiting:false,
        },
        methods: {
            filter:function(){
                this.organization_units = organization_units.filter(organization_unit => organization_unit.title.indexOf(this.search_for) > -1)
         
            },
            to_price: function (vall) {
                let color='primary'
                if (vall<0)
                color='danger'
                if (vall>0)
                color='success'
                vall=to_price(vall,"{{CURRENCY}}")
                return `
                    <span class="text-${color}">${vall}</span>
                    `
            },
            create_employee: function (organization_unit_id) {
                let url = "{% url 'projectmanager:employee' pk=0 %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    organization_unit_id: organization_unit_id
                }
                $.post(url, payload).done((data) => {
                    console.log(data)
                })
            },
           
        }
    })

</script>