<a href="{{invoice.get_absolute_url}}" title="نمایش" class="mx-2"><i class="material-icons text-success">ballot</i></a>


{% if invoice.editable and perms.accounting.change_invoice %}
<a href="{{invoice.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i class="fa fa-edit text-info"></i></a>

<a href="{{invoice.get_edit_url2}}" target="_blank" title="ویرایش" class="mx-2"><i
        class="fa fa-edit text-success"></i></a>
{% endif %}
{% if invoice.editable and perms.accounting.delete_invoice %}
<a href="{{invoice.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
        class="fa fa-trash text-danger"></i></a>
{% endif %}


{% if not invoice.editable %}


<a href="{{invoice.get_print_url}}" target="_blank" title="چاپ" class="mx-2"><i
        class="material-icons text-success">print</i></a>

{% endif %}

{% if not invoice.editable %}


<a href="{{invoice.get_official_print_url}}" target="_blank" title="چاپ فاکتور رسمی" class="mx-2"><i
        class="material-icons text-danger">print</i></a>
{% endif %}


<a href="{{invoice.get_letter_of_intent_url}}" title="استعلام بها" class="mx-2"><i class="fa fa-tasks"
        aria-hidden="true"></i></a>


<a href="{{invoice.get_excel_url}}" title="اکسل" class="mx-2"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>