{% load to_json %}
<script>
    let appointments = JSON.parse(`{{appointments_s|escapejs}}`)
    let appointments_app = new Vue({
        el: "#appointments-app",
        data: {
            appointments: appointments,
            search_for: '',
            waiting: false,
            color: "ALL",
            status: "ALL",
            title: "",
        },
        methods: {
            filter_color: function () {
                if (this.color != 'ALL') {
                    this.appointments = this.appointments.filter(appointment => appointment.color === appointments_app.color)
                }
            },
            filter_status: function () {
                if (this.status != 'ALL') {
                    this.appointments = this.appointments.filter(appointment => appointment.status === appointments_app.status)
                }
            },
            filter_title: function () {
                this.appointments = appointments.filter(appointment => appointment.title.indexOf(this.search_for) > -1 )
            },
            filter: function () {
                this.filter_title()
                this.filter_color()
                this.filter_status()
            },
            to_price: function (vall) {
                let color = 'primary'
                if (vall < 0)
                    color = 'danger'
                if (vall > 0)
                    color = 'success'
                vall = to_price(vall, "{{CURRENCY}}")
                return `
                    <span class="text-${color}">${vall}</span>
                    `
            },
            add_appointment: function () {
                let url = "{% url 'organization:employee' pk=0 %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    title: this.title
                }
                $.post(url, payload).done((data) => {
                    console.log(data)
                })
            },

        }
    })

</script>