{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-appointments">


    <div class="card" id="appointments-app">
        <div class="card-header" id="heading-appointments">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-appointments"
                    aria-expanded="true" aria-controls="collapse-appointments">
                    قرار ملاقات ها


                    <span v-if="appointments.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="appointments.length"></span>
                        </small>
                    </span>


                </button>
            </h5>

        </div>

        <div id="collapse-appointments" class="collapse {% if expand_appointments %} show {% endif %}"
            aria-labelledby="heading-appointments" data-parent="#accordion-appointments">


            <div class="card-body">

                {% load static %}
                <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">عنوان</label>
                            <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ..."
                                @input="filter()">
                        </div>

                    </div>
                    {% if colors_ %}

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" :class="'text-'+color">رنگ</label>
                            <select @change="filter()" v-model="color" class="form-control">
                                <option value="ALL">همه رنگ ها</option>
                                {% for color in colors_ %}
                                <option value="{{color}}">{{color}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}


                    {% if appointment_statuses_ %}

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="" >وضعیت</label>
                            <select @change="filter()" v-model="status" class="form-control">
                                <option value="ALL">همه وضعیت ها</option>
                                {% for status in appointment_statuses_ %}
                                <option value="{{status}}">{{status}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}


                </div>


                <div class="table-responsive">
                    <img v-if="false" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                    <h6 v-if="false">

                        <span class="text-muted">در حال بار گذاری ... </span>
                    </h6>
                    <table class="table table-striped">
                        <thead>
                            <th>
                                قرار ملاقات
                            </th>
                            <th>
                                پروفایل ها
                            </th>
                            <th>
                                مکان
                            </th>
                            <th>
                                زمان
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>


                            <tr v-for="appointment in appointments">
                                <td>
                                    <a :href="appointment.get_absolute_url">
                                        <div class="media">
                                            <div :class="'bg-'+appointment.color" style="width:32px;height:32px;">
                                                &nbsp;
                                            </div>
                                            <div class="media-body mr-3">
                                                <div>
                                                    <span v-text="appointment.title"></span>
                                                </div>
                                                <div>
                                                    <span :class="'badge badge-'+appointment.status_color">
                                                        <span v-text="appointment.status"></span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </a>


                                </td>
                                <td>
                                    <div v-for="profile in appointment.profiles">

                                        <a :href="profile.get_absolute_url">
                                            <img :src="profile.image" class="rounded-circle" width="32" alt="">
                                            <span v-text="profile.name"></span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div v-for="location in appointment.locations">
                                        <a :href="location.get_absolute_url">
                                            <span v-html="location.title"></span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <span v-html="appointment.persian_date_fixed"></span>
                                </td>
                                <td>
                                    {% if perms.scheduler.change_appointment %}
                                    <a :href="appointment.get_edit_url" title="ویرایش" class="mx-2">
                                        <i class="fa fa-edit text-warning"></i>
                                    </a>
                                    {% endif %}

                                    {% if perms.scheduler.delete_appointment %}
                                    <a :href="appointment.get_delete_url" title="حذف" class="mx-2">
                                        <i class="fa fa-trash text-danger"></i>
                                    </a>
                                    {% endif %}


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>