{% load static %}


<div id="accordion-organization-units">


    <div class="card mb-3" id="organization-units-app">
        <div class="card-header" id="heading-organization-units">

            <h5 class="card-title text-center farsi">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-organization-units" aria-expanded="true"
                    aria-controls="collapse-organization-units">
                    لیست واحد های سازمانی ها
                    <span v-if="organization_units.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="organization_units.length"></span>
                        </small>
                    </span>

                </button>
            </h5>


        </div>
        <div id="collapse-organization-units" class="collapse"
            aria-labelledby="heading-organization-units" data-parent="#accordion-organization-units">

            <div class="card-body">
                <div class="my-3">
                    {% if False and add_organization_unit_form and show_organization_units_list %}

                    {% include "organization/includes/organization-units-app/add-organization-unit-form.html" %}
                    {% endif %}

                </div>
                <div v-for="organization_unit in organization_units" class="mb-3">
                    <a :href="organization_unit.get_absolute_url">
                        <div class="media">

                             <img class="rounded" width="48" :src="organization_unit.logo" alt="">

                            <div class="media-body farsi mr-2">

                                
                                <h5>
                                    
                                    <span v-html="organization_unit.title">
                                    </span>

                                </h5>

                                <h6 class="text-muted" v-if="organization_unit.pre_title">
                                    <span v-text="organization_unit.pre_title">

                                    </span>
                                    <span v-html="organization_unit.title">
                                    </span>

                                </h6>




                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-footer ">

                {% if add_organization_unit_form %}
                {% include "organization/includes/organization-units-app/add-organization-unit-form.html" %}

                {% endif %}


                {% if select_organization_unit_form %}
                {% include "organization/includes/organization-units-app/select-organization-unit-form.html" %}

                {% endif %}
            </div>
        </div>
    </div>
</div>