{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-properties">
    <div class="card" id="properties-app">
        <div class="card-header" id="heading-properties">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-properties"
                    aria-expanded="true" aria-controls="collapse-properties">
                    املاک
                    <span v-if="properties.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="properties.length"></span>
                        </small>
                    </span>
                </button>
            </h5>
            {% if page_pre_description %}
            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-properties" class="collapse {% if expand_properties %} show {% endif %}"
            aria-labelledby="heading-properties" data-parent="#accordion-properties">
            <div class="card-body">
                {% load static %}
                <form @submit.prevent="search()">
                    <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">

                    <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ..."
                        @input="filter()">
                </form>
                <div class="table-responsive">
                    <img v-if="false" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                    <h6 v-if="false">

                        <span class="text-muted">در حال بار گذاری ... </span>
                    </h6>
                    <table class="table table-striped">
                        <thead>
                            <th>
                                ملک
                            </th>

                            <th>
                                مساحت
                            </th>

                            <th>
                                قیمت
                            </th>

                            <th>
                                مسئول فروش
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="property in properties">
                                <td>
                                    <a :href="property.get_absolute_url">
                                        <div class="media">
                                            <img :src="property.logo" class="rounded-circle" width="32" alt="">
                                            <div class="media-body mr-3">
                                                <div>

                                                    <span v-text="property.title"></span>
                                                </div>
                                                <div>
                                                    <small class="text-muted">
                                                        <span v-text="property.address"></span>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </a>


                                </td>
                                <td>

                                    <span v-text="property.area"></span> متر مربع
                                    <div v-if="property.area>0">

                                        <small class="text-muted" >هر متر مربع</small>
                                        <small class="text-muted" v-text="to_price(property.price/property.area)"></small>
                                    </div>

                                </td>
                                <td>

                                    <span v-text="to_price(property.price)"></span>
                                    <div>
                                        <small class="text-muted" v-text="(property.price_horuf)"></small>
                                        <small class="text-muted" >{{CURRENCY}}</small>
                                    </div>
                                   
                                </td>
                                <td>
                                    <a v-if="property.agent" :href="property.get_agent_url">
                                        <div class="media">
                                            <img :src="property.agent.logo" width="48" class="rounded" alt="">
                                            <div class="media-body mr-2">
                                                <span v-text="property.agent.title"></span>

                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <div class="small text-muted">

                                        طبقه <span v-text="property.floor"></span>
                                    </div>


                                    <div class="small text-muted">

                                        خواب <span v-text="property.bed_rooms"></span>
                                    </div>


                                    <div class="small text-muted">

                                        پارکینگ <span v-text="property.garage"></span>
                                    </div>
                                </td>
                                <td>

                                    {% if perms.realestate.change_property %}
                                    <a class="mx-2" :href="property.get_edit_url" title="ویرایش" target="_blank">
                                        <i class="fa fa-edit text-warning"></i>
                                    </a>
                                    {% endif %}
                                    {% if perms.realestate.delete_property %}
                                    <a class="mx-2" :href="property.get_delete_url" title="حذف" target="_blank">
                                        <i class="fa fa-trash text-danger"></i>
                                    </a>
                                    {% endif %}


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>