<div class="card" id="active-courses-app">
    <div class="card-header">
        <h4 class="title">
            واحد های درسی فعال
        </h4>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>

                <th>
                    عنوان
                </th>
                {% if not course %}

                <th>
                    واحد درسی
                </th>
                {% endif %}
                {% if not educational_year %}

                <th>
                    سال تحصیلی
                </th>
                {% endif %}
                {% if not school %}

                <th>
                    آموزشگاه
                </th>
                {% endif %}
                <th>
                    اتاق
                </th>
                <th>
                    فعال
                </th>
                <th>

                </th>
            </thead>
            <tbody>
                <tr v-for="active_course in active_courses">

                    <td>
                        <a :href="active_course.get_absolute_url">
                            <span v-text="active_course.title"></span>
                        </a>
                    </td>
                    {% if not course %}

                    <td>
                        <a :href="active_course.course.get_absolute_url">
                            <span v-text="active_course.course.title"></span>
                        </a>

                    </td>
                    {% endif %}
                    {% if not educational_year %}
                    <td>
                        <a :href="active_course.year.get_absolute_url">
                            <span v-text="active_course.year.title"></span>
                        </a>
                    </td>

                    {% endif %}
                    {% if not school %}
                    <td>
                        <a :href="active_course.classroom.school.get_absolute_url">
                            <span v-text="active_course.classroom.school.title"></span>
                        </a>
                    </td>

                    {% endif %}
                    <td>
                        <a :href="active_course.classroom.get_absolute_url">
                            <span v-text="active_course.classroom.title"></span>
                        </a>
                    </td>
                    <td>
                        <span v-text="active_course.year.is_active"></span>

                    </td>
                    <td>
                        {% if perms.school.change_activecourse %}
                        <a :href="active_course.get_edit_url" target="_blank" title="ویرایش"><i
                                class="fa fa-edit text-info"></i></a>
                        {% endif %}

                        {% if perms.school.delete_activecourse %}
                        <a :href="active_course.get_delete_url" target="_blank" title="حذف"><i
                                class="fa fa-trash text-danger"></i></a>
                        {% endif %}

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>