{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-add-drug">


    <div class="card" id="add-drug-app">
        <div class="card-header" id="heading-add-drug">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-add-drug"
                    aria-expanded="true" aria-controls="collapse-add-drug">
                    افزودن داروی جدید





                </button>
            </h5>

        </div>
        <div id="collapse-add-drug" class="collapse" aria-labelledby="heading-add-drug"
            data-parent="#accordion-add-drug">


            <div class="card-body">

                
                <form @submit.prevent="add_drug()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">نام دارو</label>
                                <input type="text" v-model="title" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-plus"></i>
                                افزودن
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>