<div class="card">
    <div class="card-body">
        <h5>

            {% if product_specifications%}


            <a class="mx-3" data-toggle="collapse" href="#collapseSpecification" aria-expanded="true"
                aria-controls="collapseSpecification">
                ویژگی ها
            </a>
            {% endif %}

            {% if product.short_description%}

            <a class="mx-3" data-toggle="collapse" href="#collapseShortDescription" aria-expanded="true"
                aria-controls="collapseShortDescription">
                توضیحات کوتاه
            </a>
            {% endif %}

            {% if product.description %}

            <a class="mx-3" data-toggle="collapse" href="#collapseDescription" aria-expanded="true"
                aria-controls="collapseShortDescription">
                توضیحات کامل
            </a>
            {% endif %}
        </h5>
        <div id="accordion" role="tablist">
            <div id="collapseSpecification" class="collapse" role="tabpanel"
                aria-labelledby="headingSpecification" data-parent="#accordion">
                <div class="card card-collapse">
                    <div class="card-header" role="tab" id="headingSpecification">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseSpecification" aria-expanded="true"
                                aria-controls="collapseSpecification">
                                ویژگی ها <i class="material-icons">keyboard_arrow_down</i>
                            </a>
                        </h5>
                    </div>

                    <div class="card-body">

                        {% include "market/includes/product-specifications-app/template.html" %}

                    </div>
                </div>
            </div>

            {% if product.short_description %}
            <div id="collapseShortDescription" class="collapse" role="tabpanel"
                aria-labelledby="headingShortDescription" data-parent="#accordion">
                <div class="card card-collapse">
                    <div class="card-header" role="tab" id="headingShortDescription">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseShortDescription"
                                aria-expanded="true" aria-controls="collapseShortDescription">
                                توضیحات کوتاه
                                <i class="material-icons">keyboard_arrow_down</i>
                            </a>
                        </h5>
                    </div>

                    <div class="card-body">


                        {{product.short_description|safe}}

                    </div>
                </div>
            </div>

            {% endif %}

            {% if product.description %}

            <div id="collapseDescription" class="collapse" role="tabpanel"
                aria-labelledby="headingDescription" data-parent="#accordion">
                <div class="card card-collapse">
                    <div class="card-header" role="tab" id="headingDescription">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseDescription" aria-expanded="true"
                                aria-controls="collapseShortDescription">
                                توضیحات کامل
                                <i class="material-icons">keyboard_arrow_down</i>
                            </a>
                        </h5>
                    </div>

                    <div class="card-body">


                        {{product.description|safe}}

                    </div>
                </div>
            </div>

            {% endif %}




        </div>
    </div>
</div>