<div class="row mb-5 rtl">
    <div class="col-md-4">

        <a href="{{page.get_market_absolute_url}}">
            <img src="{{page.thumbnail}}" class="w-100 rounded" alt="">
        </a>
    </div>
    <div class="col-md-8 text-right">
            <span class="farsi text-muted small">
                {{page.class_title}}
            </span>
        <a href="{{page.get_market_absolute_url}}">
            
            <h4 class="farsi">
              {{page.title}}

            </h4>

        </a>
        {% if page.short_description %}
        <div class="text-muted small mt-2 farsi">

            {{page.short_description|safe}}
        </div>
        {% endif %}
        <div>

            {% for tag in page.tags.all %}
            <a href="{{tag.get_absolute_url}}">
                
                <span class="badge badge-success farsi">
                    {{tag.title}}
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>