{% extends "loyaltyclub/layout.html" %}
{% load to_price %}
{% load to_persian_date %}
{% load static %}

{% block content %}
<div class="row rtl">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    لیست کوپن ها
                </h4>
            </div>
            <div class="card-body">
                {% include 'loyaltyclub/includes/coupons-app/template.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 

{% block script %}
{% include 'loyaltyclub/includes/coupons-app/script.html' %}
{% endblock %}