{% extends "loyaltyclub/layout.html" %}
{% load to_price %}
{% load to_persian_date %}
{% load static %}


{% block content %}
<div class="row rtl">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>
                    {{customer.account.title}}
                </h5>
            </div>
            <div class="card-body rtl">
                <h5>
                    <a href="{{customer.account.get_absolute_url}}">

                        {{customer.account.title}}
                    </a>
                </h5>
                <h6>
                    مجموع سفارش ها : 
                    {{orders_sum|to_price}}

                </h6>
                <h6 class="text-danger">
                    مجموع تخفیف های اعمال شده : 
                    {{discounts|to_price}}

                </h6>
                <h6 class="text-success">
                    مجموع تخفیف های بدست آمده :
                    {{coupons_sum|to_price}}

                </h6>
                <h6 class="text-warning">
                    مجموع تخفیف های باقیمانده
                    {{coupons_remain|to_price}}

                </h6>

                <h6>
                    مجموع پرداخت ها : 
                    {{paids|to_price}}

                </h6>

                <h6>
                    مجموع هزینه های حمل : 
                    {{ship_fees|to_price}}

                </h6>


             
            </div>
        </div>

    </div>
    <div class="col-md-12">
        {% include 'loyaltyclub/includes/add-order-app/template.html' %}

    </div>
    <div class="col-md-12">
        {% include 'loyaltyclub/includes/orders-app/template.html' %}
    </div>
    <div class="col-md-12">
        {% include 'loyaltyclub/includes/coupons-app/template.html' %}
    </div>
</div>
{% endblock content %}
{% block script %}
{% include 'loyaltyclub/includes/add-order-app/script.html' %}
{% include 'loyaltyclub/includes/orders-app/script.html' %}
{% include 'loyaltyclub/includes/coupons-app/script.html' %}

{% endblock script %}