{% extends "loyaltyclub/layout.html" %}
{% load to_price %}
{% load to_persian_date %}
{% load static %}


{% block content %}
<div class="row rtl">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>
                    {{customer.account.title}}
                  
                 
                </h5>

                

            </div>
            <div class="card-body rtl">
                <h5>
                    <a href="{{customer.account.get_absolute_url}}">

                        {{customer.account.title}}
                    </a>
                    {% if perms.market.change_customer %}
                    <span class="mx-2">

                        {{customer.get_edit_btn|safe}}
                    </span>
                    {% endif %}
                    {% if perms.market.delete_customer %}
                    <span class="mx-2">

                        {{customer.get_delete_btn|safe}}
                    </span>
                    {% endif %}

                </h5>
                {% if customer.inviter.id %}
                <h6>
                    <span class="small text-muted">معرف<span>
                            <a href="{{customer.inviter.get_loyaltyclub_absolute_url}}">
                                {{customer.inviter.account.title}}
                            </a>
                </h6>
                {% endif %}
                 

                <h6>
                    مجموع سفارش ها :
                    {{orders_sum|to_price}}


                </h6>
                <h6 class="text-danger">
                    مجموع تخفیف های اعمال شده :
                    {{discounts|to_price}}

                </h6>
                <h6 class="text-success">
                    مجموع تخفیف های بدست آمده :
                    <small>
                        (
                            {{coupons_count}}
                            عدد
                        )
                    </small>
                    {{coupons_sum|to_price}}

                </h6>
                <h6 class="text-warning">
                    مجموع تخفیف های باقیمانده
                    {{coupons_remain|to_price}}

                </h6>

                <h6>
                    مجموع پرداخت ها :
                    {{paids|to_price}}

                </h6>

                <h6>
                    مجموع هزینه های حمل :
                    {{ship_fees|to_price}}

                </h6>



            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                {% include 'accounting/includes/account-app/navbar.html' %}

            </div>
        </div>

    </div>
    <div class="col-md-12">
        {% include 'loyaltyclub/includes/add-order-app/template.html' %}

    </div>
    <div class="col-md-12">
        {% include 'loyaltyclub/includes/orders-app/template.html' %}
    </div>
    <div class="col-md-12">
        {% include 'loyaltyclub/includes/coupons-app/template.html' %}
    </div>
</div>
{% endblock content %}
{% block script %}
{% include 'loyaltyclub/includes/add-order-app/script.html' %}
{% include 'loyaltyclub/includes/orders-app/script.html' %}
{% include 'loyaltyclub/includes/coupons-app/script.html' %}

{% endblock script %}