<table class="table table.striped">
    <tbody>
        <tr v-for="attendance in attendances">
            <td>
                <span :class="'text-'+attendance.color" v-text="attendance.status"></span>

            </td>
            {% if not student %}
              
            <td>
                <a :href="attendance.student.get_absolute_url">
                    <img :src="attendance.student.account.logo" class="rounded-circle" width="32" alt="">
                    <span v-text="attendance.student.account.title"></span>
                </a>
            </td>
            {% endif %}
            {% if not session %}
              
            <td>
                
                <a :href="attendance.session.get_absolute_url">
                    
                    <span v-text="attendance.session.title"> </span>
                    
                </a>
                
            </td>
            {% endif %}
            <td>


                <span class="small text-muted" v-text="attendance.persian_time_added"></span>

            </td>
            <td>

                <span class="small text-muted" v-text="attendance.description"></span>

            </td>
            <td>
                <span :class="'badge badge-'+attendance.color" v-text="attendance.status"></span>

                <a class="mx-2" :href="attendance.get_edit_url" title="ویرایش" target="_blank">
                    <i class="fa fa-edit text-info"></i>
                </a>
                <a class="mx-2" :href="attendance.get_delete_url" title="حذف" target="_blank">
                    <i class="fa fa-trash text-danger"></i>
                </a>
            </td>
        </tr>
    </tbody>

</table>