{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-vehicles">


    <div class="card" id="vehicles-app">
        <div class="card-header" id="heading-vehicles">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-vehicles"
                    aria-expanded="true" aria-controls="collapse-vehicles">
                    وسایل نقلیه


                    <span v-if="vehicles.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="vehicles.length"></span>
                        </small>
                    </span>


                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-vehicles" class="collapse" aria-labelledby="heading-vehicles"
            data-parent="#accordion-vehicles">


            <div class="card-body">

                {% load static %}
                <form @submit.prevent="search()">
                    <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">

                    <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ..."
                        @input="filter()">
                </form>


                <div class="table-responsive">
                    <img v-if="false" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                    <h6 v-if="false">

                        <span class="text-muted">در حال بار گذاری ... </span>
                    </h6>
                    <table class="table table-striped rtl">
                        <thead>
                            <th>
                                وسیله
                            </th>

                            <th>
                                پلاک
                            </th>
                            <th>
                                برند
                            </th>
                            <th>
                                نوع
                            </th>
                            <th>
                                رنگ
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>


                            <tr v-for="vehicle in vehicles">
                                <td>
                                    <a :href="vehicle.get_absolute_url">
                                        <div class="media">
                                            <img :src="vehicle.thumbnail" class="rounded-circle" width="64" alt="">
                                            <div class="media-body mr-3">
                                                <div>

                                                    <span v-text="vehicle.title"></span>
                                                </div>

                                            </div>
                                        </div>
                                    </a>


                                </td>

                                <td>

                                    <span v-text="vehicle.plaque"></span>

                                </td>
                                <td>

                                    <span v-text="vehicle.brand"></span>

                                </td>
                                <td>

                                    <span v-text="vehicle.vehicle_type"></span>

                                </td>
                                <td>

                                    <span v-text="vehicle.color"></span>

                                </td>

                                <td>
                                    {% if perms.transport.change_vehicle %}
                                    <a class="mx-2" :href="vehicle.get_edit_url" target="_blank" title="ویرایش">

                                        <i class="fa fa-edit text-warning"></i>
                                    </a>
                                    {% endif %}

                                    {% if perms.transport.delete_vehicle %}
                                    <a class="mx-2" :href="vehicle.get_delete_url" target="_blank" title="حذف">

                                        <i class="fa fa-trash text-danger"></i>
                                    </a>
                                    {% endif %}

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>