{% load static %}

{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
<div id="accordion-logs">


    <div class="card" id="logs-app">
        <div class="card-header" id="heading-logs">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-logs" aria-expanded="true"
                    aria-controls="collapse-logs">
                    لاگ ها


                    <span v-if="logs.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="logs.length"></span>
                        </small>
                    </span>
                </button>
            </h5>


        </div>
        <div id="collapse-logs" class="collapse {% if expand_logs %} show {% endif %}" aria-labelledby="heading-logs" data-parent="#accordion-logs">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <th>
                            عنوان
                        </th>
                        <th>
                            کاربر
                        </th>
                        <th>
زمان و تاریخ
                        </th>
                    </thead>
                    <tbody>
                        {% for log in logs %}

                        <tr>
                            <td>
                                <a href="{{log.get_absolute_url}}">

                                    {{log.title}}
                                </a>
                            </td>
                            <td>

                                <div class="media">
                                    <a href="{{profile.get_absolute_url}}">
                                        <img src="{{profile.image}}" class="roounded-circle" width="32" alt="">
                                    </a>
                                    <div class="media-body">
                                        <a href="{{profile.get_absolute_url}}">{{profile.name}}</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{log.date_added|to_persian_datetime|safe}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>


        </div>
    </div>
</div>