{% load to_json %}
<script>
    let options = JSON.parse(`{{options_s|escapejs}}`)
    let options_app = new Vue({
        el: "#options-app",
        data: {
            options: options,
            title: '',
            waiting: false,
            message: { show: false }
        },
        methods: {
            filter: function () {
                options_app.waiting = true

                this.options = options.filter(option => option.title.indexOf(options_app.title) > -1)
                options_app.waiting = false

            },
            to_price: function (vall) {
                let color = 'primary'
                if (vall < 0)
                    color = 'danger'
                if (vall > 0)
                    color = 'success'
                vall = to_price(vall, "")
                return `
                    <span class="text-${color}">${vall}</span>
                    `
            },
            add_option: function () {
                if (options_app.title.length < 5) {
                    options_app.message = {
                        show: true,
                        color: "danger",
                        body: "عنوان را وارد کنید حداقل 5 حرف"
                    }
                    setTimeout(() => {
                        options_app.message = { show: false }
                    }, 2000)
                    return
                }
                options_app.waiting = true
                let url = "{% url 'polls:add_option' %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    title: this.title,
                    poll_id: parseInt(`{{poll.id}}`),
                }
                $.post(url, payload).done((data) => {
                    console.log(data)
                    options_app.waiting = false
                    if (data.result === "SUCCEED") {
                        options_app.message = {
                            show: true,
                            color: "success",
                            body: "با موفقیت افزوده شد."
                        }
                        setTimeout(() => {
                            options_app.message = { show: false }
                        }, 2000)


                        if (typeof options_app != "undefined") {
                            options_app.title = ""
                            options_app.options = options
                            options_app.options.push(data.option)
                        }
                    }
                })
            },




        }
    })

</script>