{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-options">


    <div class="card" id="options-app">
        <div class="card-header" id="heading-options">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-options" aria-expanded="true"
                    aria-controls="collapse-options">
                    انتخاب ها
                    <span v-if="options.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="options.length"></span>
                        </small>
                    </span>


                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-options" class="collapse {% if expand_options %} show {% endif %}"
            aria-labelledby="heading-options" data-parent="#accordion-options">


            <div class="card-body">
                <div class="text-right farsi">
                    <h4 v-if="options.length>0">

                        <small>

                            تعداد کل رای ها :
                        </small>
                        <span class="mx-2" v-text="to_price(options[0].poll.votes_count)"></span>
                    </h4>
                </div>

                {% if add_option_form %}
    
                    {% include "polls/includes/options-app/form.html" %}
    
    
                {% endif %}

                {% load static %}
                <div class="row mb-5" v-for="option in options">
                    <div class="col-md-12">
                        <div style="cursor:pointer" @click="select_option(option)">
                            <div class="text-right farsi">

                                <span  v-text="option.title"></span>
                                <div class="pull-left">


                                    <span class=" " v-text="to_price(option.votes_count)"></span>
                                    <small class="text-muted">
                                        رای
                                    </small>
                                </div>
                                
                            </div>



                        </div>

                        <div style="width: 100%;background-color: rgb(240, 214, 214);">
                            <div :style="option_width(option)">

                            </div>
                        </div>
                    </div>

                </div>


                <div v-if="false" class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <th>
                                انتخاب
                            </th>
                            <th>
                                ایجاد کننده
                            </th>
                            <th>
                                پاسخ ها
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>


                            <tr v-for="option in options">
                                <td>

                                    <div @click="select_option(option)" style="cursor: pointer;" class="media">
                                        <img :src="option.thumbnail" class="rounded" width="32" alt="">
                                        <div class="media-body mr-3">
                                            <div>

                                                <span v-text="option.title"></span>
                                            </div>

                                        </div>
                                    </div>


                                </td>
                                <td>

                                    <a v-if="option.creator" :href="option.creator.get_absolute_url">
                                        <img :src="option.creator.image" class="rounded-circle" width="32" alt="">
                                        <span v-text="option.creator.name"></span>
                                    </a>

                                </td>
                                <td>
                                    <div>
                                        <span class="mx-2" v-text="to_price(option.votes_count)"></span>


                                    </div>
                                    <div style="width: 100%;background-color: rgb(240, 214, 214);">
                                        <div :style="option_width(option)">

                                        </div>
                                    </div>
                                </td>
                                <td>




                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            {% if add_option_form %}
            <div class="card-footer">

                {% include "polls/includes/options-app/form.html" %}


            </div>
            {% endif %}
        </div>


    </div>
</div>