{% load static %}
 

    <div id="page-images-app">
        {% if add_page_image_form and aaaa %}
          
        <h5 class="card-title text-center">
            
            تصاویر
            <span v-if="images.length>0">
                <small class="text-danger mx-2">
                    <span v-text="images.length"></span>
                </small>
            </span>
        </h5>
        
        
        {% endif %}

        <div class="row">






            <div class="col-md-3 farsi text-center" v-for="image in images">


                <h6 class="text-center mt-4 mb-2">
                    <span v-text="image.title"></span>
                    {% if perms.core.change_image %}

                    <a title="ویرایش" target="_blank" :href="image.get_edit_url">

                        <i class="fa fa-edit text-warning"></i>
                    </a>
                    {% endif %}


                    {% if perms.core.delete_image %}

                    <a title="حذف" target="_blank" :href="image.get_delete_url">

                        <i class="fa fa-trash text-danger"></i>
                    </a>
                    {% endif %}


                </h6>
                <a target="_blank" :href="image.get_absolute_url">

                    <img :src="image.thumbnail" width="80%" :alt="image.title" class="rounded">
                </a>


            </div>



        </div>
        {% if add_page_image_form %}
        <p class="text-right farsi">

            <button @click="show_add_page_image_form=true" v-if="!show_add_page_image_form"
                class="btn btn-success mt-4">
                افزودن تصویر
            </button>
        </p>

        <form id="add-page-image-form" v-if="show_add_page_image_form" @submit.prevent="add_page_image()"
            enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-9 text-right">
                    <input required type="text" v-model="add_page_image_form_title" class="farsi form-control"
                        placeholder="عنوان تصویر جدید">


                    <span class="btn btn-raised btn-round btn-default btn-file">
                        <span class="fileinput-new farsi">انتخاب تصویر</span>

                        <input type="file" v-on:change="download_file=true" name="">
                        <div class="ripple-container"></div>
                    </span>


                </div>
                <div class="col-md-3">
                    <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">

                    <button class="farsi btn btn-primary btn-block" type="submit">تایید</button>

                    <button @click="show_add_page_image_form=false" class="farsi btn btn-secondary btn-block"
                        type="reset">انصراف</button>


                </div>
            </div>

        </form>
        {% endif %}

    </div>
 