<div id="accordion-guarantees">


    <div class="card" id="guarantees-app">
        <div class="card-header" id="heading-guarantees">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-guarantees"
                    aria-expanded="true" aria-controls="collapse-guarantees">
                    موجودی انبار





                    <span v-if="availables_list.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="availables_list.length"></span>
                        </small>
                    </span>


                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-guarantees" class="collapse" aria-labelledby="heading-guarantees"
            data-parent="#accordion-guarantees">


            <div class="card-body">

        
            </div>
        </div>


    </div>
</div>