{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-foods">


    <div class="card" id="foods-app">
        <div class="card-header" id="heading-foods">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-foods" aria-expanded="true"
                    aria-controls="collapse-foods">
                    غذا ها


                    <span v-if="foods.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="foods.length"></span>
                        </small>
                    </span>


                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-foods" class="collapse" aria-labelledby="heading-foods" data-parent="#accordion-foods">


            <div class="card-body">

                {% load static %}
                <form @submit.prevent="search()">
                    <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">

                    <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ..."
                        @input="filter()">
                </form>


                <div class="table-responsive">
                    <img v-if="false" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                    <h6 v-if="false">

                        <span class="text-muted">در حال بار گذاری ... </span>
                    </h6>
                    <table class="table table-striped">
                        <thead>
                            <th>
                               غذا
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>


                            <tr v-for="food in foods">
                                <td>
                                    <a :href="food.get_absolute_url">
                                        <div class="media">
                                            <img :src="food.logo" class="rounded-circle" width="32" alt="">
                                            <div class="media-body mr-3">
                                                <div>

                                                    <span v-text="food.title"></span>
                                                </div>
                                                <div>
                                                    <small class="text-muted">
                                                        <span v-text="food.class_title"></span>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </a>


                                </td>
                              
                                <td>

                                


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>