{% load static %}
<div id="accordion-add-customer">
    <div class="card" id="add-customer-app">
        <div class="card-header" id="heading-add-customer">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-add-customer"
                    aria-expanded="true" aria-controls="collapse-add-customer">
                    افزودن مشتری
                </button>
            </h5>


        </div>
        <div id="collapse-add-customer" class="collapse" aria-labelledby="heading-add-customer"
            data-parent="#accordion-add-customer">


            <div class="card-body">

                {% load static %}

                <div class="row">
                    <div class="col-md-6"> 
                        <div class="form-group">
                            <label for="">
                                کد معرف
                            </label>
                            <input placeholder="کد معرف" v-model="inviter_id" class="form-control" type="number">
                            <select v-model="inviter_id" class="form-control" id="">
                                <option :value="customer.id" v-for="customer in customers" v-text="customer.account.title"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">
                                نام
                            </label>
                            <input placeholder="جستجو ..." v-model="search_for" class="form-control" type="text"
                                @input="filter()">
                        </div>
             
                        <div class="form-group">
                            <label for="">
                                انتخاب حساب
                            </label>
                            <select v-model="account_id" class="form-control" id="">
                                <option :value="account.id" v-for="account in accounts" v-text="account.title"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">
                                شماره تلفن همراه
                            </label>
                            <input placeholder="09....." v-model="mobile" class="form-control" type="text"
                                >
                        </div>
                        <div class="form-group">
                            <label for="">
                                انتخاب منطقه
                            </label>
                            <select v-model="region_id" class="form-control" id="" required>
                                {% for region in regions %}
                                  <option value="{{region.id}}">{{region.title}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="text-right">

                            <button @click="add_customer()" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                                افزودن
                            </button>
                            <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">

                        </div>

                    </div>


                    <div class="col-md-12">
                        <div class="text-right farsi mx-3 my-3">


                            <div v-html="message.body" v-if="message.show" :class="'alert alert-'+message.color"></div>
                        </div>
                    </div>



                </div>


            </div>
        </div>
    </div>


</div>