{% extends "realestate/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <p>
                        <a href="{% url 'realestate:properties' %}">
                            املاک
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}

{% endblock script %}