<div class="card">
    <div class="card-header">
        <h4 class="title">
            <a href="{% url 'chef:guests' %}">

                مهمان ها
            </a>
        </h4>
    </div>
    <div class="card-body farsi">
        <ul>
            {% for guest in guests %}
              <li class="text-right farsi mb-2">
                <a href="{{guest.get_absolute_url}}">
                  {{guest.account.title}}
                  </a>
              </li>
            {% endfor %}
        </ul>
    </div>
</div>