{% extends "snapp/layout.html" %}

{% block content %}
<div class="row rtl">
    <div class="col-md-12">
        <h5>
            {{title}}
        </h5>
    </div> 
    <div class="col-4">
        <div class="my-3 mx-2">
            
            <h5 class="text-right">
                <a href="{% url 'snapp:categories' %}">
                    دسته بندی کالاها
                </a>
            </h5>

            <h5 class="text-right">
                <a href="{% url 'snapp:menus' %}">
                    منو ها
                </a>
            </h5>
        </div>
    </div> 
</div>
{% endblock content %}