<script>
    let page_locations = []

</script>
{% if page_locations_s %}
<script>
    page_locations = JSON.parse(`{{page_locations_s|escapejs}}`)

</script>
{% endif %}


<script>
    let locations = []

</script>
{% if locations_s %}
<script>
    locations = JSON.parse(`{{locations_s|escapejs}}`)

</script>
{% endif %}

<script>
    let url_add_loaction = "{% url 'map:add_location' %}"
    let locations_app = new Vue({
        el: "#locations-app",
        data: {
            locations: locations,
            show_add_location_form: false,
            new_location_title: "",
            new_location: "",
            page_locations: page_locations,
            waiting: false,
            search_for: "",
            location_id: 0,
        },
        methods: {
            filter: function () {
                this.locations = locations.filter(location => location.title.indexOf(this.search_for) > -1)
                this.page_locations = page_locations.filter(page_location => page_location.location.title.indexOf(this.search_for) > -1)

            },
            show_add_page_location: function () {
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    page_id: page_id,
                    location_id: this.location_id,
                }
                let url = "{% url 'map:add_page_location' %}"
                var posting = $.post(url_add_loaction, payload)
                posting.done((data) => {
                    if (data.result === 'SUCCEED')
                        locations_app.locations.push(data.location)
                })
            },
            add_location: function () {
                locations_app.waiting = true
                let payload = {
                    location: locations_app.new_location,
                    title: locations_app.new_location_title,
                    page_id: page_id,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                }
                // //console.log(payload)
                var posting = $.post(url_add_loaction, payload);
                posting.fail(function (xhr, status, error) {
                    locations_app.waiting = false
                    showNotification('top', 'center', 'settings', 'danger', 'خطا در ارتباط' + error)
                })
                // Put the results in a div
                posting.done(function (data) {
                    locations_app.waiting = false
                    // //console.log(data)
                    if (data.result === 'SUCCEED') {
                        locations_app.locations.push(data.location)
                        locations_app.new_location_title = ""
                        locations_app.new_location = ""
                    }
                    else {
                    }
                })

            },


        }
    })
</script>