{% load to_persian_date %}
{% load to_price %}
{% load float_to_int %}
{% load static %}
<div class="card">
    <div class="card-body">
        <table class="table">


            <tr>
                <td class="text-left">

                </td>
                <td class="text-right">
                    {% if perms.accounting.change_invoiceline %}
                    <a title="ویرایش" href="{{invoice_line.get_edit_url}}" class="mx-2 text-warning"><i
                            class="fa fa-edit text-warning"></i> ویرایش</a>

                    {% endif %}

                    {% if perms.accounting.delete_invoiceline %}
                    <a title="حذف" href="{{invoice_line.get_delete_url}}" class="mx-2 text-danger"><i
                            class="fa fa-trash text-danger"></i> حذف</a>

                    {% endif %}

                </td>
            </tr>

            <tr>
                <td class="text-left">
                    <small class="text-muted">
                        تاریخ فاکتور
                    </small>
                </td>
                <td class="text-right">
                    <span>
                        {{invoice_line.invoice.transaction_datetime|to_persian_datetime|safe}}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <small class="text-muted">
                        شماره فاکتور
                    </small>
                </td>
                <td class="text-right">
                    <span>
                        <a href="{{invoice_line.invoice.get_absolute_url}}">
                            {{invoice_line.invoice.pk}}

                        </a>
                    </span>
                </td>
            </tr>

            <tr>
                <td class="text-left">
                    <small class="text-muted">
                        فاکتور
                    </small>
                </td>
                <td class="text-right">
                    <span>
                        <a href="{{invoice_line.invoice.get_absolute_url}}">
                            {{invoice_line.invoice.title}}

                        </a>
                    </span>
                </td>
            </tr>

            <tr>
                <td class="text-left">
                    <small class="text-muted">
                        فروشنده
                    </small>
                </td>
                <td class="text-right">

                    <a href="{{invoice_line.invoice.pay_from.get_absolute_url}}">
                        <div class="media">
                            <img src="{{invoice_line.invoice.pay_from.logo}}" class="rounded" width="48" alt="">
                            <div class="media-body">
                                {{invoice_line.invoice.pay_from.title}}

                            </div>
                        </div>
                    </a>
                </td>
            </tr>

            <tr>
                <td class="text-left">
                    <small class="text-muted">
                        خریدار
                    </small>
                </td>
                <td class="text-right">

                    <a href="{{invoice_line.invoice.pay_to.get_absolute_url}}">
                        <div class="media">
                            <img src="{{invoice_line.invoice.pay_to.logo}}" class="rounded" width="48" alt="">
                            <div class="media-body">
                                {{invoice_line.invoice.pay_to.title}}

                            </div>
                        </div>
                    </a>
                </td>
            </tr>


            <tr>
                <td class="text-left">

                    <small class="text-muted">
                        کالا / خدمات
                    </small>
                </td>
                <td class="text-right">

                    <a href="{{invoice_line.product_or_service.get_absolute_url}}">

                        {{invoice_line.product_or_service.title}}
                    </a>
                </td>
            </tr>

            <tr>
                <td class="text-left">
                    <small class="text-muted">
                        مقدار / تعداد درخواست شده
                    </small>
                </td>
                <td class="text-right">
                    {{invoice_line.quantity|float_to_int}} {{invoice_line.unit_name}}
                </td>
            </tr>

            <tr>
                <td class="text-left">
                    <small class="text-muted">
                        قیمت واحد
                    </small>
                </td>
                <td class="text-right">
                    {{invoice_line.unit_price|to_price}}
                </td>
            </tr>

            <tr>
                <td class="text-left">
                    <small class="text-muted">
                        قیمت کل
                    </small>
                </td>
                <td class="text-right">
                    {{invoice_line.line_total|to_price}}
                </td>
            </tr>

  <tr>
                <td class="text-left">
                    <small class="text-muted">
                     </small>
                </td>
                <td class="text-right">
                    <div class="alert alert-info">

                        <p>
                            {{invoice_line.quantity|float_to_int}} {{invoice_line.unit_name}} * {{invoice_line.unit_price|to_price}} =
                            {{invoice_line.line_total|to_price}}
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>