{% load static %}

<div id="accordion-employees">
    <div class="card mb-3" id="employees-app">
        <div class="card-header" id="heading-employees">

            <h5 class="card-title text-center farsi">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-employees"
                    aria-expanded="true" aria-controls="collapse-employees">
                    پرسنل
                    <span v-if="employees.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="employees.length"></span>
                        </small>
                    </span>


                </button>

            </h5>


        </div>
        <div id="collapse-employees" class="collapse" aria-labelledby="heading-employees"
            data-parent="#accordion-employees">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>
                                نام
                            </th>
                            <th>
                                سمت
                            </th>
                            <th>
                                واحد سازمانی
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="employee in employees">
                                <td>
                                    <div class="media">
                                        <img class="rounded-circle mr-3 " width="64" :src="employee.account.profile.image"
                                            alt="">
                                        <div class="media-body farsi">
                                            <a :href="employee.get_absolute_url">
                                                <h5 v-text="employee.title">
                                                </h5>
                                            </a>
                                            <span class="text-info" v-text="employee.mobile"></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-success" v-text="employee.job_title">

                                    </h6>
                                </td>
                                <td>
                                    <div v-if="employee.organization_unit">

                                        <a :href="employee.organization_unit.get_absolute_url">
                                            <span v-text=employee.organization_unit.title></span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    {% if perms.projectmanager.change_employee %}
                                      <a class="mx-2"   :href="employee.get_edit_url" target="_blank" title="ویرایش">
                                          <i class="fa fa-edit text-warning"></i>
                                      </a>
                                    {% endif %}
                                    {% if perms.projectmanager.delete_employee %}
                                      <a class="mx-2"   :href="employee.get_delete_url" target="_blank" title="ویرایش">
                                          <i class="fa fa-trash text-danger"></i>
                                      </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>