{% load static %}

<div id="accordion-employees">
    <div class="card mb-3" id="employees-app">
        <div class="card-header" id="heading-employees">

            <h5 class="card-title text-center farsi">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-employees"
                    aria-expanded="true" aria-controls="collapse-employees">
                    پرسنل
                    <span v-if="employees.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="employees.length"></span>
                        </small>
                    </span>


                </button>

            </h5>


        </div>
        <div id="collapse-employees" class="collapse {% if expand_employees %}show{% endif %}"
            aria-labelledby="heading-employees" data-parent="#accordion-employees">
            <div class="card-body">

                <div v-for="employee in employees" class="mb-3">
                    <div class="media">
                        <img class="rounded-circle mr-3 " width="64" :src="employee.account.profile.image" alt="">
                        <div class="media-body farsi">
                            
                            <a :href="employee.get_absolute_url">
                            <h5 v-text="employee.account.title">
                                
                            </h5>
                        </a>
                                <div>
                                    <h6 class="text-success" v-text="employee.job_title">

                                    </h6>
                                    <a v-if="employee.organization_unit" :href="employee.organization_unit.get_absolute_url">
                                        <small v-text=employee.organization_unit.title></small>
                                    </a>
                                    <span v-else>
                                        <div class="text-muted">

                                            مشخص نشده
                                        </div>
                                    </span>
                                </div>

                            </div>
                        </div>
                </div>


            
            </div>
            {% if add_employee_form %}
            <div class="card-footer ">

                <button class="btn btn-primary" v-if="!show_add_form" @click="show_add_form=true">
                    <i class="material-icons">
                        add
                    </i>
                </button>
                <form v-if="show_add_form" @submit.prevent="add_employee(0)">
                    <div class="row">
                        <div class="col-8">
                            <input @input="filter" required type="text" v-model="add_employee_form_first_name"
                                class="farsi form-control" placeholder="نام پرسنل جدید">
                            <input @input="filter" required type="text" v-model="add_employee_form_last_name"
                                class="farsi form-control" placeholder="نام خانوادگی پرسنل جدید">
                            <input required type="text" v-model="add_employee_form_username" class="farsi form-control"
                                placeholder="نام کاربری پرسنل جدید">
                            <input required type="text" v-model="add_employee_form_password" class="farsi form-control"
                                placeholder="کلمه عبور پرسنل جدید">

                        </div>
                        <div class="col-4">
                            <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">

                            <button v-if="!waiting" class="btn btn-primary btn-block" type="submit">تایید</button>

                        </div>
                    </div>

                </form>


            </div>
            {% endif %}
        </div>
    </div>
</div>