{% load static %}

<div id="accordion-employees">
    <div class="card mb-3" id="employees-app">
        <div class="card-header" id="heading-employees">

            <h5 class="card-title text-center farsi">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-employees"
                    aria-expanded="true" aria-controls="collapse-employees">
                    پرسنل
                    <span v-if="employees.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="employees.length"></span>
                        </small>
                    </span>


                </button>

            </h5>


        </div>
        <div id="collapse-employees" class="collapse {% if expand_employees %}show{% endif %}"
            aria-labelledby="heading-employees" data-parent="#accordion-employees">
            <div class="card-body">

                <div v-for="employee in employees" class="mb-3">
                    <div class="media">
                        <img class="rounded-circle mr-3 " width="64" :src="employee.account.logo" alt="">
                        <div class="media-body mr-2 farsi">
                            
                            <a :href="employee.get_absolute_url">
                            <h5 v-text="employee.account.title">
                                
                            </h5>
                        </a>
                                <div>
                                    <h6 class="text-success" v-text="employee.job_title">

                                    </h6>
                                    <a v-if="employee.organization_unit" :href="employee.organization_unit.get_absolute_url">
                                        <small v-text=employee.organization_unit.title></small>
                                    </a>
                                    <span v-else>
                                        <div class="text-muted">

                                            مشخص نشده
                                        </div>
                                    </span>
                                </div>

                            </div>
                        </div>
                </div>


            
            </div>
           
        </div>
    </div>
</div>