<script>
    let url_serve_meal="{% url 'chef:serve_meal' %}"
    let url_unserve_meal="{% url 'chef:unserve_meal' %}"
    let served_meals = JSON.parse(`{{served_meals_s|escapejs}}`)
    let served_meals_app_data = {
        guest_id: guest_id,
        served_meals: served_meals
    }
    let served_meals_app = new Vue({
        el: "#served-meals-app",
        data: served_meals_app_data,
        methods: {
            serve_meal: function () {
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    meal_id: meal_id,
                    guest_id: this.guest_id,
                }
                let posting = $.post(url_serve_meal, payload)
                posting.done((data) => {
                    if(data.result==='SUCCEED'){
                        served_meals_app.served_meals.reverse()
                        served_meals_app.served_meals.push(data.served_meal)
                        served_meals_app.served_meals.reverse()


                        meal_app.served_count+=data.served_meal.quantity


                    }
                })
            },
            unserve_meal: function (meal_id_,guest_id_) {
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    meal_id: meal_id_,
                    guest_id: guest_id_,
                }
                let posting = $.post(url_unserve_meal, payload)
                posting.done((data) => {
                    if(data.result==='SUCCEED'){
                        served_meals=served_meals_app.served_meals
                        meal_app.served_count-=data.reserved_meal.quantity
                        served_meals_app.served_meals=served_meals.filter(served_meal=>(served_meal.id!=data.reserved_meal.id))
                    }
                })
            },
        }
    })
</script>