<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <h4>
                <small class="text-muted">
                    واحد درسی

                </small>
                <a href="{{course.get_absolute_url}}">
                    {{course.title}}
                </a>
                {% if perms.school.change_course %}

                <a class="mx-2" href="{{course.get_edit_url}}" title="ویرایش" target="_blank"><i
                        class="fa fa-edit text-info"></i></a>
                {% endif %}

                {% if perms.school.delete_course %}

                <a class="mx-2" href="{{course.get_delete_url}}" title="حذف" target="_blank">
                    <i class="fa fa-trash text-danger">
                    </i>
                </a>
                {% endif %}

            </h4>
            <h5>
                سطح:

                        
                        {{course.level}}
                    
            </h5>


            
            <h5>
                تعداد واحد :

                        
                        {{course.course_count}}
                    
            </h5>


            <h5>
                رشته:

                {% for major in course.major_set.all %}
                <a class="mx-2" href="{{major.get_absolute_url}}">
                        
                        {{major.title}}
                    
                </a>
                {% endfor %}
            </h5>

            

        </div>



        <h5 class="mt-4">
            دوره های فعال
        </h5>
        <div class="mb-3">
            {% for active_course in course.activecourse_set.all %}
            <h4>
                <small class="text-muted">

                </small>
                <a href="{{active_course.get_absolute_url}}">

                    {{active_course.title}}
                </a>
                {% if perms.school.change_book %}
                {{active_course.get_edit_btn|safe}}

                {% endif %}
            </h4>
            {% endfor %}
        </div>
    </div>
</div>