<div id="accordion-encryption">


    <div class="card" id="encryption-app">
        <div class="card-header" id="heading-encryption">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-encryption"
                    aria-expanded="true" aria-controls="collapse-encryption">

                    رمز نگاری

                </button>
            </h5>
        </div>
        <div id="collapse-encryption" class="collapse " aria-labelledby="heading-encryption"
            data-parent="#accordion-encryption">

            <div class="card-body">
                <input required type="text" v-model="key" class=" mb-2 farsi form-control" placeholder="کلید رمزنگاری"
                    maxlength="32">

                <button @click="encrypt()" class="btn btn-success" type="submit">رمز نگاری کن</button>




                <button @click="decrypt()" class="btn btn-danger" type="submit">رمز گشایی کن</button>
           
            

                <button @click="decrypt_once()" class="btn btn-danger" type="submit">برای نمایش رمز گشایی کن</button>
           
                <div class="mt-3">

                    <div class="my-3 text-right" v-if="message.show">
                        <span :class="'alert alert-'+message.color">
                            <span class="farsi" v-html="message.body"></span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <h6 class="text-warning">

                    از کلید برای رمز کردن و بازیابی کردن استفاده کنید.


                </h6>



            </div>
        </div>
    </div>

</div>