{% load to_json %}
<script>
    let add_vehicle_app = new Vue({
        el: "#add-vehicle-app",
        data: {
            title:"",
            search_for: '',
            waiting: false,
            message: {
                show: false
            }
        },
        methods: {
            filter: function () {
                this.accounts = accounts.filter(account => account.title.indexOf(this.search_for) > -1)
                if (this.accounts.length > 0)
                    this.account_id = this.accounts[0].id
            },
            add_vehicle: function () {
                let url = "{% url 'transport:add_vehicle' %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    title: this.title
                }
                add_vehicle_app.waiting = true
                console.log(payload)
                $.post(url, payload).done((data) => {
                    add_vehicle_app.waiting = false

                    if (data.result === 'FAILED') {
                        add_vehicle_app.message = {
                            color: "danger",
                            body: "خطا در ایجاد ماشین جدید.",
                            show: true,
                        }
                        setTimeout(() => {
                            add_vehicle_app.message = {
                                show: false,
                            }
                        }, 3000);
                    }
                    if (data.result === 'SUCCEED') {
                        if (typeof vehicles_app != "undefined") {
                            vehicles_app.vehicles.push(data.vehicle)
                        }

                        add_vehicle_app.message = {
                            color: "success",
                            body: "با موفقیت افزوده شد.",
                            show: true,
                        }
                        setTimeout(() => {
                            add_vehicle_app.message = {
                                show: false,
                            }
                        }, 3000);
                    }
                })

            }

        }
    })

</script>