<script>
    let category_id_ = 0
</script>
{% if category %}
<script>
    category_id_ = parseInt("{{category.id}}")


</script>
{% endif %}

<script>
    let products = JSON.parse(`{{products_s|escapejs}}`)
    let products_app_data = {
        products: products,
        show_sell_prices: false,
        search_for: "",
        category_id:category_id_,
        waiting: false,
        message: { show: false }
    }
    let products_app_methods = {
        add: function () {

            let url = "{% url 'accounting:add_product' %}"
            let payload = {
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                title: this.search_for,
                category_id:this.category_id,

            }
            console.log(payload)
            $.post(url, payload).done(data => {
                console.log(data)
                if (data.result === 'FAILED') {

                    products_app.message = { show: true, body: data.message, color: 'danger' }
                    setTimeout(() => {
                        products_app.message = { show: false }
                    }, 3000);
                }
                if (data.result === 'SUCCEED') {
                    products_app.products.push(data.product)
                    products.push(data.product)
                    products_app.search_for = ""
                    products_app.message = { show: true, body: data.message, color: 'success' }
                    setTimeout(() => {
                        products_app.message = { show: false }
                    }, 3000);

                }
            })
        },
        filter: function () {
            add_product_app.title = products_app.search_for
            this.products = products.filter((product) => {
                return (product.title.indexOf(products_app.search_for) > -1)
            })
        },
        to_price: function (vall) {
            return to_price(vall, "{{CURRENCY}}")
        },

        percent: function (service) {
            let aaa = 100
            if (service.buy_price > 0) {

                aaa = 100 * (service.unit_price - service.buy_price) / service.buy_price
            }
            return parseInt(aaa)
        },

    }
</script>
<script>
    let products_app = new Vue({
        el: "#products-app",
        data: products_app_data,
        methods: products_app_methods,
    })
</script>