{% load static %}
{% load to_price %}


<div id="accordion-products">


    <div class="card" id="products-app">
        <div class="card-header" id="heading-products">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-products"
                    aria-expanded="true" aria-controls="collapse-products">
                    لیست کالا ها


                    <span v-if="products.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="products.length"></span>
                        </small>
                    </span>


                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-products" class="collapse {% if expand_products %} show {% endif %}"
            aria-labelledby="heading-products" data-parent="#accordion-products">


            <div class="card-body rtl">
                <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                <h6 v-if="waiting">

                    <span class="text-muted">در حال بار گذاری ... </span>
                </h6>
                <div class="form-group">
                    <label for="">نام کالا</label>
                    <input type="text" v-model="search_for" class="form-control" placeholder=""
                        @input="filter(search_for)">
                </div>
                <div class="text-right my-2">
                    {% if add_product_form %}
                    <button @click="add()" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        افزودن
                    </button>
                    {% endif %}



                    <button @click="show_sell_prices=!show_sell_prices" class="btn btn-danger">نمایش جزئیات</button>
                </div>

                <div class="my-4 text-right" v-if="message.show">
                    <span :class="'alert alert-'+message.color">
                        <span class="farsi" v-html="message.body"></span>
                    </span>
                </div>
                <div class="table-responsive">

                    <table class="table table-striped rtl">
                        <thead>

                            <th>
                                متریال
                            </th>
                            <th>
                                قیمت فروش
                            </th>
                            <th v-if="show_sell_prices">
                                قیمت
                                خرید
                            </th>
                            <th v-if="show_sell_prices">
                                درصد سود
                            </th>

                            <th>
                                موجودی در انبار ها
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="product in products">

                                <td>

                                    <div>

                                        <div class="media">
                                            <a :href="product.get_absolute_url">
                                                <img :src="product.thumbnail" class="rounded" width="64" alt="">
                                            </a>
                                            <div class="media-body mr-2">
                                                <a :href="product.get_absolute_url">

                                                    <span v-text="product.title"></span>
                                                </a>
                                                <div v-if="product.product_or_service_category">
                                                    <a :href="product.product_or_service_category.get_absolute_url">
                                                        <small class="text-muted">
    
                                                            <span v-text="product.product_or_service_category.title"></span>
                                                        </small>
    
    
    
                                                    </a>
                                                </div>
                                            </div>

                                           

                                        </div>

                                    </div>

                                </td>
                                <td>
                                    <div>
                                        <span v-text="to_price(product.unit_price)"></span>
                                    </div>


                                </td>

                                <td v-if="show_sell_prices">

                                    <div v-if="show_sell_prices">
                                        <small v-text="to_price(product.buy_price)" class="text-muted"></small>

                                    </div>

                                </td>

                                <td v-if="show_sell_prices">
                                    <span class="mx-2">

                                        <span v-text="percent(product)" class="text-muted"></span>
                                        %
                                    </span>


                                </td>
                                <td>
                                    <span v-text="product.available"></span>

                                </td>
                                <td>
                                    {% if perms.accounting.change_product %}
                                    <a :href="product.get_edit_url" class="mx-2" title="ویرایش" target="_blank">
                                        <i class="fa fa-edit text-warning"></i>
                                    </a>
                                    {% endif %}

                                    {% if perms.accounting.change_product %}
                                    <a :href="product.get_delete_url" class="mx-2" title="حذف" target="_blank">
                                        <i class="fa fa-trash text-danger"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>