{% load to_price %}
<div class="card" id="products-app">
    <div class="card-body">
        <div class="text-right my-2">

            <button @click="show_sell_prices=!show_sell_prices" class="btn btn-danger">نمایش قیمت خرید</button>
        </div>
        <div class="table-responsive">

            <table class="table table-striped">
                <thead>

                    <th>
                        کالا
                    </th>
                    <th>
                        قیمت

                    </th>

                    <th>
                        موجودی در انبار ها
                    </th>
                </thead>
                <tbody>
                    <tr v-for="product in products">

                        <td>
                            <a :href="product.get_absolute_url">

                                <div class="media">
                                    <img :src="product.thumbnail" class="rounded" width="64" alt="">
                                    <div class="media-body mr-2">
                                        <span v-text="product.title"></span>

                                    </div>
                                </div>

                            </a>
                        </td>
                        <td>
                            <div>
                                <span v-text="to_price(product.unit_price)"></span>
                            </div>
                            <div v-if="show_sell_prices">
                                <small v-text="to_price(product.buy_price)" class="text-muted"></small>

                                <span class="mx-2">

                                    <small v-text="percent(product)" class="text-muted"></small>
                                    %
                                </span>

                            </div>

                        </td>
                        <td>
                            <span v-text="product.available"></span>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>