{% load to_persian_date %}
{% load to_price %}
<div class="card" id="financial-documents-app">
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                    {% if not financial_account %}
                    <th>
                        حساب
                    </th>
                    {% endif %}
                    <th>
                        عنوان سند
                    </th>
                    <th>
                        تاریخ
                    </th>
                    <th>
                        بدهکار
                    </th>
                    <th>
                        بستانکار
                    </th>
                    {% if financial_account %}
                    <th>
                        مانده
                    </th>
                    {% endif %}
                    <!-- <th>
                        دسته بندی
                    </th> -->
                </thead>
                <tbody>


                    <tr v-for="financial_document in financial_documents">
                        {% if not financial_account %}
                        <td>
                            <span v-text="financial_document.account.title"></span>
                        </td>
                        {% endif %}

                        <td>
                            <span v-text="financial_document.title"></span>

                        </td>

                        <td>
                            <span v-text="financial_document.persian_document_datetime"></span>

                        </td>
                        <td>
                            <span v-text="to_price(financial_document.bedehkar,'')"></span>

                        </td>
                        <td>
                            <span v-text="to_price(financial_document.bestankar,'')"></span>

                        </td>
                        {% if financial_account %}
                        <td>
                            <span v-text="to_price(financial_document.rest,'')"></span>

                        </td>
                        {% endif %}

                        <!-- <td>

                            <span v-text="financial_document.category.title"></span>

                        </td> -->
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <p>
            مانده : <span v-text="to_price(rest(),'{{CURRENCY}}')"></span>

        </p>


    </div>
</div>