{% extends "projectmanager/wide-layout.html" %}

{% block content %}


{% include "core/includes/page-app/navbar.html" %}

<div class="row">
    <div class="col-md-3">
        {% include "core/includes/page-app/thumbnail-card.html" %}
        {% include "core/includes/page-app/brief-card.html" %}

        {% include "projectmanager/includes/organization-unit-app/brief-card.html" %}
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                {% include "core/includes/page-description-app/short-description.html" %}
                {% include "core/includes/page-description-app/description.html" %}
            </div>


            <div class="col-md-12">

                {% include "projectmanager/includes/employees-app/template.html" %}


            </div>
            <div class="col-md-4">
                {% include "core/includes/page-downloads-app/template.html" %}
            </div>
            <div class="col-md-4">
                {% include "core/includes/page-links-app/template.html" %}

            </div>
            <div class="col-md-4">
                {% include "core/includes/page-tags-app/template.html" %}

            </div>

            <div class="col-md-12">
                {% include "projectmanager/includes/organization-units-app/template.html" %}
            </div>

            <div class="col-md-12">
                {% include "projectmanager/includes/all-projects-app/template.html" %}
            </div>
            <div class="col-md-12">
                {% include "core/includes/page-images-app/template.html" %}
            </div>
            <div class="col-md-12">
                {% include "core/includes/page-related-app/template.html" %}

            </div>
            
            <div class="col-md-12">
                {% include "core/includes/page-like-app/page-likes.html" %}

            </div>
            
            <div class="col-md-12">
                {% include "core/includes/page-comments-app/template.html" %}

            </div>
            <div class="col-md-12">
                {% include "projectmanager/includes/letters-app/template.html" %}
            </div>
            {% if account %}

            <div class="col-md-12">
                {% include "accounting/includes/financial-documents-app/template.html" %}
            </div> 
            <div class="col-md-12">
                {% include "accounting/includes/transactions-app/template.html" %}
            </div>
   
            {% endif %}
           
           
        </div>
    </div>


</div>

{% endblock content %}


{% block script %}

{% include "core/includes/page-app/script.html" %}

{% include "projectmanager/includes/organization-units-app/script.html" %}
{% include "projectmanager/includes/employees-app/script.html" %}
{% include "projectmanager/includes/all-projects-app/script.html" %}
{% include "projectmanager/includes/letters-app/script.html" %}
{% if account %}
{% include "accounting/includes/financial-documents-app/script.html" %}
{% include "accounting/includes/transactions-app/script.html" %}
   
 {% endif %}





{% endblock script %}