{% extends "projectmanager/wide-layout.html" %}

{% block content %}

{% include "core/includes/page-app/navbar.html" %}


<div class="row">
    <div class="col-md-3">
        {% include "core/includes/page-app/thumbnail-card.html" %}
        {% include "core/includes/page-app/brief-card.html" %}
        {% include "projectmanager/includes/project-app/brief-card.html" %}

    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                {% include "core/includes/page-description-app/short-description.html" %}
                {% include "core/includes/page-description-app/description.html" %}
            </div>

            <div class="col-md-6">
                {% include "projectmanager/includes/projects-app/template.html" %}
            </div>
            <div class="col-md-6">
                {% include "core/includes/page-downloads-app/template.html" %}
                {% include "core/includes/page-links-app/template.html" %}
                {% include "projectmanager/includes/organization-units-app/template.html" %}

            </div>

            <div class="col-md-12">
                {% include "core/includes/page-images-app/template.html" %}

            </div>
            <div class="col-md-12">
                {% include "projectmanager/includes/material-requests-app/template.html" %}
            </div>
            <div class="col-md-12">
                {% include "projectmanager/includes/service-requests-app/template.html" %}
            </div>
        </div>


    </div>






</div>

{% endblock content %}


{% block script %}
<script>
    let page_id = parseInt("{{project.id}}")
    let project_id = parseInt("{{project.id}}")
    let parent_id = parseInt("{{project.id}}")
</script>
{% include "core/includes/page-links-app/script.html" %}
{% include "core/includes/page-images-app/script.html" %}
{% include "core/includes/page-downloads-app/script.html" %}
{% include "projectmanager/includes/organization-units-app/script.html" %}
{% include "projectmanager/includes/material-requests-app/script.html" %}
{% include "projectmanager/includes/service-requests-app/script.html" %}
{% include "projectmanager/includes/projects-app/script.html" %}

{% endblock script %}