{% extends "projectmanager/layout.html" %}

{% block content %}


<div class="row">
    <div class="col-md-4">
        {% include "accounting/includes/invoice-line-app/thumbnail.html" %}
       </div>
       <div class="col-md-8">
        {% include "accounting/includes/invoice-line-app/brief-card.html" %}
       </div>
       


    <div class="col-md-12">
        {% include "projectmanager/includes/request-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "projectmanager/includes/request-signatures-app/template.html" %}
    </div>


</div>
</div>
{% endblock content %}

{% block script %}

{% include "projectmanager/includes/request-app/script.html" %}
{% include "projectmanager/includes/request-signatures-app/script.html" %}

{% include "accounting/includes/invoice-line-app/script.html" %}
{% include "guarantee/includes/guarantees-app/script.html" %}
{% include "warehouse/includes/warehouse-sheets-app/script.html" %}


{% endblock script %}