<div class="cd-section" id="headers">

    <!--     *********     HEADER 3      *********      -->
    <div class="header-3">


        <!-- Carousel Card -->
        <div id="WebIndexCarouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for carousel in carousels %}

                <li data-target="#WebIndexCarouselIndicators" id="slider_link{{forloop.counter0}}"
                    data-slide-to="{{forloop.counter0}}"></li>
                {% endfor %}

            </ol>
            <div class="carousel-inner">
                {% for carousel in carousels %}
                <div class="carousel-item" id="web-index-carousel-item{{forloop.counter0}}">
                    <div class="page-header header-filter1" style="background-image: url('{{carousel.image}}');">
                        <div class="container">
                            {% if carousel.title %}

                            <h1 class="title text-center">{{carousel.title}}</h1>
                            {% endif %}

                            {% if carousel.body %}
                            <div class="farsi">

                                {{carousel.body|safe}}
                            </div>
                            {% endif %}
                            <br>
                            <div class="buttons text-center">
                                {% for link in carousel.links.all %}


                                <a href="{{link.url}}" target="{{link.target}}"
                                    class="farsi mx-2 my-2 btn btn-{{link.color}} btn-lg">
                                    {{link.title}}
                                </a>
                                {% endfor %}



                            </div>
                            {% if perms.web.change_carousel %}
                            <div class="text-center">

                                <a target="_blank" class=" text-warning farsi" href="{{carousel.get_edit_url}}"
                                    title="ویرایش اسلایدر">
                                    <i class="fa fa-edit"></i>
                                    ویرایش
                                </a>
                            </div>

                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
        <a class="carousel-control-prev" href="#WebIndexCarouselIndicators" role="button" data-slide="prev">
            <i class="material-icons">keyboard_arrow_left</i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#WebIndexCarouselIndicators" role="button" data-slide="next">
            <i class="material-icons">keyboard_arrow_right</i>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- End Carousel Card -->
</div>
<!--     *********    END HEADER 3      *********      -->
</div>