<div class="cd-section" id="contactus">
    <!--     *********    CONTACT US 1     *********      -->
    <div class="contactus-1 section-image" style="background-image: url('./assets/img/examples/city.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="title">

                        {{contact_us_title.value}}
                        {% if perms.core.change_parameter %}
                        {{contact_us_title.get_edit_btn|safe}}
                        {% endif %}


                    </h2>
                    <h5 class="description">
                        {{contact_us_description.value}}
                        {% if perms.core.change_parameter %}
                        {{contact_us_description.get_edit_btn|safe}}
                        {% endif %}



                    </h5>
                    <div class="info info-horizontal">

                        <div class="description">
                            <h4 class="">

                                <i class="material-icons ml-3">pin_drop</i>
                                آدرس دفتر
                            </h4>
                            <p class="mr-5 text-light">
                                {{office_address.value}}
                                {% if perms.core.change_parameter %}
                                {{office_address.get_edit_btn|safe}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">

                        <div class="description">
                            <h4 class="">

                                <i class="material-icons ml-3">phone</i>

                                تلفن دفتر
                            </h4>
                            <p class="mr-5">
                                <a href="tel:{{office_tel}}" class="text-light">

                                    {{office_tel.value}}
                                    {% if perms.core.change_parameter %}
                                    {{office_tel.get_edit_btn|safe}}
                                    {% endif %}

                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal ">

                        <div class="description">
                            <h4 class="text-right">

                                <i class="material-icons ml-3">phone</i>

                                همراه
                            </h4>
                            <p class="mr-5">
                                <a href="tel:{{office_mobile}}" class="text-light">
                                    <span class="ltr">

                                        {{office_mobile.value}}
                                    </span>
                                    {% if perms.core.change_parameter %}
                                    {{office_mobile.get_edit_btn|safe}}
                                    {% endif %}
                                </a>
                            </p>
                        </div>
                    </div>


                    <div class="info info-horizontal">

                        <div class="description">
                            <h4 class="text-right">

                                <i class="material-icons ml-3">phone</i>
                                ایمیل
                            </h4>
                            <p class="mr-5">
                                <a href="mailto:{{office_email}}" class="text-light">
                                    {{office_email.value}}
                                    {% if perms.core.change_parameter %}
                                    {{office_email.get_edit_btn|safe}}
                                    {% endif %}
                                </a>
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-md-5 ml-auto ltr">
                    <div class="card card-contact">

                        {% include "web/includes/contact-us-app/template.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END CONTACT US 1      *********      -->

</div>