<div class="cd-section" id="teams">
    <!--     *********    TEAM 1     *********      -->
    <div class="team-1" id="team-1">
        <div class="container">
            <div class="row rtl farsi">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-center farsi">
                        {{ourteam_title_param.value}}
                        {% if perms.core.change_parameter %}
                        {{ourteam_title_param.get_edit_btn|safe}}
                          
                        {% endif %}
                    </h2>
                    <h5 class="description text-center farsi">
                        {{ourteam_description_param.value}}
                        {% if perms.core.change_parameter %}
                        {{ourteam_description_param.get_edit_btn|safe}}
                          
                        {% endif %}

                    </h5>
                    {% if perms.web.add_ourteam %}
                    <div class="text-center">
                        <a target="_blank" href="{{ADMIN_URL}}{{APP_NAME}}/ourteam/add/?for_home=1" title="افزودن">
                            <i class="fa fa-plus text-success"></i>
                        </a>
                    </div>
                    {% endif %}

                </div>
            </div>
            <div class="row">
                {% for our_team in our_teams %}


                <div class="col-md-3 mr-auto ml-auto">
                    <div class="card card-profile card-plain">
                        <div class="card-header card-avatar">
                            <a href="{{our_team.get_absolute_url}}">
                                <img class="img" src="{{our_team.profile.image}}" />
                            </a>
                        </div>
                        <div class="card-body ">
                            <a href="{{our_team.get_absolute_url}}">
                                <h4 class="card-title text-center farsi">{{our_team.profile.name}}</h4>
                            </a>
                            
                            <h6 class="card-category text-muted text-center farsi">{{our_team.job}}</h6>
                            <p class="card-description text-center farsi">
                                {% if our_team.short_description %}

                                {{our_team.short_description}}
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i
                                    class="fa fa-facebook-square"></i></a>
                            <a href="#pablo" class="btn btn-just-icon btn-link btn-google"><i
                                    class="fa fa-google"></i></a>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <!--     *********    END TEAM 1      *********      -->
</div>