<div class="card" id="add-student-to-active-course-app">
    <div class="card-body">
        <h5>
            افزودن دانش آموز
        </h5>
        <form @submit.prevent="add_student()">

            <div class="form-group">
                <label for="">شناسه </label>
                <input type="text" class="form-control" v-model="search_for" @input="filter()">
                <select name="" v-model="student_id" class="form-control">

                    <option v-for="student in all_students" :value="student.id" v-text="student.account.title"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">
                افزودن
            </button>
        </form>
    </div>
</div>