{% load to_price %}
<div class="card" id="services-app">
    <div class="card-body">
        <div class="text-right">

            <button @click="show_sell_prices=!show_sell_prices" class="btn btn-danger">نمایش قیمت خرید</button>
        </div>
        <div class="table-responsive">

            <table class="table table-striped">
                <thead>

                    <th>
                        سرویس
                    </th>
                    <th>
                        قیمت

                    </th>

                </thead>
                <tbody>
                    <tr v-for="service in services">

                        <td>
                            <a :href="service.get_absolute_url">

                                <div class="media">
                                    <img :src="service.thumbnail" class="rounded" width="64" alt="">
                                    <div class="media-body mr-2">
                                        <span v-text="service.title"></span>

                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            <div>
                                <span v-text="to_price(service.unit_price)"></span>
                            </div>
                            <div v-if="show_sell_prices">
                                <small v-text="to_price(service.buy_price)" class="text-muted"></small>
                            </div>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>