{% load to_persian_date %}
{% load static %}
{% load to_price %}
{% load to_amount_color %}
<div id="accordion-search">


    <div class="card" id="search-app">
        <div class="card-header" id="heading-search">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-search" aria-expanded="true"
                    aria-controls="collapse-search">
                    جستجو


                </button>
            </h5>


        </div>
        <div id="collapse-search" class="collapse" aria-labelledby="heading-search" data-parent="#accordion-search">


            <div class="card-body">

                {% load static %}
                <form @submit.prevent="search()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">از تاریخ </label>
                                <date-picker v-model="start_date"></date-picker>

                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">تا تاریخ </label>
                                <date-picker v-model="end_date"></date-picker>

                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">حساب </label>
                                <select v-model="account_id" class="form-control">
                                    <option value="0">همه</option>
                                    {% for account in accounts %}
                                    <option value="{{account.id}}">{{account.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">جستجو </label>
                                <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ...">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">برای گزارش گیری </label>

                                <button class="btn btn-info" type="submit">گزارش گیری</button>
                            </div>
                        </div>




                    </div>

                </form>



            </div>
        </div>


    </div>
</div>