{% load static %}
<div id="accordion-add-trip-apps">


    <div class="card" id="add-trip-app">
        <div class="card-header" id="heading-add-trip-apps">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-add-trip-apps"
                    aria-expanded="true" aria-controls="collapse-add-trip-apps">
                    افزودن سفر جدید



                </button>
            </h5>


        </div>
        
        <div id="collapse-add-trip-apps" class="collapse {% if show_add_trip_form_collapse %}show{% endif %}" aria-labelledby="heading-add-trip-apps"
            data-parent="#accordion-add-trip-apps">


            <div class="card-body">

                <div class="row">
                    <div class="col-md-6 text-right">
                        <div class="for-group">
                            <label for="">عنوان سفر</label>
                            <input type="text" v-model="title" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="for-group">
                            <label for="">دسته بندی سفر</label>
                            <select v-model="trip_category_id" class="form-control">
                                {% for trip_category in trip_categories %}
                                <option value="{{trip_category.id}}">{{trip_category.title}}</option>

                                {% endfor %}
                            </select>

                        </div>
                    </div>

                    <div class="col-md-12 text-right">
                        <div class="for-group">
                            <label for="">توضیحات سفر</label>
                            <input type="text" v-model="description" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="">مسیر</label>
                            <select @input="select_path()" v-model="trip_path_id" class="form-control">
                                <option v-for="trip_path in all_trip_paths" :value="trip_path.id"
                                    v-text="trip_path.title+'   ('+to_price(trip_path.cost)+' {{CURRENCY}} )'"></option>
                            </select>
                            <button @click="add_trip_path()" class="btn btn-info">
                                <i class="fa fa-plus"></i>
                                افزودن
                            </button>
                            <div class="alert alert-info" v-if="trip_paths.length>0">
                                <div v-for="trip_path in trip_paths">

                                    <h6>
                                        <a :href="trip_path.get_absolute_url">
                                            <span v-text="trip_path.title">

                                            </span>
                                        </a>
                                        <small>
                                            (

                                            <span v-text="to_price(trip_path.cost)">
                                              

                                            </span>  {{CURRENCY}}
                                            )
                                        </small>
                                        <span>
                                            <button @click="remove_trip_path(trip_path.id)" class="btn btn-link">
                                                <span class="text-danger">
                                                    <i class="fa fa-trash"></i>
                                                    حذف
                                                </span>
                                            </button>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 text-right">
                        <div class="for-group">
                            <label for="">هزینه سفر :
                                <small class="mx-2">

                                    <span v-text="to_price(amount)"></span> {{CURRENCY}}
                                </small>
                            </label>
                            <input type="number" v-model="amount" class="form-control">
                        </div>


                        <div class="for-group">
                            <label for="">تاخیر سفر</label>
                            <input type="number" v-model="delay" class="form-control">
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">مسافر ها</label>
                            <select v-model="passenger_id" class="form-control">
                                <option v-for="passenger in all_passengers" :value="passenger.id"
                                    v-text="passenger.title"></option>

                            </select>
                            <button @click="add_passenger()" class="btn btn-warning">
                                <i class="fa fa-plus"></i>
                                افزودن
                            </button>

                            <div class="alert alert-warning" v-if="passengers.length>0">
                                <div v-for="passenger in passengers">

                                    <h5>
                                        <a :href="passenger.get_absolute_url">
                                            <span v-text="passenger.title">

                                            </span>
                                        </a>

                                        <span>
                                            <button @click="remove_passenger(passenger.id)" class="btn btn-link">
                                                <span class="text-danger">
                                                    <i class="fa fa-trash"></i>
                                                    حذف
                                                </span>
                                            </button>
                                        </span>

                                    </h5>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">راننده</label>
                            <select v-model="driver_id" class="form-control">
                                {% for driver in drivers %}

                                <option value="{{driver.id}}">{{driver.title}}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="">ماشین</label>
                            <select v-model="vehicle_id" class="form-control">
                                {% for vehicle in vehicles %}
                                <option value="{{vehicle.id}}">{{vehicle.title}}</option>

                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">سرویس گیرنده</label>
                            <select v-model="client_id" class="form-control">
                                {% for client in clients %}
                                <option value="{{client.id}}">{{client.title}}</option>

                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <div>
                                <button @click="add_trip()" class="btn btn-success">
                                    <i class="fa fa-plus"></i>
                                    افزودن سفر
                                </button>
                            </div>

                            <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">
                            <div v-if="message.show" :class="'alert alert-'+message.color">
                                <div class="farsi my-3 text-right">

                                    <div v-html="message.text"></div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>





            </div>
        </div>


    </div>
</div>