
{% extends "transport/layout.html" %}


{% block content %}


  <div class="row">
    {% if add_driver_form %}
      
    <div class="col-md-12">
      {% include "transport/includes/add-driver-app/template.html" %}
    </div>
    {% endif %}
    <div class="col-md-12">
        {% include "transport/includes/drivers-app/template.html" %}
    </div>
  </div>
{% endblock content %}


{% block script %}
{% include "transport/includes/drivers-app/script.html" %}

{% if add_driver_form %}

{% include "transport/includes/add-driver-app/script.html" %}
{% endif %}
{% endblock script %}