{% extends "transport/layout.html" %}
 



{% block content %}
<div class="row">
        
    {% if add_service_man_form %}
      
    <div class="col-md-12">
      {% include "transport/includes/add-service-man-app/template.html" %}
    </div>
    {% endif %}

    <div class="col-md-12">

        {% include "transport/includes/service-mans-app/template.html" %}
    </div>
</div>
  
{% endblock content %}
{% block script %}
{% include "transport/includes/service-mans-app/script.html" %}
{% if add_service_man_form %}
      
<div class="col-md-12">
  {% include "transport/includes/add-service-man-app/script.html" %}
</div>
{% endif %}

{% endblock script %}