{% extends "transport/layout.html" %}

{% load to_price %}
{% load to_amount_color %}

{% block content %}
<div class="text-center mt-3 mb-3">

    <img src="{{account.logo}}" width="128" class="rounded" alt="">
</div>

<h4 class="text-center">
    {{account.title}}


</h4>

<h4 class="text-center">

    <a href="{{account.profile.get_absolute_url}}" target="_blank" title="پروفایل" class="mx-2"><i
            class="fa fa-user text-info"></i></a>

    {% if perms.transport.change_driver %}
    <a href="{{account.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i
            class="fa fa-edit text-info"></i></a>
    {% endif %}

    {% if perms.transport.delete_driver %}
    <a href="{{account.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
            class="fa fa-trash text-danger"></i></a>
    {% endif %}

</h4>
<h4 class="text-center">
    <span class="text-{{account.balance.rest|to_amount_color}}">
        مانده :
        {{account.balance.rest|to_price}}
    </span>
</h4>
<div class="row">

    <div class="col-md-12">
        {% include "accounting/includes/financial-documents-app/template.html" %}

    </div>
    <div class="col-md-12">

        {% include "accounting/includes/financial-balances-app/template.html" %}
    </div>
    <div class="col-md-12">

        {% include "accounting/includes/invoices-app/template.html" %}
    </div>
    <div class="col-md-12">
        {% include "accounting/includes/payments-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "accounting/includes/transactions-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "transport/includes/maintenances-app/template.html" %}
    </div>
    <div class="col-md-12">
        {% include "transport/includes/trips-app/template.html" %}
    </div>
    {% if add_maintenance_form %}

    <div class="col-md-12">
        {% include "transport/includes/add-maintenance-app/template.html" %}
    </div>
    {% endif %}


</div>
{% endblock content %}


{% block script %}
{% include "accounting/includes/financial-documents-app/script.html" %}
{% include "accounting/includes/payments-app/script.html" %}
{% include "accounting/includes/transactions-app/script.html" %}
{% include "transport/includes/trips-app/script.html" %}
{% if add_maintenance_form %}
{% include "transport/includes/add-maintenance-app/script.html" %}
{% endif %}
{% include "transport/includes/maintenances-app/script.html" %}

{% endblock script %}