{% extends "transport/wide-layout.html" %}


{% block content %}
<h4 class="text-center">
  {{trip_category.title}}
  {% if perms.transport.change_tripcategory %}
  <a href="{{trip_category.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i
      class="fa fa-edit text-info"></i></a>

  {% endif %}
  {% if perms.transport.delete_tripcategory %}
  <a href="{{trip_category.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
      class="fa fa-trash text-danger"></i></a>
  {% endif %}

</h4>

<div class="row">
  {% if add_trip_form %}
  <div class="col-md-12">
    {% include "transport/includes/add-trip-app/template.html" %}
  </div>
  {% endif %}
  <div class="col-md-12">
    {% include "transport/includes/trips-app/template.html" %}
  </div>
</div>
{% endblock content %}


{% block script %}
{% include "transport/includes/trips-app/script.html" %}
{% if add_trip_form %}
{% include "transport/includes/add-trip-app/script.html" %}
{% endif %}
{% endblock script %}