{% extends "transport/layout.html" %}

{% block content %}

{% include "accounting/includes/transaction-app/navbar.html" %}

<div class="row">
    <div class="col-md-4">
        {% include "core/includes/page-app/brief-card.html" %}
    </div>
    <div class="col-md-8">
        {% include "accounting/includes/transaction-app/brief.html" %}

    </div>
    <div class="col-md-12">
        {% include "transport/includes/passengers-app/template.html" %}

    </div>
    <div class="col-md-4">
        {% include "core/includes/page-links-app/template.html" %}
    </div>
    <div class="col-md-4">
        {% include "core/includes/page-downloads-app/template.html" %}

    </div>

    <div class="col-md-4">
        {% include "core/includes/page-tags-app/template.html" %}

    </div>
    <div class="col-md-12">
        {% include "core/includes/page-images-app/template.html" %}

    </div>
    <div class="col-md-12">
        {% include "accounting/includes/financial-documents-app/template.html" %}
    </div>
    <div class="col-md-12">
        {% include "accounting/includes/financial-balances-app/template.html" %}
    </div>
</div>
{% endblock content %}



{% block script %}
{% include "accounting/includes/transaction-app/script.html" %}
{% include "transport/includes/passengers-app/script.html" %}

{% endblock script %}