{% extends "transport/layout.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    {% include "core/includes/page-app/navbar.html" %}

  </div>
  <div class="col-md-12">
    {% include "transport/includes/vehicle-app/brief-card.html" %}

  </div>

  <div class="col-md-12">
    {% include "transport/includes/trips-app/template.html" %}
</div>
  {% if add_trip_form %}

  <div class="col-md-12">
    {% include "transport/includes/add-trip-app/template.html" %}
  </div>
  {% endif %}

  <div class="col-md-12">
    {% include "transport/includes/work-shifts-app/template.html" %}
  </div>

  
  <div class="col-md-12">
    {% include "transport/includes/maintenances-app/template.html" %}
  </div>

</div>
{% endblock content %}
{% block script %}
{% include "transport/includes/vehicle-app/script.html" %}
{% if add_trip_form %}

{% include "transport/includes/add-trip-app/script.html" %}
{% endif %}
{% include "transport/includes/trips-app/script.html" %}
{% include "transport/includes/work-shifts-app/script.html" %}
{% include "transport/includes/maintenances-app/script.html" %}

{% endblock script %}