{% extends "scheduler/layout.html" %}

{% block content %}
<h4 class="text-center">
  Scheduler
</h4>

<div class="row">
  {% if add_appointment_form %}

  <div class="col-md-12">
    {% include "scheduler/includes/add-appointment-app/template.html" %}
  </div>
  {% endif %}
  <div class="col-md-12">
    {% include "scheduler/includes/appointments-app/template.html" %}
  </div>
</div>
{% endblock content %}

{% block script %}
{% include "scheduler/includes/appointments-app/script.html" %}
{% if add_appointment_form %}
{% include "scheduler/includes/add-appointment-app/script.html" %}
{% endif %}
{% endblock script %}