{% load static %}

<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>
<script>
    let status = "{{project.status}}"
    let weight = parseInt("{{project.weight}}")
    let url_edit_project = "{% url 'projectmanager:edit_project' %}"
    let employer_id = 0
    try {
        employer_id = parseInt("{{project.employer.id}}")

    } catch (error) {
 
    }
    let contractor_id = 0
    try {

        contractor_id = parseInt("{{project.contractor.id}}")
    } catch (error) {

    }
    let title="{{project.title}}"
    let project_app = new Vue({
        el: "#project-edit-app",
        data: {

            start_date: project.persian_start_date,
            end_date: project.persian_end_date,
            percentage_completed: project.percentage_completed,
            status: status,
            waiting: false,
            employer_id: employer_id,
            contractor_id: contractor_id,
            SUCCEED: false,
            archive: false,
            title:title,
            weight:weight,
        },
        components: {
            DatePicker: VuePersianDatetimePicker
        },
        methods: {
            edit_project: function () {
                project_app.waiting = true
                let payload = {
                    project_id: project.id,
                    percentage_completed: this.percentage_completed,
                    start_date: this.start_date,
                    end_date: this.end_date,
                    status: this.status,
                    archive: this.archive,
                    employer_id: this.employer_id,
                    title:this.title,
                    contractor_id: this.contractor_id,
                    weight: this.weight,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                }


                var posting = $.post(url_edit_project, payload);
                posting.fail(function (xhr, status, error) {
                    project_app.waiting = false
                    showNotification('top', 'center', 'settings', 'danger', 'خطا در ارتباط' + error)
                })
                // Put the results in a div
                posting.done(function (data) {

                    project_app.waiting = false
                    if (data.result === 'SUCCEED') {
                        // project_timing_app.services.push(data.service)
                        // project_timing_app.add_service_form_title = ""
                        project_app.SUCCEED = true

                        setTimeout(() => {
                            project_app.SUCCEED = false
                        }, 3000);

                    }
                    else {
                    }
                })

            },

        }
    })
</script>