<form @submit.prevent="add_service_man()">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="">شناسه</label>
            </div>
            <input type="number" v-model="profile_id" class="form-control">
            <select type="text" v-model="profile_id" id="" class="form-control farsi">
                {% for profile in profiles %}
                  
                <option value="{{profile.id}}">{{profile.name}}</option>
                {% endfor %}
            </select>

        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label for="">عنوان</label>
            </div>
            <input type="text" v-model="title" class="form-control">
        </div>

        <div class="col-md-3">

            <button class="btn btn-success btn-sm" type="submit">

                <span class="material-icons">
                    add
                </span>
            </button>
        </div>
    </div>
</form>