<div class="card h-100" id="service-mans-app">

    <div class="card-header">
        <h4 class="title text-center">
            <a href="{% url 'vehicles:service_mans' %}">

                سرویس کار ها
            </a>
        </h4>
    </div>
    <div class="card-body">
        <ul class="nav flex-column" style="padding-right:10px">


            <li class="nav-item" v-for="service_man in service_mans">

                <div class="media">
                    <a class="nav-link farsi docs-creator" :href="service_man.get_absolute_url">
                        <img :src="service_man.profile.image" class="rounded-circle" width="48" alt="">
                    </a>
                    <div class="media-body">
                        <div>
                            <a :href="service_man.get_absolute_url">
                                <span v-text="service_man.title"></span>
                            </a>
                        </div>

                        <div>
                            <a :href="service_man.profile.get_absolute_url">
                               <small>
                                <span v-text="service_man.profile.name"></span>

                                </small>
                            </a>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
    {% if add_serviceman_form %}
    <div class="card-footer">
        {% include "transport/includes/service-mans-app/add-service-man-form.html" %}
       
    </div>
      
    {% endif %}

</div>