{% extends "organization/layout.html" %}



{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="farsi card-body">
                <a href="{% url 'projectmanager:employees' %}">
                    <h6>
                        لیست کارکنان
                    </h6>
                </a>
                <a href="{% url 'projectmanager:organization_units' %}">
                    <h6>
                        لیست واحد های سازمانی
                    </h6>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}