{% load to_persian_date %}
{% load to_price %}





<div id="accordion-financial-documents">


    <div class="card"  id="financial-documents-app">
        <div class="card-header" id="heading-financial-documents">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-financial-documents"
                    aria-expanded="true" aria-controls="collapse-financial-documents">
                    سند های مالی

                    <span v-if="financial_documents.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="financial_documents.length"></span>
                        </small>
                    </span>

                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-financial-documents" class="collapse" aria-labelledby="heading-financial-documents"
            data-parent="#accordion-financial-documents">

            <div class="card-body">
                <div class="table-responsive">



                    <table class="table table-striped">
                        <thead>
                            <th>
                                عنوان سند
                            </th>
                            {% if not financial_account %}
                            <th>
                                حساب
                            </th>
                            {% endif %}
                            <th>
                                دسته بندی
                            </th>
                            <th>
                                تاریخ
                            </th>
                            <th>
                                بدهکار
                            </th>
                            <th>
                                بستانکار
                            </th>
                            {% if financial_account %}
                            <th>
                                مانده
                            </th>
                            {% endif %}
                        </thead>
                        <tbody>


                            <tr v-for="financial_document in financial_documents">
                                <td>
                                    <div>
                                        <a :href="financial_document.get_absolute_url">
                                            <span v-text="financial_document.title"></span>

                                        </a>
                                    </div>

                                    <div>
                                        {% if perms.accounting.change_financialdocument %}
                                        <a :href="financial_document.get_edit_url" target="_blank" title="ویرایش"
                                            class="mx-2"><i class="fa fa-edit text-info"></i></a>
                                        {% endif %}

                                        {% if perms.accounting.delete_financialdocument %}
                                        <a :href="financial_document.get_delete_url" target="_blank" title="حذف"
                                            class="mx-2"><i class="fa fa-trash text-danger"></i></a>
                                        {% endif %}

                                    </div>
                                    <div v-if="financial_document.transaction">
                                        <a :href="financial_document.transaction.get_absolute_url">
                                            <!-- <span v-text="financial_document.transaction.title"></span> -->
                                            <span class="text-muted small">
                                                تراکنش

                                            </span>
                                        </a>
                                    </div>

                                </td>

                                {% if not financial_account %}
                                <td>
                                    <a :href="financial_document.account.get_absolute_url">
                                        <span v-text="financial_document.account.title"></span>
                                    </a>
                                    {% if financial_document.tags.all %}
                                    {% for tag in financial_document.tags.all %}
                                    <a href="{{tag.get_absolute_url}}">
                                        <span class="badge badge-{{tag.color}}">

                                            {{tag.title}}
                                        </span>
                                    </a>
                                    {% endfor %}
                                    {% endif %}
                                    <div v-html="financial_document.get_state_badge"></div>
                                </td>
                                {% endif %}

                                <td>
                                    <a v-if="financial_document.category"
                                        :href="financial_document.category.get_absolute_url">
                                        <span :class="'badge badge-'+financial_document.category.color">

                                            <span v-text="financial_document.category.title"></span>
                                        </span>
                                    </a>

                                    <span v-if="financial_document.sub_account"
                                        :class="'badge badge-'+financial_document.sub_account.color">

                                        <span v-text="financial_document.sub_account.title"></span>
                                    </span>


                                </td>


                                <td>
                                    <span v-html="financial_document.persian_document_datetime"></span>

                                </td>
                                <td>
                                    <span class="text-danger" v-if="financial_document.bedehkar>0"
                                        v-text="to_price(financial_document.bedehkar,'')"></span>


                                </td>
                                <td>
                                    <span class="text-success" v-if="financial_document.bestankar>0"
                                        v-text="to_price(financial_document.bestankar,'')"></span>

                                </td>
                                {% if financial_account %}
                                <td>
                                    <span v-text="to_price(financial_document.rest,'')"></span>

                                </td>
                                {% endif %}

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>