
{% extends "accounting/layout.html" %}
{% load to_price %}
{% load to_amount_color %}

{% block content %}
<div class="text-center mt-3 mb-3">

    <img src="{{bank_account.account.logo}}" width="128" class="rounded" alt="">
</div>

<h4 class="text-center">
    {{bank_account.title}}
    {% if perms.banking.change_bankaccount %}
    <a href="{{bank_account.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i class="fa fa-edit text-info"></i></a>
    {% endif %}
    {% if perms.banking.delete_bankaccount %}
    <a href="{{bank_account.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
            class="fa fa-trash text-danger"></i></a>
    {% endif %}

     
</h4>
<hr>
<div class="text-center farsi my-3  rtl">
    {% if bank_account.account_no %}
    <div class="text-center farsi my-3">

        شماره حساب : 
        {{bank_account.account_no}}
    </div>
    {% endif %}

    
    {% if bank_account.shaba_no %}
    <div class="text-center farsi my-3">

        
        شماره شبا : 
        {{bank_account.shaba_no}}
    </div>
    {% endif %}

    
    {% if bank_account.card_no %}
    <div class="text-center farsi my-3">

        
        شماره کارت : 
        {{bank_account.card_no}}
    </div>
    {% endif %}


</div>
<div class="text-center rtl farsi">
    <a href="{{bank_account.account.get_edit_url}}" target="_blank" title="اکانت" class="mx-2">
        {{bank_account.account.title}}   
    </a>

</div>
<div class="text-center rtl">
   
</div>

<hr>

 
{% endblock content %}


{% block script %}

{% endblock script %}