{% extends "accounting/layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="text-center my-3">
      {{category.get_breadcrumb_tag|safe}}
    </div>
  </div>
  <div class="col-md-12">
    <h4 class="text-center">
      {{category.title}}

      {% if perms.accounting.change_category %}
      <a title="ویرایش" href="{{category.get_edit_url}}" target="_blank"><i class="fa fa-edit text-warning mx-2"></i></a>
      <a title="مارکت" href="{{category.get_market_absolute_url}}" target="_blank"><i class="fa fa-edit text-info mx-2"></i></a>
        
      {% endif %}

      
      {% if perms.accounting.delete_category %}
      <a title="حذف" href="{{category.get_delete_url}}" target="_blank"><i class="fa fa-trash text-danger mx-2"></i></a>
        
      {% endif %}
    </h4>
  </div>
  <div class="col-md-12">
    {% include "accounting/includes/categories-app/template.html" %}
  </div>
  <div class="col-md-12">
    {% include "accounting/includes/products-app/template.html" %}
  </div>
  <div class="col-md-12">
    {% include "accounting/includes/services-app/template.html" %}
  </div>
  {% if add_product_form %}
  <div class="col-md-12">
    {% include "accounting/includes/add-product-app/template.html" %}
  </div>
  {% endif %}
</div>
{% endblock content %}
{% block script %}
    {% include "accounting/includes/products-app/script.html" %}
    {% include "accounting/includes/services-app/script.html" %}
    {% include "accounting/includes/categories-app/script.html" %}
    {% include "accounting/includes/add-product-app/script.html" %}

{% endblock script %}