{% extends "accounting/layout.html" %}

{% load to_persian_date %}
{% load to_price %}

{% load to_variz_text %}
{% block content %}

<h4 class="text-center my-3">
    {{cheque.title}}
  
    <span class="badge badge-{{cheque.color}}">
        {{cheque.status}}
    </span>

</h4>
<div class="row">
    <div class="col-md-4">
        {% include "core/includes/page-app/brief-card.html" %}

    </div>
    <div class="col-md-8">
        {% include "accounting/includes/transaction-app/brief.html" %}

    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body farsi text-right">
                <div>
                    وضعیت :
                    <span class="badge badge-{{cheque.color}}">

                        {{cheque.status}}
                    </span>
                </div>


                
                


                <div>
                    مبلغ چک :
                    {{cheque.amount|to_price}}
                </div>
                <div>
                    تاریخ سررسید چک :
                    {{cheque.sarresid_datetime|to_persian_date|safe}}
                </div>


                <div>
                    تاریخ وصول چک :
                    {{cheque.transaction_datetime|to_persian_date|safe}}
                </div>


                
                <div>
                    سریال چک :
                    {{cheque.serial_no}}
                </div>


                
                <div>
                    شماره صیاد چک :
                    {{cheque.sayyad_no}}
                </div>


                <div>
                   
                    <small class="text-muted">
                        پرداخت کننده (بستانکار) 
                        
                    </small>
                    <a href="{{cheque.pay_from.get_absolute_url}}">
                        <img src="{{cheque.pay_from.logo}}" class="rounded-circle" width="64" alt="">
                        {{cheque.pay_from.title}}
                    </a>
                </div>
                
                
                
                <div>
                    <small class="text-muted">
                        دریافت کننده (بدهکار): 

                    </small>
                    <a href="{{cheque.pay_to.get_absolute_url}}">
                        <img src="{{cheque.pay_to.logo}}" class="rounded-circle" width="64" alt="">
                      {{cheque.pay_to.title}}
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        {% include "core/includes/page-downloads-app/template.html" %}

    </div>
    <div class="col-md-4">
        {% include "core/includes/page-links-app/template.html" %}

    </div>

    <div class="col-md-4">
        {% include "core/includes/page-tags-app/template.html" %}

    </div>

    <div class="col-md-12">
        {% include "core/includes/page-images-app/template.html" %}

    </div>

    {% if roll_back_transaction_form %}

    <div class="col-md-12 px-0">
    
        {% include "accounting/includes/roll-back-transaction-app/template.html" %}
    </div>
    
    {% endif %}
</div>
{% endblock content %}


{% block script %}
{% include "accounting/includes/transaction-app/script.html" %}
{% if roll_back_transaction_form %}
 

    {% include "accounting/includes/roll-back-transaction-app/script.html" %}
 

{% endif %}
{% endblock script %}