{% extends "accounting/layout.html" %}
{% load to_persian_date %}
{% load to_price %}
{% load to_transaction_side %}
{% block content %}
<h4 class="text-center">
    {{financial_document.title}}
    {% if perms.hesabyar.change_financialdocument %}
    <a href="{{financial_document.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i
            class="fa fa-edit text-info"></i></a>
    {% endif %}

    {% if perms.hesabyar.delete_financialdocument %}
    <a href="{{financial_document.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
            class="fa fa-trash text-danger"></i></a>
    {% endif %}
</h4>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">



                <p>

                    حساب مربوطه:
                    <a href="{{financial_document.account.get_absolute_url}}">

                        {{financial_document.account.title}}
                    </a>
                    {{financial_document|to_transaction_side|safe}}

                    <br>
                    تاریخ :
                    {{financial_document.transaction.transaction_datetime|to_persian_datetime|safe}}
                    <br>

                    بدهکار :
                    {{financial_document.bedehkar|to_price}}
                    <br>
                    بستانکار :
                    {{financial_document.bestankar|to_price}}
                    <br>
                    مانده :
                    {{financial_document.rest|to_price}}
                    <br>
                    تراکنش مربوطه:
                    <a href="{{financial_document.transaction.get_absolute_url}}">

                        {{financial_document.transaction.title}}
                    </a>
                </p>
                {% for fd in financial_document1.fds %}
                <div>
                    <a href="{{fd.get_absolute_url}}">{{fd.title}}</a>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

    {% for financial_balance in financial_document.financialbalance_set.all %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-body farsi text-right">


                {% if perms.hesabyar.change_financialbalance %}
                <a href="{{financial_balance.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i
                        class="fa fa-edit text-info"></i></a>
                {% endif %}

                {% if perms.hesabyar.delete_financialbalance %}
                <a href="{{financial_balance.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
                        class="fa fa-trash text-danger"></i></a>
                {% endif %}



                <div class="row">
                    <div class="col-3">
                        <div class="my-5">

                            <span class="text-success">

                                سود حاصل از فروش :
                                {{financial_balance.sell_benefit|to_price}}
                            </span>

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="my-5">

                            <span class="text-success">

                                فروش خدمات
                                {{financial_balance.sell_service|to_price}}
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="my-5">


                            <span class="text-danger">
                                خرید خدمات :
                                {{financial_balance.buy_service|to_price}}
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="my-5">

                            <span class="text-danger">
                                زیان حاصل از فروش :

                                {{financial_balance.sell_loss|to_price}}
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="my-5">

                            <span class="text-warning">

                                مالیات :
                                {{financial_balance.tax|to_price}}
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="my-5">

                            <span class="text-success">

                                حقوق :
                                {{financial_balance.wage|to_price}}
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="my-5">

                            <span class="text-danger">

                                تخفیف :
                                {{financial_balance.discount|to_price}}
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="my-5">

                            <span class="text-danger">

                                حمل :
                                {{financial_balance.ship_fee|to_price}}
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="my-5">

                            <span class="text-danger">

                                هزینه :
                                {{financial_balance.cost|to_price}}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}

{% block script %}

{% endblock script %}