{% extends "accounting/layout.html" %}
{% load static %}
{% block content %}
<style>
  .mbb>.col-md-3{
    margin-bottom: 1.5em;
  }
</style>
<div class="row mbb">
  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">

      <a href="{% url 'accounting:products' %}">
        <img src="{% static 'accounting/img/pages/thumbnail/product.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-3">
          لیست کالا ها
        </h6>
      </a>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">
      <a href="{% url 'accounting:services' %}">
        <img src="{% static 'accounting/img/pages/thumbnail/service.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-3">
          لیست سرویس ها
        </h6>
      </a>

    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">

      <a href="{% url 'accounting:accounts' %}">
        <img src="{% static 'accounting/img/accounts.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-3">
          لیست طرف حساب ها
        </h6>
      </a>


    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">

      <a href="{% url 'accounting:financial_documents' %}">
        <img src="{% static 'accounting/img/document.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-3">
          اسناد مالی
        </h6>
      </a>





    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">

      <a href="{% url 'accounting:invoices' %}">
        <img src="{% static 'accounting/img/invoice.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-2">
          فاکتور ها
        </h6>
      </a>


    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">

      <a href="{% url 'accounting:costs' %}">

        <img src="{% static 'accounting/img/cost.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-3">
          هزینه ها
        </h6>
      </a>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">
      <a href="{% url 'accounting:transactions' %}">
        <img src="{% static 'accounting/img/transaction.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-3">
          تراکنش ها
        </h6>
      </a>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">




      <a href="{% url 'accounting:cheques' %}">
        <img src="{% static 'accounting/img/cheque.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-3">
          چک ها
        </h6>
      </a>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">

      <a href="{% url 'accounting:payments' %}">
        <img src="{% static 'accounting/img/payment.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-3">
          پرداخت ها
        </h6>
      </a>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">
      <a href="{% url 'accounting:financial_balances' %}">
        <img src="{% static 'accounting/img/financial-balance.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-3">
          ریز حساب های مالی
        </h6>
      </a>
    </div>

  </div>





  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">
      <a href="{% url 'accounting:assets' %}">


        <img src="{% static 'accounting/img/asset.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-3">
          اموال و دارایی ها
        </h6>
      </a>
    </div>

  </div>





  <div class="col-lg-2 col-md-3 col-4">
    <div class="text-center">
      <a href="{% url 'accounting:report' %}">
        <img src="{% static 'accounting/img/report.png' %}" class="rounded" width="80%" alt="">
        <h6 class="text-center my-3">
          گزارش گیری
        </h6>
      </a>



    </div>

  </div>




  <div class="col-md-4">
    <div class="card">
      <div class="farsi card-body">
        <a href="{% url 'accounting:products' %}">
          <h6>
            لیست کالا ها
          </h6>
        </a>

        <a href="{% url 'accounting:services' %}">
          <h6>
            لیست سرویس ها
          </h6>
        </a>
        <a href="{% url 'accounting:accounts' %}">
          <h6>
            لیست طرف حساب ها
          </h6>
        </a>



        <a href="{% url 'accounting:financial_documents' %}">
          <h6>
            اسناد مالی
          </h6>
        </a>


        <a href="{% url 'accounting:invoices' %}">
          <h6>
            فاکتور ها
          </h6>
        </a>

        <a href="{% url 'accounting:costs' %}">
          <h6>
            هزینه ها
          </h6>
        </a>
        <a href="{% url 'accounting:transactions' %}">
          <h6>
            تراکنش ها
          </h6>
        </a>


        <a href="{% url 'accounting:cheques' %}">
          <h6>
            چک ها
          </h6>
        </a>


        <a href="{% url 'accounting:payments' %}">
          <h6>
            پرداخت ها
          </h6>
        </a>


        <a href="{% url 'accounting:financial_balances' %}">
          <h6>
            ریز حساب های مالی
          </h6>
        </a>



        <a href="{% url 'accounting:assets' %}">
          <h6>
            اموال و دارایی ها
          </h6>
        </a>





        <a href="{% url 'accounting:report' %}">
          <h6>
            گزارش گیری
          </h6>
        </a>










      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block script %}

{% endblock script %}