{% extends "accounting/layout.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="farsi card-body">
        <a href="{% url 'accounting:products' %}">
          <h6>
            لیست کالا ها
          </h6>
        </a>

        <a href="{% url 'accounting:services' %}">
          <h6>
            لیست سرویس ها
          </h6>
        </a>
        <a href="{% url 'accounting:accounts' %}">
          <h6>
            لیست طرف حساب ها
          </h6>
        </a>



        <a href="{% url 'accounting:financial_documents' %}">
          <h6>
            اسناد مالی
          </h6>
        </a>


        
        <a href="{% url 'accounting:assets' %}">
          <h6>
          اموال و داریی ها  
          </h6>
        </a>




        <a href="{% url 'accounting:transactions' %}">
          <h6>
            تراکنش ها
          </h6>
        </a>





        <a href="{% url 'accounting:cheques' %}">
          <h6>
            چک ها
          </h6>
        </a>


        <a href="{% url 'accounting:invoices' %}">
          <h6>
            فاکتور ها
          </h6>
        </a>




        <a href="{% url 'accounting:payments' %}">
          <h6>
            پرداخت ها
          </h6>
        </a>



        <a href="{% url 'accounting:financial_balances' %}">
          <h6>
            ریز حساب های مالی
          </h6>
        </a>



      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block script %}

{% endblock script %}