{% extends "accounting/layout.html" %}

{% load to_persian_date %}
{% load to_price %}

{% load to_variz_text %}
{% block content %}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <img src="{{invoice.pay_from.logo}}" height="96" class="my-3" alt="">

                </div>
                <h4 class="text-center my-3">

                    {{invoice.pay_from.title}}

                </h4>
                <h4 class="text-center my-3">

                    {% include "accounting/includes/invoice-app/navbar.html" %}
                </h4>
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-right mx-5">
                            خریدار : <a href="{{invoice.pay_to.get_absolute_url}}">
                                {{invoice.pay_to.title}}
                            </a>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <p class="text-left mx-5">
                            تاریخ : {{invoice.invoice_datetime|to_persian_datetime|safe}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12">

        {% include "accounting/includes/invoice-lines-app/template.html" %}
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-body px-5 farsi text-right">
                <div>

                    واحد مبلغ ها
                    {{CURRENCY}}
                    می باشد.
                </div>
                {% if invoice.tax_amount %}

                {% endif %}
                <div>
                    میزان مالیات : {{invoice.tax_amount|to_price}}
                </div>

                {% if invoice.pay_from.bank_account %}
                <div>

                    {{invoice.pay_from.bank_account|to_variz_text}}
                </div>
                {% endif %}

                <div class="text-right farsi">

                    {{invoice.status}}
                    /

                    {{invoice.payment_method}}


                </div>
                {% if invoice.description %}
                <div class=" ">

                    {{invoice.description|safe}}
                </div>

                {% endif %}




            </div>
        </div>



    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="mb-5"></div>

                <div class="row">
                    <div class="col-md-6">
                        <p class="text-center">
                            فروشنده : <a href="{{invoice.pay_from.get_absolute_url}}">
                                {{invoice.pay_from.title}}
                            </a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-center">
                            خریدار : <a href="{{invoice.pay_to.get_absolute_url}}">
                                {{invoice.pay_to.title}}
                            </a>
                        </p>
                    </div>

                </div>


                <div class="mb-5"></div>
                <div class="mb-5"></div>
                <div class="mb-5"></div>
                <div class="mb-5"></div>
                <div class="mb-5"></div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        {% include "core/includes/page-links-app/template.html" %}
    </div>
    <div class="col-md-4">
        {% include "core/includes/page-downloads-app/template.html" %}

    </div>



</div>

{% endblock content %}


{% block script %}
<script>
    let page_id = parseInt("{{page.id}}")
    let invoice_lines = JSON.parse(`{{invoice_lines_s|escapejs}}`)
</script>
{% include "accounting/includes/invoice-lines-app/script.html" %}
{% include "core/includes/page-links-app/script.html" %}
{% include "core/includes/page-downloads-app/script.html" %}

{% endblock script %}