{% extends "accounting/layout.html" %}

{% load to_persian_date %}
{% load to_price %}

{% load to_variz_text %}
{% block content %}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <img src="{{invoice.pay_from.logo}}" height="96" class="my-3" alt="">

                </div>


                <h4 class="text-center my-3">

                    {{invoice_line.invoicepay_from.title}}

                </h4>
                <h4 class="text-right">
                    {{invoice_line.invoicetitle}}
                </h4>
              
 
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-right mx-5">
                            خریدار : <a href="{{invoice.pay_to.get_absolute_url}}">
                                {{invoice_line.invoicepay_to.title}}
                            </a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-left mx-5">
                            تاریخ : {{invoice_line.invoiceinvoice_datetime|to_persian_datetime|safe}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12">

        {% include "accounting/includes/invoice-line-app/template.html" %}
    </div>

 
    <div class="col-md-12">

        {% include "guarantee/includes/guarantees-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "warehouse/includes/warehouse-sheets-app/template.html" %}

    </div>
</div>

{% endblock content %}


{% block script %}
<script>


</script>
{% include "accounting/includes/invoice-line-app/script.html" %}
{% include "guarantee/includes/guarantees-app/script.html" %}
{% include "warehouse/includes/warehouse-sheets-app/script.html" %}

{% endblock script %}