{% extends "accounting/wide-layout.html" %}

{% load to_price %}
{% load to_persian_date %}

{% load to_variz_text %}
{% block content %}


<div class="row rtl">
    <div class="col-4"></div>
    <div class="col-4">
        <h5 class="text-center">
            صورتحساب فروش کالا و خدمات


        </h5>
    </div>
    <div class="col-4">
        <h6 class="text-left mx-5">شماره فاکتور :
            <span>{{invoice.pk}}</span>
        </h6>

        <h6 class="text-left mx-5">تاریخ :
            <span>{{invoice.transaction_datetime|to_persian_date|safe}}</span>
        </h6>
    </div>
</div>



<div class="card">
    <div class="card-header">
        <h6 class="text-center">

            مشخصات فروشنده
        </h6>

    </div>
    <div class="card-body">
        <div class="row rtl">
            {% if invoice.pay_from.title %}
            <div class="col-md-4">
                <div class="farsi text-right">
                    نام تجاری :
                    {{invoice.pay_from.title}}
                </div>
            </div>
            {% endif %}

            {% if invoice.pay_from.economic_no %}
            <div class="col-md-4">
                <div class=" farsi text-right">
                    شماره اقتصادی :
                    {{invoice.pay_from.economic_no}}
                </div>
            </div>
            {% endif %}
            {% if invoice.pay_from.melli_id %}
            <div class="col-md-4">

                <div class=" farsi text-right">
                    شناسه ملی :
                    {{invoice.pay_from.melli_id}}
                </div>
            </div>
            {% endif %}


            {% if invoice.pay_from.address %}
            <div class="col-md-4">

                <div class=" farsi text-right">
                    آدرس :
                    {{invoice.pay_from.address}}
                </div>
            </div>
            {% endif %}
            {% if invoice.pay_from.tel %}
            <div class="col-md-4">
                <div class=" farsi text-right">
                    تلفن :
                    {{invoice.pay_from.tel}}
                </div>
            </div>
            {% endif %}
            {% if invoice.pay_from.postal_code %}
            <div class="col-md-4">

                <div class="farsi text-right">
                    کد پستی :
                    {{invoice.pay_from.postal_code}}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>



<div class="card">
    <div class="card-header">
        <h6 class="text-center">

            مشخصات خریدار
        </h6>

    </div>
    <div class="card-body">
        <div class="row rtl">
            {% if invoice.pay_to.title %}
            <div class="col-md-4">
                <div class="farsi text-right">
                    نام تجاری :
                    {{invoice.pay_to.title}}
                </div>
            </div>
            {% endif %}

            {% if invoice.pay_to.economic_no %}
            <div class="col-md-4">
                <div class=" farsi text-right">
                    شماره اقتصادی :
                    {{invoice.pay_to.economic_no}}
                </div>
            </div>
            {% endif %}
            {% if invoice.pay_to.melli_id %}
            <div class="col-md-4">

                <div class=" farsi text-right">
                    شناسه ملی :
                    {{invoice.pay_to.melli_id}}
                </div>
            </div>
            {% endif %}


            {% if invoice.pay_to.address %}
            <div class="col-md-4">

                <div class=" farsi text-right">
                    آدرس
                    :
                    {{invoice.pay_to.address}}
                </div>
            </div>
            {% endif %}
            {% if invoice.pay_to.tel %}
            <div class="col-md-4">
                <div class=" farsi text-right">
                    تلفن :
                    {{invoice.pay_to.tel}}
                </div>
            </div>
            {% endif %}
            {% if invoice.pay_to.postal_code %}
            <div class="col-md-4">

                <div class="farsi text-right">
                    کد پستی :
                    {{invoice.pay_to.postal_code}}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% load to_price %}
<div id="invoice-lines-app">

    <div class="card">
        <div class="card-header">
            <h6 class="text-center">
                شرح کالا و خدمات
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-striped my-0 rtl">
                    <thead>
                        <th class="bordered">
                            ردیف
                        </th>

                        <th class="bordered">
                            شرح
                        </th>
                        <th class="bordered">
                            تعداد
                        </th>

                        <th class="bordered">
                            فی
                            <small class="text-muted">

                                (&nbsp;{{CURRENCY}}&nbsp;)
                            </small>
                        </th>

                        <th class="bordered">
                            جمع
                            <small class="text-muted">

                                (&nbsp;{{CURRENCY}}&nbsp;)
                            </small>
                        </th>

                        <th class="bordered">
                            تخفیف
                            <small class="text-muted">

                                (&nbsp;{{CURRENCY}}&nbsp;)
                            </small>
                        </th>

                        <th class="bordered">
                            مبلغ کل پس از تخفیف
                            <small class="text-muted">

                                (&nbsp;{{CURRENCY}}&nbsp;)
                            </small>
                        </th>



                        <th class="bordered">
                            مالیات و عوارض
                            <small class="text-muted">

                                (&nbsp;{{CURRENCY}}&nbsp;)
                            </small>
                        </th>


                        <th class="bordered">
                            مبلغ قابل پرداخت
                            <small class="text-muted">

                                (&nbsp;{{CURRENCY}}&nbsp;)
                            </small>
                        </th>




                    </thead>
                    <tbody>
                        <tr v-for="invoice_line in invoice_lines">
                            <td class="bordered">
                                <span v-text="invoice_line.row"></span>
                            </td>

                            <td class="bordered">
                                <span v-text="invoice_line.product_or_service.title"></span>
                            </td>


                            <td class="bordered">
                                <span v-text="invoice_line.quantity"></span>
                                <span v-text="invoice_line.unit_name"></span>
                            </td>

                            <td class="bordered">
                                <span v-text="to_price(invoice_line.unit_price)"></span>
                            </td>

                            <td class="bordered">
                                <span v-text="to_price(invoice_line.unit_price*invoice_line.quantity)"></span>
                            </td>



                            <td class="bordered">
                                0
                            </td>


                            <td class="bordered">
                                <span v-text="to_price(invoice_line.unit_price*invoice_line.quantity)"></span>
                            </td>



                            <td class="bordered">
                                <span
                                    v-text="to_price(tax_percent*invoice_line.unit_price*invoice_line.quantity/100)"></span>
                            </td>



                            <td class="bordered">
                                <span
                                    v-text="to_price((100+tax_percent)*invoice_line.unit_price*invoice_line.quantity/100)"></span>
                            </td>

                        </tr>



                        <tr>
                            <td class="bordered">
                            </td>

                            <td class="bordered">
                            </td>
                            <td class="bordered">
                                <!-- <span v-text="invoice_line.quantity"></span>
                                    <span v-text="invoice_line.unit_name"></span> -->
                            </td>
                            <td class="bordered">
                                <!-- <span v-text="to_price(invoice_line.unit_price)"></span> -->
                            </td>
                            <td class="bordered">
                                <!-- <span v-text="to_price(invoice_line.unit_price*invoice_line.quantity)"></span> -->
                                <span v-text="to_price({{invoice.lines_total}})"></span>
                                ریال
                            </td>
                            <td class="bordered">
                                0
                            </td>
                            <td class="bordered">
                                <span v-text="to_price({{invoice.lines_total}})"></span>
                                ریال
                            </td>
                            <td class="bordered">
                                <span v-text="to_price({{invoice.tax_amount}})">
                                </span>
                            </td>
                            <td class="bordered">
                                <span v-text="to_price({{invoice.sum_total}})"></span>
                                ریال

                            </td>

                        </tr>



                        <tr class="d-none">
                            <td colspan="8">

                                <div class="text-left">


                                    <span class="h5">
                                        {{invoice.sum_total|to_horuf_rial}} ریال
                                    </span>
                                </div>
                                <div class="text-left">


                                    <span class="h6">
                                        {{invoice.sum_total|to_horuf}} تومان
                                    </span>
                                </div>

                            </td>

                            <td class="bordered ">
                                <h5>
                                    {{invoice.sum_total|to_price_rial}}
                                </h5>
                                <h6>
                                    {{invoice.sum_total|to_price}}
                                </h6>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <h6 class="text-center">
                توضیحات ، شرایط و نحوه فروش
            </h6>
        </div>
        <div class="card-body px-5 farsi text-right">
            <!-- <div>
            واحد مبلغ ها
            {{CURRENCY}}
            می باشد.
        </div> -->
            <div>
                <p class="farsi">
                    جمع کل به حروف :
                    {{invoice.sum_total|to_horuf_rial}} ریال
                </p>
                <p class="farsi">
                    مالیات به حروف :
                    <span v-text="to_price({{invoice.tax_amount}})"></span>
                    ریال
                </p>
            </div>
            {% if invoice.pay_from and invoice.pay_from.default_bank_account %}
            <div>
                {{invoice.pay_from.default_bank_account|to_variz_text|safe}}
            </div>
            {% endif %}

            {% if invoice.description %}
            <div class=" ">
                {{invoice.description|safe}}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row rtl farsi">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-center">
                        فروشنده : {{invoice.pay_from.title}}
                    </p>
                    <div class="mb-5">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">


                    <p class="text-center">
                        خریدار : {{invoice.pay_to.title}}
                    </p>



                    <div class="mb-5">&nbsp;</div>

                </div>
            </div>
        </div>
    </div>



</div>
{% endblock content %}


{% block script %}
<script>

    let page_id = parseInt("{{page.id}}")
    let invoice_lines = JSON.parse(`{{invoice_lines_s|escapejs}}`)
</script>


{% include "accounting/includes/invoice-lines-app/script.html" %}

{% endblock script %}