{% extends "accounting/layout.html" %}

{% block content %}
  
<h4 class="text-center">

    {{invoice.title}}
    

    {% if perms.hesabyar.change_invoice %}
    <a href="{{invoice.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i
            class="fa fa-edit text-info"></i></a>

            
    <a href="{{invoice.get_edit_url2}}" target="_blank" title="ویرایش" class="mx-2"><i
        class="fa fa-edit text-success"></i></a>

    {% endif %}

    {% if perms.hesabyar.delete_invoice %}
    <a href="{{invoice.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
            class="fa fa-trash text-danger"></i></a>
    {% endif %}
</h4>
{% endblock content %}