{% extends "accounting/wide-layout.html" %}

{% load to_persian_date %}

{% load to_variz_text %}
{% block content %}
<div class="row" id="invoice-print-app">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <img src="{{invoice.pay_from.logo}}" height="96" class="my-3" alt="">

                </div>
                <h4 class="text-center my-3">

                    {{invoice.pay_from.title}}

                </h4>




                <div class="row">
                    <div class="col-8">
                        <!-- <p class="text-right mx-5">
                            فروشنده :
                            {{invoice.pay_from.title}}
                        </p> -->

                        <h5 class="text-right mx-5 mb-3">
                            خریدار :
                            {{invoice.pay_to.title}}
                        </h5>
                        <p class="text-right mx-5">

                            {{invoice.title}}
                        </p>
                    </div>

                    <div class="col-4"> 
                            <div class="  farsi text-left" style="text-align: left;">تاریخ : {{invoice.invoice_datetime|to_persian_date|safe}}</div>

                            <div class="  farsi text-left" style="text-align: left;">شماره : {{invoice.pk}}</div>
                         

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            {% include "accounting/includes/invoice-lines-app/print.html" %}
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">


                        <p class="text-center">
                            خریدار : {{invoice.pay_to.title}}
                        </p>



                        <div class="mb-5">&nbsp;</div>

                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-body">



                        <p class="text-center">
                            فروشنده : {{invoice.pay_from.title}}
                        </p>



                        <div class="mb-5">&nbsp;</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-12">
        {% include "accounting/includes/invoice-app/description.html" %}
    </div>
    <div class="col-md-12">
        <div class="text-right" v-show="printing">
            <button @click="print()" class="btn btn-info">
                <i class="fa fa-print"></i>
                چاپ
            </button>

            <a href="{{invoice.get_absolute_url}}" class="farsi mx-3">
                {{invoice.title}}
            </a>
        </div>
    </div>
</div>

{% endblock content %}


{% block script %}
<script>
    let page_id = parseInt("{{page.id}}")
    let invoice_lines = JSON.parse(`{{invoice_lines_s|escapejs}}`)
</script>
{% include "accounting/includes/invoice-lines-app/script.html" %}
<script>
    let invoice_print_app = new Vue({
        el: "#invoice-print-app",
        data: {
            printing: true
        },
        methods: {
            print: function () {
                let url = "{% url 'accounting:print_transaction' %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    transaction_id: parseInt("{{transaction.id}}")
                }
                $.post(url, payload).done(data => {

                })

                this.printing = false
                setTimeout(() => {
                    window.print()
                    invoice_print_app.printing = true
                }, 200);
                setTimeout(() => {
                    invoice_print_app.printing = true
                }, 5000);
            }
        }
    })
</script>
{% endblock script %}