{% extends "accounting/layout.html" %}
{% load to_price %}
{% load to_persian_date %}

{% load to_variz_text %}
{% block content %}
<style>
    .new_row>td {
        background-color: rgb(155, 202, 165);
    }
</style>
<div id="edit-invoice-app">


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    <div class="text-center">
                        <img src="{{invoice.seller.logo}}" height="96" class="my-3" alt="">

                    </div>
                    <h4 class="text-center my-3">

                        {{invoice.seller.title}}
                    </h4>
                    <h4 class="text-center my-3">
    
                        {% include "accounting/includes/invoice-app/navbar.html" %}
                    </h4>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-3">
                                    <span class="farsi text-left">

                                        فروشنده :
                                    </span>

                                </div>
                                <div class="col-6">
                                    <select class="form-control" v-model="invoice.pay_from.id">
                                        {% for store in stores %}
                                        <option value="{{store.id}}">{{store.title}}</option>

                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <span class="farsi text-left">

                                        خریدار :
                                    </span>

                                </div>
                                <div class="col-6">
                                    <select class="form-control" v-model="invoice.pay_to.id">
                                        {% for customer in customers %}
                                        <option value="{{customer.id}}">{{customer.title}}</option>

                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-6 text-left ">
                                    <span class="farsi text-left">

                                        تاریخ :
                                    </span>
                                </div>
                                <div class="col-6">

                                    <date-picker v-model="invoice.persian_invoice_datetime"></date-picker>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <th class="bordered">
                                ردیف
                            </th>

                            <th class="bordered">
                                شرح
                            </th>

                            <th class="bordered">
                                تعداد
                            </th>

                            <th class="bordered">
                                فی
                            </th>

                            <th class="bordered">
                                جمع
                                <small class="text-muted">

                                    ( {{CURRENCY}} )
                                </small>
                            </th>

                        </thead>
                        <tbody>
                            <template v-for="invoice_line in invoice_lines">

                                <invoice-line-component :invoice_line="invoice_line"></invoice-line-component>
                            </template>



                            <tr v-if="false" class="new_row">

                                <td class="bordered">
                                    <span v-text="new_invoice_line.row"></span>
                                </td>

                                <td class="bordered">
                                    <a :href="new_invoice_line.product_or_service.get_absolute_url">

                                        <span v-text="new_invoice_line.product_or_service.title"></span>
                                    </a>
                                </td>



                                <td class="bordered">
                                    <span v-text="new_invoice_line.quantity"></span>
                                    <span v-text="new_invoice_line.unit_name"></span>
                                </td>

                                <td class="bordered">
                                    <span v-text="to_price(new_invoice_line.unit_price)"></span>
                                </td>

                                <td class="bordered">
                                    <span
                                        v-text="to_price(new_invoice_line.unit_price*new_invoice_line.quantity)"></span>
                                </td>
                            </tr>



                            <tr>
                                <td colspan="4">
                                    <div class="text-left">
                                        جمع
                                    </div>
                                </td>

                                <td class="bordered">
                                    <span v-text="to_price(lines_total())"></span>
                                    <span class="small.text-muted">{{CURRENCY}}</span>

                                </td>

                            </tr>


                            <tr>
                                <td colspan="4">
                                    <div class="text-left">

                                        هزینه ارسال
                                    </div>
                                </td>

                                <td class="bordered">
                                    <input type="number" class="form-control" v-model="invoice.ship_fee">
                                </td>

                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="text-left">
                                        <input style="width: 4em;display: inline;" min="0" max="9" type="number" class="form-control"
                                            v-model="invoice.tax_percent">


                                        درصد
                                        مالیات بر ارزش افزوده
                                    </div>
                                </td>

                                <td class="bordered">
                                    <span v-text="to_price(tax_amount())">
                                    </span>
                                    <span class="small.text-muted">{{CURRENCY}}</span>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="4">
                                    <div class="text-left">

                                        تخفیف
                                    </div>
                                </td>

                                <td class="bordered">
                                    <input type="number" class="form-control" v-model="invoice.discount">

                                </td>

                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="text-left">

                                        قابل پرداخت :
                                        {{CURRENCY}}
                                    </div>
                                </td>

                                <td class="bordered filled">
                                    <span v-text="sum_total()">
                                    </span>
                                </td>

                            </tr>






                        </tbody>
                    </table>

                </div>
            </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5> افزودن کالا/ خدمات به فاکتور:</h5>
                    <input type="text" @input="filter()" class="form-control" v-model="search_for"
                        placeholder="جستجو ...">

                    <table class="table table-striped">
                        <tr v-for="product in product_search_items">
                            <td>
                                کالا
                            </td>
                            <td>
                                <a :href="product.get_absolute_url">

                                    <span v-text="product.title"></span>
                                </a>
                            </td>


                            <td>
                                <span v-text="to_price(product.unit_price)"></span>

                            </td>
                            <td>
                                موجودی :
                                <span v-text="product.available"></span>
                                <span v-text="product.unit_name"></span>


                            </td>

                            <td>
                                <button class="btn btn-success" @click="add_product(product)">
                                    اضافه کن </button>
                            </td>
                        </tr>
                        <tr v-for="service in service_search_items">
                            <td>
                                خدمات
                            </td>
                            <td>
                                <a :href="service.get_absolute_url">

                                    <span v-text="service.title"></span>
                                </a>
                            </td>


                            <td colspan="2">
                                <span v-text="to_price(service.unit_price)"></span>

                            </td>


                            <td>
                                <button class="btn btn-warning" @click="add_service(service)">
                                    اضافه کن </button>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p class=" mx-5">
                        واحد مبلغ ها تومان می باشد.
                    </p>
                    {% if invoice.seller.bank_account %}
                    <p class=" mx-5">

                        {{invoice.seller.bank_account|to_variz_text}}
                    </p>
                    {% endif %}


                    <div class="row">


                        <div class="col-md-2">
                            <span class="farsi text-left">
                                توضیحات :
                            </span>
                        </div>
                        <div class="col-md-10 mb-4">
                            <textarea v-model="invoice.description" class="form-control" id="" class="w-100"
                                rows="2"></textarea>

                        </div>


                        <div class="col-md-2">
                            <span class="farsi text-left">
                                وضعیت فاکتور :
                            </span>

                        </div>
                        <div class="col-md-4">
                            <div class="text-right">
                                <select v-model="invoice.status" class="form-control">
                                    {% for status in invoice_statuses %}
                                    <option value="{{status}}">{{status}}</option>

                                    {% endfor %}
                                </select>
                            </div>

                        </div>


                        <div class="col-md-2">
                            <span class="farsi text-left">
                                نحوه پرداخت :
                            </span>

                        </div>
                        <div class="col-md-4">
                            <div class="text-right">
                                <select v-model="invoice.payment_method" class="form-control">
                                    {% for payment_method in invoice_payment_methods %}
                                    <option value="{{payment_method}}">{{payment_method}}</option>

                                    {% endfor %}
                                </select>
                            </div>

                        </div>

                    </div>






                    <div class="text-right fars">


                        <button class="btn btn-success" @click="save()">
                            ذخیره کن
                        </button>
                        <div class="my-3" v-if="message.show">
                            <span :class="'alert alert-'+message.color">
                                <span class="farsi" v-text="message.body"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>



        </div>


    </div>
</div>

{% endblock content %}


{% block script %}
<script>
</script>
{% include "accounting/invoice-edit-script.html" %}

{% endblock script %}