{% extends "accounting/layout.html" %}

{% load to_persian_date %}

{% load to_variz_text %}
{% block content %}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <img src="{{invoice.pay_from.logo}}" height="96" class="my-3" alt="">

                </div>
                <h4 class="text-center my-3">

                    {{invoice.pay_from.title}}

                </h4>




                <div class="row">
                    <div class="col-md-8">
                        <!-- <p class="text-right mx-5">
                            فروشنده :
                            {{invoice.pay_from.title}}
                        </p> -->

                        <h5 class="text-right mx-5 mb-3">
                            خریدار :
                            {{invoice.pay_to.title}}
                        </h5>
                        <p class="text-right mx-5">

                            {{invoice.title}}
                        </p>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-8  farsi text-left">تاریخ</div>
                            <div class="col-4  farsi text-right">{{invoice.invoice_datetime|to_persian_date|safe}}</div>

                            <div class="col-8  farsi text-left">شماره</div>
                            <div class="col-4  farsi text-right">{{invoice.pk}}</div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            {% include "accounting/includes/invoice-lines-app/print.html" %}
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
 

                        <p class="text-center">
                            خریدار : {{invoice.pay_to.title}}
                        </p>



                        <div class="mb-5">&nbsp;</div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
 


                        <p class="text-center">
                            فروشنده : {{invoice.pay_from.title}}
                        </p>



                        <div class="mb-5">&nbsp;</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-12">
        {% include "accounting/includes/invoice-app/description.html" %}
    </div>



</div>

{% endblock content %}


{% block script %}
<script>
    let page_id = parseInt("{{page.id}}")
    let invoice_lines = JSON.parse(`{{invoice_lines_s|escapejs}}`)
</script>
{% include "accounting/includes/invoice-lines-app/script.html" %}

{% endblock script %}