{% extends "accounting/layout.html" %}

{% load to_persian_date %}
{% load to_price %}

{% load to_variz_text %}
{% block content %}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <img src="{{invoice_line.invoice.pay_from.logo}}" height="96" class="my-3" alt="">

                </div>


                <h4 class="text-center my-3">
                    <a href="{{invoice_line.invoice.pay_from.get_absolute_url}}">

                        {{invoice_line.invoice.pay_from.title}}
                    </a>

                </h4>
                <h4 class="text-right">
                    {{invoice_line.invoice.title}}
                </h4>


                <div class="row">
                    <div class="col-md-12">
                        <p class="text-right mx-5">
                            فاکتور : <a href="{{invoice_line.invoice.get_absolute_url}}">
                                {{invoice_line.invoice.title}}
                            </a>
                        </p>
                    </div>
                    <div class="col-md-6">


                        <p class="text-right mx-5">
                            فروشنده : <a href="{{invoice_line.invoice.pay_from.get_absolute_url}}">
                                {{invoice_line.invoice.pay_from.title}}
                            </a>
                        </p>


                        <p class="text-right mx-5">
                            خریدار : <a href="{{invoice_line.invoice.pay_to.get_absolute_url}}">
                                {{invoice_line.invoice.pay_to.title}}
                            </a>
                        </p>

                    </div>
                    <div class="col-md-6">
                        <p class="text-left mx-5">
                            شماره فاکتور :
                            <a href="{{invoice_line.invoice.get_absolute_url}}">

                                {{invoice_line.invoice.pk}}
                            </a>
                        </p>

                        <p class="text-left mx-5">
                            تاریخ : {{invoice_line.invoice.invoice_datetime|to_persian_datetime|safe}}
                        </p>
                    </div>

                    <div class="col-md-12">
                        <p>
                            <small class="text-muted">
                                کالا :

                            </small>
                            <a href="{{invoice_line.product_or_service.get_absolute_url}}">
                                {{invoice_line.product_or_service.title}}
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table">


                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                تاریخ فاکتور
                            </small>
                        </td>
                        <td class="text-right">
                            <span>
                                {{invoice_line.invoice.transaction_datetime|to_persian_datetime|safe}}
                            </span>
                        </td>
                    </tr>

                    
                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                شماره فاکتور
                            </small>
                        </td>
                        <td class="text-right">
                            <span>
                                <a href="{{invoice_line.invoice.get_absolute_url}}">

                                    {{invoice_line.invoice.pk}}
                                </a>
                            </span>
                        </td>
                    </tr>


                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                فروشنده :
                            </small>
                        </td>
                        <td class="text-right">

                            <a href="{{invoice_line.invoice.pay_from.get_absolute_url}}">

                                {{invoice_line.invoice.pay_from.title}}
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                خریدار :
                            </small>
                        </td>
                        <td class="text-right">

                            <a href="{{invoice_line.invoice.pay_to.get_absolute_url}}">

                                {{invoice_line.invoice.pay_to.title}}
                            </a>
                        </td>
                    </tr>


                    <tr>
                        <td class="text-left">

                            <small class="text-muted">
                                کالا / خدمات 
                            </small>
                        </td>
                        <td class="text-right">

                            <a href="{{invoice_line.product_or_service.get_absolute_url}}">

                                {{invoice_line.product_or_service.title}}
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                مقدار / تعداد درخواست شده
                            </small>
                        </td>
                        <td class="text-right">
                            {{invoice_line.quantity}} {{invoice_line.unit_name}}
                        </td>
                    </tr>


                  

 




                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">

        {% include "accounting/includes/invoice-line-app/template.html" %}
    </div>


    <div class="col-md-12">

        {% include "guarantee/includes/guarantees-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "warehouse/includes/warehouse-sheets-app/template.html" %}

    </div>
</div>

{% endblock content %}


{% block script %}
<script>


</script>
{% include "accounting/includes/invoice-line-app/script.html" %}
{% include "guarantee/includes/guarantees-app/script.html" %}
{% include "warehouse/includes/warehouse-sheets-app/script.html" %}

{% endblock script %}