{% extends "accounting/layout.html" %}

{% block content %}

{% include "core/includes/page-app/navbar.html" %}


<div class="row">
    <div class="col-md-4">
        {% include "core/includes/page-app/thumbnail-card.html" %}

    </div>
    <div class="col-md-4">
        {% include "core/includes/page-app/brief-card.html" %}



    </div>
    <div class="col-md-4">
        {% include "core/includes/page-downloads-app/template.html" %}
        {% include "core/includes/page-links-app/template.html" %}
        {% include "core/includes/page-tags-app/template.html" %}

    </div>
    <div class="col-md-12">
        {% include "core/includes/page-description-app/short-description.html" %}
        {% include "core/includes/page-description-app/description.html" %}
    </div>

    <div class="col-md-12">
        {% include "core/includes/page-images-app/template.html" %}

    </div>
    <div class="col-md-12">
        {% include "accounting/includes/item-prices-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "core/includes/page-like-app/page-likes.html" %}

    </div>

    {% if warehouse_app_is_installed %}

    <div class="col-md-12">
        {% include "warehouse/includes/warehouse-availables-app/template.html" %}

    </div>
    <div class="col-md-12">
        {% include "warehouse/includes/warehouse-sheets-app/template.html" %}

    </div>
    {% endif %}

    {% if guarantee_app_is_installed %}

    <div class="col-md-12">

        {% include "guarantee/includes/guarantees-app/template.html" %}
    </div>
    {% endif %}

</div>

{% endblock content %}


{% block script %}
{% include "core/includes/page-app/script.html" %}
{% include "accounting/includes/item-prices-app/script.html" %}

{% if warehouse_app_is_installed %}
{% include "warehouse/includes/warehouse-availables-app/script.html" %}
{% include "warehouse/includes/warehouse-sheets-app/script.html" %}

{% endif %}


{% if guarantee_app_is_installed %}
{% include "guarantee/includes/guarantees-app/script.html" %}
{% endif %}

{% endblock script %}