{% extends "accounting/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">
            {{product_or_service_category.title}}
        </h4>
    </div>
    <div class="col-md-12">
        {% include "accounting/includes/products-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "accounting/includes/services-app/template.html" %}
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>
                    سایر دسته بندی ها
                </h5>
            </div>
            <div class="card-body">
                <ul class="nav-list">

                    {% for product_or_service_category_ in product_or_service_categories %}
                    <li class="nav-item">
                        <h6>

                            <a class="nave-link" href="{{product_or_service_category_.get_absolute_url}}">

                                {{product_or_service_category_.title}}
                            </a>
                        </h6>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block script %}
{% include "accounting/includes/products-app/script.html" %}
{% include "accounting/includes/services-app/script.html" %}
{% include "accounting/includes/add-product-app/script.html" %}

{% endblock script %}