{% extends "accounting/layout.html" %}

{% block content %}
<div class="text-center mt-3 mb-3">

    <img src="{{account.logo}}" width="128" class="rounded" alt="">
</div>
<h4 class="text-center mb-4">

    <small class="text-muted">
        جستجو برای
    </small>
    {{search_for}}



</h4>
<div class="row">
    {% if financial_documents %}

    <div class="col-md-12">
        {% include "accounting/includes/financial-documents-app/template.html" %}

    </div>
    {% endif %}

    {% if financial_balances %}

    <div class="col-md-12">

        {% include "accounting/includes/financial-balances-app/template.html" %}
    </div>
    {% endif %}
    {% if invoices %}

    <div class="col-md-12">

        {% include "accounting/includes/invoices-app/template.html" %}
    </div>
    {% endif %}
    {% if payments %}

    <div class="col-md-12">
        {% include "accounting/includes/payments-app/template.html" %}
    </div>
    {% endif %}
    {% if transactions %}

    <div class="col-md-12">
        {% include "accounting/includes/transactions-app/template.html" %}
    </div>
    {% endif %}
    {% if accounts %}

    <div class="col-md-12">
        {% include "accounting/includes/accounts-app/template.html" %}
    </div>
    {% endif %}
</div>
{% endblock content %}


{% block script %}
{% include "accounting/includes/invoices-app/script.html" %}
{% include "accounting/includes/financial-balances-app/script.html" %}
{% include "accounting/includes/financial-documents-app/script.html" %}
{% include "accounting/includes/payments-app/script.html" %}
{% include "accounting/includes/transactions-app/script.html" %}
{% include "accounting/includes/accounts-app/script.html" %}

{% endblock script %}