{% extends "accounting/layout.html" %}

{% block content %}

{% include "core/includes/page-app/navbar.html" %}


<div class="row">
    <div class="col-md-4">
        {% include "core/includes/page-app/thumbnail-card.html" %}

    </div>
    <div class="col-md-4">
        {% include "core/includes/page-app/brief-card.html" %}



    </div>
    <div class="col-md-4">
        {% include "core/includes/page-downloads-app/template.html" %}
        {% include "core/includes/page-links-app/template.html" %}

    </div>
    <div class="col-md-12">
        {% include "core/includes/page-description-app/short-description.html" %}
        {% include "core/includes/page-description-app/description.html" %}
    </div>
    <div class="col-md-12">
        {% include "accounting/includes/item-prices-app/template.html" %}

    </div>

</div>

{% endblock content %}


{% block script %}
{% include "core/includes/page-app/script.html" %}

{% include "accounting/includes/item-prices-app/script.html" %}

{% endblock script %}