{% extends "accounting/layout.html" %}
{% load to_price %}
{% load to_persian_date %}
{% block content %}
<h4 class="text-center my-3">
    {{transaction.title}}
    {% if perms.accounting.change_transaction %}
    <a href="{{transaction.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i
            class="fa fa-edit text-info"></i></a>
    {% endif %}
    {% if perms.accounting.delete_transaction %}
    <a href="{{transaction.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
            class="fa fa-trash text-danger"></i></a>
    {% endif %}


</h4>


<div class="row farsi">
    <div class="col-md-5">
        {% include "core/includes/page-app/page-brief-card.html" %}

    </div>
    <div class="col-md-7">
        {% include "accounting/includes/transaction-app/brief.html" %}

    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-right">
                            <span>
                                {{transaction.title}}

                            </span>
                            <span class="badge badge-{{transaction.color}}">
                                {{transaction.category.title}}

                            </span>

                            <span class="badge badge-primary">

                                {{transaction.payment_method}}
                            </span>
                            <div class="text-right">
                                مبلغ :
                                {{transaction.amount|to_price}}
                            </div>
                          
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            پرداخت کننده :
                            <a href="{{transaction.pay_from.get_absolute_url}}">
                                {{transaction.pay_from.title}}
                            </a>
                        </div>


                        <div class="text-center">
                            دریافت کننده :
                            <a href="{{transaction.pay_to.get_absolute_url}}">
                                {{transaction.pay_to.title}}
                            </a>
                        </div>

                    </div>
                    <div class="col-md-4">



                        <div class="text-center">
                            تاریخ :
                            {{transaction.transaction_datetime|to_persian_datetime|safe}}
                        </div>


                        <div class="text-center">
                            نحوه پرداخت :
                            {{transaction.payment_method}}
                        </div>


                    </div>
                </div>

            </div>
        </div>



    </div>
    
</div>
<div class="row">
    <div class="col-md-6">
 {% include "core/includes/page-downloads-app/template.html" %}

    </div>
    <div class="col-md-6">
 {% include "core/includes/page-links-app/template.html" %}

    </div>
</div>
{% block wage %}
  
{% endblock  %}


{% block cost %}
  
{% endblock %}
{% block cheque %}
  
{% endblock %}

{% block invoice %}
  
{% endblock %}


{% block payment %}
  
{% endblock %}

{% endblock content %}

{% block script %}
 {% include "core/includes/page-links-app/script.html" %}
 {% include "core/includes/page-downloads-app/script.html" %}
{% endblock script %}