{% extends "accounting/layout.html" %}

{% block content %}

{% include "accounting/includes/transaction-app/navbar.html" %}

<div class="row">
    <div class="col-md-4">
        {% include "core/includes/page-app/brief-card.html" %}

    </div>
    <div class="col-md-8">
        {% include "accounting/includes/transaction-app/brief.html" %}

    </div>
    <div class="col-md-4">
        {% include "core/includes/page-links-app/template.html" %}
    </div>
    <div class="col-md-4">
        {% include "core/includes/page-downloads-app/template.html" %}

    </div>

</div>
{% endblock content %}



{% block script %}
<script>
    let page_id=parseInt("{{page.id}}")
</script>
{% include "core/includes/page-links-app/script.html" %}
{% include "core/includes/page-downloads-app/script.html" %}
{% endblock script %}