{% load to_persian_date %}
{% load to_price %}

{% load to_persian_date %}
{% load to_price %}
<div id="accordion-orders">


    <div class="card" id="orders-app">
        <div class="card-header" id="heading-orders">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-orders" aria-expanded="true"
                    aria-controls="collapse-orders">
                    سفارش ها
 
                    <small v-if="orders.length>0" class="text-danger mx-2">
                        <span v-text="orders.length">

                        </span>
                    </small> 

                </button>
            </h5>


        </div>
        <div id="collapse-orders" class="collapse {% if expand_orders %} show {% endif %}"
            aria-labelledby="heading-orders" data-parent="#accordion-orders">


            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-striped rtl">
                        <thead>
                            <th>
                                سفارش
                            </th>

                            <th>
                                خرید
                            </th>
                            <th>
                                تخفیف 
                         
                            </th>

                            <th>
                                هزینه حمل
                            </th>


                            <th>
                                فروشنده
                            </th>


                            <th>
                                خریدار
                            </th>
                            <th>
                                فاکتور
                            </th>
                            <th>
                                تاریخ
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>
                            {% if not no_javascript %}

                            <tr v-for="order in orders">
                                <td>
                                    <a :href="order.get_absolute_url">
                                        <span v-text="order.title"></span>
                                    </a>



                                </td>
                                <td>
                                    <span v-text="to_price(order.sum)"></span>

                                </td>

                                <td>
                                    <span v-text="to_price(order.discount)"></span>
                                    
                                </td>
                                
                                <td>
                                    <span v-text="to_price(order.paid)"></span>

                                </td>

                                
                                <td>
                                    <span v-text="to_price(order.ship_fee)"></span>

                                </td>



                                <td>
                                    <a :href="order.supplier.get_loyaltyclub_absolute_url">
                                        <img :src="order.supplier.logo" class="rounded" width="32" alt="">
                                        <span v-text="order.supplier.account.title"></span>

                                    </a>

                                </td>
                                <td>
                                    <a :href="order.customer.get_loyaltyclub_absolute_url">
                                        <img :src="order.customer.logo" class="rounded" width="32" alt="">
                                        <span v-text="order.customer.account.title"></span>

                                    </a>

                                </td>
                                <td>
                                    <a v-if="order.invoice" :href="order.invoice.get_absolute_url" :title="order.invoice.title">
                                        <!-- <span v-text="order.invoice.title"></span> -->
                                        فاکتور مرتبط
                                    </a>
                                </td>

                                <td>
                                    {{order.persian_date_ordered_tag|safe}}
                                    <span v-html="order.persian_date_ordered_tag"></span>

                                </td>


                                <td>
                                    {% if perms.loyaltyclub.change_order %}
                                    <span class="my-3">
                                        <a :href="order.get_edit_url">
                                            <i class="fa fa-edit text-warning"></i>
                                        </a>
                                    </span>
                                    {% endif %}

                                    {% if perms.loyaltyclub.delete_order %}
                                    <span class="my-3">
                                        <a :href="order.get_delete_url">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>
                                    </span>
                                    {% endif %}


                                    <span class="my-3" v-if="order.invoice">

                                    </span>


                                </td>
                            </tr>


                            {% endif %}

                            {% if no_javascript %}


                            {% for order in orders %}

                            <tr>
                                <td>
                                    <a href="{{order.get_absolute_url}}">

                                        {{order.title}}
                                    </a>



                                </td>
                                <td>
                                    {{order.sum|to_price}}
                                    <div>
                                        <span class="badge badge-{{order.status_color}}">{{order.status}}</span>
                                    </div>
                                </td>


                                <td>
                                    <a href="{{order.customer.get_loyaltyclub_absolute_url}}">
                                        <img src="{{order.customer.logo}}" class="rounded" width="32" alt="">
                                        {{order.customer.account.title}}
                                    </a>

                                </td>


                                <td>
                                    {{order.persian_date_ordered_tag|safe}}

                                </td>

                                <td>
                                    <span class="my-3">

                                        {{order.get_edit_btn|safe}}
                                    </span>
                                    <span class="my-3">
                                        <a href="{{order.invoice.get_absolute_url}}">

                                            {{order.invoice.title}}
                                        </a>
                                    </span>


                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>