{% extends "phoenix/wide-layout.html" %}
{% block content %}
<div class="row">

    <div class="col-md-6">
        <div class="card farsi text-right" id="hosts-app">
            <div class="card-header">
                <h4 class="title">
                    {{host.title}}
                    {% if perms.chef.change_host %}
                    <a href="{{host.get_edit_url}}" target="_blank" title="ویرایش">
                        <i class="fa fa-edit text-info"></i>
                    </a>
                    {% endif %}
                </h4>
            </div>

            <div class="card-body">
                <div class="media">
                    <a href="{{host.profile.get_absolute_url}}">
                        <img src="{{host.profile.image}}" class="rounded-circle" width="48" alt="">
                    </a>
                    <div class="media-body mt-3 mr-2">
                        <div>

                            <a href="{{host.profile.get_absolute_url}}">
                                {{host.profile.name}}
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>



    <div class="col-md-12">
        {% include "chef/includes/meals-app/template.html" %}
    </div>

    <div class="col-md-12">

        {% if add_meal_form %}

        {% include "chef/includes/add-meal-app/template.html" %}

        {% endif %}

    </div>
</div>
{% endblock content %}


{% block script %}
<script>
</script>
{% include "chef/includes/meals-app/script.html" %}
{% include "chef/includes/add-meal-app/script.html" %}

{% endblock script %}