{% load to_persian_date %}
{% load to_price %}



<div id="accordion-transactions">


    <div class="card" id="transactions-app">
        <div class="card-header" id="heading-transactions">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-transactions"
                    aria-expanded="true" aria-controls="collapse-transactions">
                    تراکنش ها

                    <span v-if="accounts.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="accounts.length"></span>
                        </small>
                    </span>
                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-transactions" class="collapse" aria-labelledby="heading-transactions"
            data-parent="#accordion-transactions">


            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>

                            </th>
                            <th>
                                عنوان
                            </th>

                            <th>
                                دسته بندی
                            </th>
                            <th>
                                پرداخت کننده
                            </th>


                            <th>
                                دریافت کننده
                            </th>



                            <th>
                                مبلغ
                            </th>

                            <th>
                                تاریخ
                            </th>

                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                            <tr>
                                <td>
                                    <div>

                                        <a href="{{transaction.category.get_absolute_url}}">

                                            <span class="badge badge-{{transaction.category.color}}">
                                                {{transaction.category.title}}
                                            </span>
                                        </a>
                                    </div>
                                    <div>

                                        <span class="badge badge-primary">

                                            {{transaction.payment_method}}
                                        </span>
                                    </div>
                                </td>
                                <td>

                                    <span class="badge badge-{{transaction.color}}">
                                        *
                                    </span>
                                    <a href="{{transaction.get_absolute_url}}">
                                        <span class="h5">

                                            {{transaction.title}}
                                        </span>
                                    </a>
                                    {% if transaction.tags.all %}
                                    {% for tag in transaction.tags.all %}
                                    <a href="{{tag.get_absolute_url}}">
                                        <span class="badge badge-{{tag.color}}">

                                            {{tag.title}}
                                        </span>
                                    </a>
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{transaction.category.get_absolute_url}}">
                                        {{transaction.category.title}}
                                    </a>
                                </td>

                                <td>
                                    <a href="{{transaction.pay_from.get_absolute_url}}">
                                        {{transaction.pay_from.title}}
                                    </a>
                                </td>


                                <td>
                                    <a href="{{transaction.pay_to.get_absolute_url}}">
                                        {{transaction.pay_to.title}}
                                    </a>
                                </td>


                                <td>
                                    {{transaction.amount|to_price}}
                                </td>


                                <td>

                                    <small class="text-muted">

                                        {{transaction.transaction_datetime|to_persian_datetime|safe}}
                                    </small>
                                </td>



                            </tr>
                            {% endfor %}

                            <tr v-for="transaction in transactions">
                                <td>
                                     
                                    <div>

                                        <span class="badge badge-primary">
                                            <span v-text="transaction.payment_method"></span>
                                        </span>
                                    </div>
                                </td>
                                <td>


                                    <a :href="transaction.get_absolute_url">
                                        <span class="h5" v-text="transaction.title">

                                        </span>
                                    </a>
                                    {% if transaction.tags.all %}
                                    {% for tag in transaction.tags.all %}
                                    <a href="{{tag.get_absolute_url}}">
                                        <span class="badge badge-{{tag.color}}">

                                            {{tag.title}}
                                        </span>
                                    </a>
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                   
                                </td>

                                <td>
                                    <a :href="transaction.pay_from.get_absolute_url">
                                        <span v-text="transaction.pay_from.title"></span>
                                    </a>
                                </td>


                                <td>
                                    <a :href="transaction.pay_to.get_absolute_url">
                                        <span v-text="transaction.pay_to.title"></span>
                                    </a>
                                </td>


                                <td>
                                    <span v-text="to_price(transaction.amount)"></span>
                                </td>


                                <td>

                                    <small class="text-muted">
                                        <span v-html="transaction.persian_transaction_datetime"></span>
                                    </small>
                                </td>



                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>
</div>