<div class="text-right">
  <input type="text" @input="filter()" v-model="search_for" placeholder="جستجو ..." class="form-control">
  <form action="{% url 'accounting:transactions_print' %}" method="POST">
    <input type="hidden" name="title" value="عنوان">
    <input type="hidden" name="transactions" :value="toString()">
    {% csrf_token %}
    {% if gh %}
    <button title="چاپ" class="btn btn-link" type="submit">
      <i class="fa fa-print"></i>
    </button>
    {% endif %}

  </form>
  <div class="mx-3 my-3 farsi">
   
    {% if account_id_1 and account_id_2 %}

    <a href="{% url 'accounting:transactions2_excel' account_id_1=account_id_1 account_id_2=account_id_2 %}"
      class="btn btn-info">
      <i class="fa fa-print"></i>
      چاپ
    </a>
    {% endif %}

    {% if account_id %}

    <a href="{% url 'accounting:transactions1_excel' account_id=account_id %}" class="btn btn-info">
      <i class="fa fa-print"></i>
      چاپ
    </a>
    {% endif %}

  </div>

</div>