{% extends "phoenix/layout.html" %}

{% block content %}
{% include "core/includes/page-app/page-navbar.html" %}
<div class="row">
    <div class="col-md-8">
        <div class="card" >
            <div class="card-header">
                <h5>
                    {{page.title}}
                </h5>
            </div>
            <div class="farsi card-body text-right">
                {% if perms.core.change_page %}
                <a href="{{page.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2 text-warning"><i
                        class="fa fa-edit"></i> ویرایش</a>
                {% endif %}



                {% if perms.core.delete_page %}
                <a href="{{page.get_delete_url}}" target="_blank" title="حذف" class="mx-2 text-danger"><i
                        class="fa fa-trash"></i> حذف</a>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                {% if page.thumbnail %}
                <img src="{{page.thumbnail}}" class="rounded" width="100%" alt="">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        {% include "core/includes/page-description-app/short-description.html" %}
        {% include "core/includes/page-description-app/description.html" %}
    </div>
    <div class="col-md-4">
        {% include "core/includes/page-downloads-app/template.html" %}
        {% include "core/includes/page-links-app/template.html" %}

    </div>

</div>

{% endblock content %}


{% block script %}
<script>
    let page_id=parseInt("{{page.id}}")
</script>
{% include "core/includes/page-links-app/script.html" %}
{% include "core/includes/page-downloads-app/script.html" %}

{% endblock script %}