<form @submit.prevent="add_price()">
    <div class="row">
        {% if not product and not service %}

        <div class="col-md-3">

            <div class="form-group">
                <label for="">کالا / خدمات </label>
                <select required v-model="item_id" class="form-control">
                    {% for item in items %}

                    <option value="{{item.id}}">{{item.title}}</option>
                    {% endfor %}
                </select>
            </div>






        </div>

        {% endif %}


        {% if not account %}



        <div class="col-md-3">
            <div class="form-group">
                <label for="">حساب</label>
                <select required v-model="account_id" class="form-control">
                    {% for account in accounts %}

                    <option value="{{account.id}}">{{account.title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}

        <div class="col-md-3">
            <div class="form-group">
                <label for="">واحد</label>
                <select required v-model="unit_name" class="form-control">
                    {% for unit_name in unit_names %}

                    <option value="{{unit_name}}">{{unit_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="">قیمت خرید</label>
                <input required type="number" v-model="buy_price" class="form-control">

            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="">قیمت فروش</label>
                <input required type="number" v-model="sell_price" class="form-control">

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="">&nbsp;</label>

                <div class="text-right">

                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-plus mr-2"></i>
                        تایید</button>
                </div>
            </div>

        </div>
        <div class="col-md-12 farsi rtl text-right">
            <div v-if="message.show">
                <div :class="'alert alert-'+message.color">
                    <p v-html="message.text"></p>
                </div>

            </div>

        </div>

    </div>
</form>