{% load to_persian_date %}
{% load to_price %}
{% load static %}
<div id="accordion-item-prices">

    <div class="card" id="item-prices-app">


        <div class="card-header" id="headingItemPrices">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseItemPrices"
                    aria-expanded="true" aria-controls="collapseItemPrices">
                    قیمت های ثبت شده

                    <span v-if="prices.length>0" class="mx-2">
                        <small class="text-danger" v-text="prices.length"></small>
                    </span>
                </button>
            </h5>
        </div>

        <div id="collapseItemPrices" class="collapse" aria-labelledby="headingItemPrices"
            data-parent="#accordion-item-prices">


            <div class="card-body">
                <h4>
                    {{page.title}}
                </h4>

                {% include "accounting/includes/item-prices-app/form.html" %}


                <div class="table-responsive">
                    {% include "accounting/includes/item-prices-app/table.html" %}
                </div>

            </div>
        </div>
    </div>
</div>