{% load static %}
{% load to_price %}


<div id="accordion-projects">


    <div class="card" id="projects-app">
        <div class="card-header" id="heading-projects">
            <div class="row rtl">
                <div class="col-3">

                </div>

                <div class="col-6">
                    <h5 class="card-title text-center farsi">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-projects"
                            aria-expanded="true" aria-controls="collapse-projects">
                            پروژه ها
                            <span v-if="projects.length>0">
                                <small class="text-danger mx-2">
                                    <span v-text="projects.length"></span>
                                </small>
                            </span>

                        </button>
                    </h5>
                </div>

                <div class="col-3">
                    <span v-show="show_detail" title="حذف جزئیات" class="material-icons text-muted"
                        style="cursor: pointer;" @click="show_detail=false">
                        loupe
                    </span>

                    <span v-show="!show_detail" title="نمایش جزئیات" class="material-icons text-primary"
                        style="cursor: pointer;" @click="show_detail=true">
                        loupe
                    </span>

                </div>
            </div>



        </div>
        <div id="collapse-projects" class="collapse {% if expand_projects %} show {% endif %}"
            aria-labelledby="heading-projects" data-parent="#accordion-projects">

            <div class="card-body rtl">

                <div v-for="project in projects" class="farsi mx-2 mb-3">

                    <a title="جزئیات" :href="project.get_absolute_url">
                        <div class="media">

                            <img :src="project.thumbnail" class="rounded" width="32" alt="">

                            <div class="media-body farsi">

                                <h5 v-text="project.title" class="mx-2">

                                </h5>
                                <h6 v-if="project.sub_title">
                                    <span class="text-secondary" v-html="project.sub_title"></span>

                                </h6>


                            </div>
                        </div>
                    </a>

                    <h6 class="text-secondary ltr" v-show="show_detail">
                        <small>
                            <div class="row rtl">
                                <div class="col-2">


                                    <span title="پیشرفت زیرپروژه">
                                        <span v-text="project.percentage_completed"></span>
                                        %
                                    </span>
                                </div>
                                <div class="col-2">


                                    <span title="پسندیده شده">
                                        <span v-text="project.likes_count" class="text-primary"></span>
                                        <small>
                                            <i class="fa fa-thumbs-up text-primary" aria-hidden="true"></i>

                                        </small>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span title="ارزش زیرپروژه">
                                        <span v-text="to_price(project.sum_total,'')"></span>
                                        <small>
                                            {{CURRENCY}}
                                        </small>
                                    </span>
                                </div>
                                <div class="col-2 text-left">
                                    <span title="وزن زیرپروژه">
                                        <span v-text="project.weight"></span>
                                        <small class="ml-1">
                                            X
                                        </small>
                                    </span>
                                </div>
                            </div>

                        </small>

                    </h6>

                    <div class="progress mb-3" v-show="show_detail" style="height: 5px;">
                        <div role="progressbar" :aria-valuenow="project.percentage_completed" aria-valuemin="0"
                            aria-valuemax="100" class="progress-bar bg-primary"
                            :style="'width: '+project.percentage_completed+'%;'"></div>
                    </div>
                </div>
            </div>
            {% if add_project_form %}
            <div class="card-footer ">


                <form v-cloak @submit.prevent="add_project()">
                    <div class="row">
                        <div class="col-8">
                            <input required type="text" v-model="new_project_title" class="farsi form-control"
                                placeholder="پروژه جدید">

                        </div>
                        <div class="col-4">
                            <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">



                            <button v-if="!waiting" class="btn btn-primary btn-link text-light" type="submit">

                                <i class="material-icons">
                                    add
                                </i>
                            </button>


                        </div>
                    </div>

                </form>


            </div>
            {% endif %}
        </div>
    </div>
</div>