{% load to_persian_date %}

<div id="accordion-page-comments">

    <div class="card" id="page-comments-app">
        <div class="card-header" id="heading-page-comments">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-page-comments"
                    aria-expanded="true" aria-controls="collapse-page-comments">
                    نظرات

                    <span v-if="page_comments.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="page_comments.length"></span>
                        </small>
                    </span>


                </button>
            </h5>
        </div>
        <div id="collapse-page-comments" class="collapse" aria-labelledby="heading-page-comments" 
        data-parent="#accordion-page-comments">


            <div class="card-body">
              
                
                <div class="py-3" v-for="page_comment in page_comments">
                    <page-comment-component :page_comment="page_comment">
                    </page-comment-component>

                </div>
                {% if add_page_comment_form %}

                <div class="media">
                    <img src="{{profile.image}}" class="rounded-circle" width="64" alt="">
                    <div class="media-body mr-2">
                        <h6>{{profile.name}}</h6>
   
                            <textarea 
                            id="comment_inputed" 
                            v-model="comment" 
                            class="farsi form-control" 
                            rows="5"
                            ></textarea>
                            <button @click="add_comment"
                             class="btn btn-primary farsi btn-round btn-wd float-right mt-2">
                             
                             ثبت نظر
                             <i class="fa fa-paper-plane" aria-hidden="true"></i>

                            </button>
         
                    </div>
                </div>
                {% endif %}

            </div>

        </div>
    </div>
</div>