<form @submit.prevent="add_shop({{product.id}},{{me_supplier.id}})">
    <div class="row pick-size">
        <div class="col-md-12">
            <h4>
                <small class="text-muted">
                    فروش در
                </small>
                {{me_supplier.title}}
            </h4>
        </div>
        <div class="col-md-3">
            
            <label>واحد فروش</label>
            <select v-model="unit_name" required class="selectpicker farsi" data-style="select-with-transition"
                data-size="4">
                {% for unit_name in product.unit_names %}
                <option value="{{unit_name.unit_name}}" class="farsi">

                    {{unit_name.unit_name}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <label>سطح فروش</label>
            <select v-model="level" required class="selectpicker farsi" data-style="select-with-transition"
                data-size="4">
                {% for level in shop_levels %}
                <option value="{{level}}" class="farsi">

                    {{level}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3 ltr">
            <div class="form-group bmd-form-group">
                <label for="exampleInputqs1" class="bmd-label-floating">موجودی در انبار</label>
                <input v-model="available" min="1" required type="number" class="form-control" id="exampleInputqs1">
                <span class="bmd-help farsi rtl text-right">قیمت را به {{CURRENCY}} وارد کنید.</span>
            </div>
            
            <div class="form-group bmd-form-group">
                <label for="exampleInputq1q" class="bmd-label-floating">قیمت خرید به {{CURRENCY}}</label>
                <input v-model="buy_price" required type="number" class="form-control" min="0" id="exampleInputq1q">
                <span class="bmd-help farsi rtl text-right">قیمت را به {{CURRENCY}} وارد کنید.</span>
            </div>
        </div>

        <div class="col-md-3 ltr">
            <div class="form-group bmd-form-group">
                <label for="exampleInputqq1" class="bmd-label-floating">قیمت بدون تخفیف به {{CURRENCY}}</label>
                <input v-model="old_price" type="number" class="form-control" min="1" id="exampleInputqq1">
                <span class="bmd-help farsi rtl text-right">قیمت بدون تخفیف را به {{CURRENCY}} وارد کنید.</span>
            </div>
            <div class="form-group bmd-form-group">
                <label for="exampleInputq1" class="bmd-label-floating">قیمت فروش به {{CURRENCY}}</label>
                <input v-model="unit_price" required type="number" class="form-control" min="1" id="exampleInputq1">
                <span class="bmd-help farsi rtl text-right">قیمت فروش را به {{CURRENCY}} وارد کنید.</span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-check" class="my-5 mx-3" v-for="specification in specifications">
                <span v-text="specification.name"></span>
                :
                <span v-text="specification.value"></span>
                <label class="form-check-label">
                    <input @click="toggle_specification(specification)" class="form-check-input" type="checkbox"
                        value="" unchecked>


                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
                <hr>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-block btn-info farsi" type="submit">
                تایید و فروش
            </button>
        </div>
    </div>
</form>