{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-work-shifts">
    <div class="card" id="work-shifts-app">
        <div class="card-header" id="heading-work-shifts">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-work-shifts"
                    aria-expanded="true" aria-controls="collapse-work-shifts">
                شیفت های کاری
                    <span v-if="work_shifts.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="work_shifts.length"></span>
                        </small>
                    </span>


                </button>
            </h5>


        </div>
        <div id="collapse-work-shifts" class="collapse" aria-labelledby="heading-work-shifts"
            data-parent="#accordion-work-shifts">


            <div class="card-body">

                {% load static %}
                <form @submit.prevent="search()">
                    <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">

                    <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ..."
                        @input="filter()">
                </form>
                <div>
                    <img v-if="false" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                    <h6 v-if="false">

                        <span class="text-muted">در حال بار گذاری ... </span>
                    </h6>
                </div>

                <div class="table-responsive">

                    <table class="table table-striped rtl">
                        <thead>
                            <th>
            
                            </th>
                            {% if not area %}
            
                            <th>
                                محدوده
                            </th>
                            {% endif %}
            
                            {% if not vehicle %}
                            <th>
                                ماشین
                            </th>
                            {% endif %}
            
                            {% if not driver %}
            
                            <th>
                                راننده
                            </th>
                            {% endif %}
                            {% if not driver %}
            
                            <th>
                                مشتری
                            </th>
                            {% endif %}
                            <th>
                                شروع / پایان
                            </th>
                            <th>
                                درآمد
                            </th>
                            <th>
            
                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="work_shift in work_shifts">
                                <td>
                                    <a target="_blank" title="جزئیات" :href="work_shift.get_absolute_url">
            
            
                                        <i class="material-icons">
                                            ballot
                                        </i>
                                    </a>
                                </td>
                                {% if not area %}
            
                                <td>
                                    <a :href="work_shift.area.get_absolute_url">
            
                                        <span v-text="work_shift.area.title"></span>
                                    </a>
            
                                </td>
                                {% endif %}
                                {% if not vehicle %}
            
                                <td>
                                    <a :href="work_shift.vehicle.get_absolute_url">
            
                                        <span v-text="work_shift.vehicle.title"></span>
                                    </a>
                                </td>
                                {% endif %}
                                {% if not driver %}
            
                                <td>
                                    <a :href="work_shift.driver.get_absolute_url">
            
                                        <img :src="work_shift.driver.account.logo" class="rounded-circle" width="48">
                                        <span v-text="work_shift.driver.account.title"></span>
                                    </a>
            
                                </td>
                                {% endif %}

                                {% if not client %}
            
                                <td>
                                    <a :href="work_shift.client.get_absolute_url">
            
                                        <img :src="work_shift.client.account.logo" class="rounded-circle" width="48">
                                        <span v-text="work_shift.client.account.title"></span>
                                    </a>
            
                                </td>
                                {% endif %}

                                <td>
                                    <div>
                                        <small class="text-secondary" v-html="work_shift.persian_start_datetime"></small>
            
                                    </div>
                                    <div>
                                        <small class="text-secondary" v-html="work_shift.persian_end_datetime"></small>
            
                                    </div>
            
                                </td>
                                <td>
                                    <div class="text-success">
                                        <span v-text="to_price(work_shift.income)"></span>
                                        <small class="text-muted mx-2">
            
                                            {{CURRENCY}}
                                        </small>
            
                                    </div>
            
                                    <div class="text-danger">
                                        <span v-text="to_price(work_shift.amount)"></span>
                                        <small class="text-muted mx-2">
            
                                            {{CURRENCY}}
                                        </small>
            
                                    </div>
            
            
                                </td>
                                <td>
            
            
                                    <a target="_blank" title="ویرایش" :href="work_shift.get_edit_url">
            
                                        <i class="material-icons">
                                            edit
                                        </i>
                                    </a>
            
                                </td>
                            </tr>
                        </tbody>
                    </table>
            
                </div>
            </div>
            <div class="card-footer">
                <div>
                    <h6>

                        مجموع هزینه ها :
                        <span v-text="to_price(total(),'{{CURRENCY}}')"></span>
                    </h6>
                </div>
                {% if add_work_shift_form %}
                {% include "transport/includes/work-shifts-app/form.html" %}
                {% endif %}
            </div>
        </div>


    </div>
</div>