<script>
    let add_to_cart_component_template = `{% include "snapp/includes/add-to-cart-app/component.html" %}`
    let url_add_to_cart = "{% url 'market:add_to_cart' %}"
    let shops = JSON.parse(`{{customer_shops_s|escapejs}}`)

    let add_to_cart_component = Vue.component('add-to-cart-component', {
        data: function () {
            return {
                quantity: 1,
                message: {show:false},
                unit_name:"عدد",
            }
        },
        methods: {
            add_quantity: function (a) {
                if ((this.quantity + a) < 0) {
                    this.quantity = 0
                }
                else if ((this.quantity + a) > this.shop.available) {
                    this.quantity = this.shop.available
                }
                else {
                    this.quantity = this.quantity + a
                }
            },

            to_price: function (value, currency) {
                return to_price(value, currency)
            },
            add_to_cart: function () {
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    quantity: this.quantity,
                    shop_id: this.shop.id,
                }
                // console.log(payload)
                let aa = this
                let posting = $.post(url_add_to_cart, payload)
                posting.done((data) => {
                    if (data.result === 'SUCCEED') {
                        let in_cart=data.cart_line.quantity + " " + data.cart_line.shop.unit_name
                        // let message = in_cart + " با موفقیت به <a href='{% url 'market:cart' %}'>سبد خرید</a> شما افزوده شد."
                        let message = in_cart + `<a href='{% url 'market:cart' %}'>به <i class="material-icons">shopping_cart</i>سبد خرید شما افزوده شد.</a>`
                        aa.message = 
                        {
                            body:message,
                            show:true
                        } 
                        if(typeof in_cart_app!="undefined"){
                            in_cart_app.in_cart=aa.quantity
                            in_cart_app.in_cart_unit=data.cart_line.shop.unit_name
                        }
                        
                        // setTimeout(() => { 
                        //     aa.message.show = false
                        // }, 2000);
                    }
                })
            },


        },
        props: ['shop'],
        template: add_to_cart_component_template,
    })
    let add_to_cart_app = new Vue({
        el: "#add-to-cart-app",
        data: { 
            shops: shops,
            message: {show:false},
        },
        mounted: function () {

        },
        components: {
            add_to_cart_component,
        },
        methods: {
            show_message: function (color, timeout, message) {
                add_to_cart_app.message.show = true
                add_to_cart_app.message.body = "d ff ds gdfg fdf fffffff"
                setTimeout(() => {
                    add_to_cart_app.message.show = false
                }, 1800);
            }
        }
    })
</script>