{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}

<div class="card" id="market-app">
    <div class="card-header">
        <h5 class="text-center">
            فروشگاه
        </h5>
    </div>
    <div class="card-body">
        <img v-if="false" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
        <h6 v-if="false">

            <span class="text-muted">در حال بار گذاری ... </span>
        </h6>
        {% if add_product_form or add_category_form %}
        <div class="row my-3">
            {% if add_category_form %}
            <div class="col-md-6">
                <form @submit.prevent="add_category()">
                    <input type="text" v-model="category_title" placeholder="دسته بندی جدید" class="form-control"
                        required>
                </form>
            </div>
            {% endif %}

            {% if add_product_form %}
            <div class="col-md-6">
                <form @submit.prevent="add_product()">
                    <input type="text" v-model="product_title" placeholder="کالای جدید" class="form-control" required>
                </form>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="row">
        
            <div class="col-lg-2 col-md-3 col-6" v-for="category in categories">
                <div class="mb-3">
                    <a :href="category.get_absolute_url">
                        <div class="text-center">
                            <img :src="category.thumbnail" width="50%" alt="">
                        </div>
                        <h6 class="mt-2 text-center">
                            <span v-text="category.title"></span>
                        </h6>
                        </button>
                    </a>
                </div>
               
            </div>


            <div class="col-lg-2 col-md-3 col-6" v-for="product in products">
                <div class="mb-3">
                    <a :href="product.get_absolute_url" class="btn btn-block btn-link">
                        <div class="text-center">
                            <img :src="product.thumbnail" width="80%" alt="">
                        </div>
                        <h5 class="mt-2 text-center">
                            <span v-text="product.title"></span>
                        </h5>
                    </a>
                </div>
            </div>

        </div>

    </div>