{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-request-signatures">


    <div class="card" id="request-signatures-app">
        <div class="card-header" id="heading-request-signatures">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-request-signatures"
                    aria-expanded="true" aria-controls="collapse-request-signatures">
                    امضاهای درخواست


                    <span v-if="request_signatures.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="request_signatures.length"></span>
                        </small>
                    </span>


                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-request-signatures" class="collapse" aria-labelledby="heading-request-signatures"
            data-parent="#accordion-request-signatures">


            <div class="card-body pt-3">

                <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">

                <table class="table table-striped rtl">
                    <thead>
                        <th>
                            امضا کننده
                        </th>
                        <th>
                            امضا
                        </th>
                        <th>
                            تاریخ
                        </th>
                        <th>
                            پاراف
                        </th>
                        <th>

                        </th>
                    </thead>
                    <tbody>
                        <tr v-for="request_signature in request_signatures">

                            <td>
                                <div class="media">
                                    <a :href="request_signature.employee.get_absolute_url">

                                        <img :src="request_signature.employee.account.logo" class="rounded-circle"
                                            width="64">
                                    </a>
                                    <div class="media-body farsi mr-3">

                                        <div>
                                            <a :href="request_signature.employee.get_absolute_url">
                                                <span v-text="request_signature.employee.title"></span>
                                            </a>
                                        </div>




                                    </div>
                                </div>
                            </td>
                            <td>
                                <span v-html="request_signature.get_status_tag"></span>

                            </td>
                            <td>
                                <span v-html="request_signature.persian_date_added"> </span>

                            </td>
                            <td>
                                <p class="text-primary1 my-3 mx-3">
                                    <span v-text="request_signature.description"> </span>
                                </p>
                            </td>
                            <td>
                                <div class="text-right">

                                    {% if perms.projectmanager.change_requestsignature %}
                                    <a class="mx-2" title="ویرایش" target="_blank"
                                        :href="request_signature.get_edit_url">
                                        <i class="fa fa-edit text-warning"></i>
                                    </a>
                                    {% endif %}
                                    {% if perms.projectmanager.delete_requestsignature %}
                                    <a class="mx-2" title="حذف" target="_blank"
                                        :href="request_signature.get_delete_url">
                                        <i class="fa fa-trash text-danger"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                
                {% if add_signature_form %}
                {% include "projectmanager/includes/request-signatures-app/add-signature-form.html" %}
                {% endif %}
            </div>


        </div>
    </div>