{% load static %}
<form @submit.prevent="send_message()" class="mb-3">
    <div class="row">
        <div class="col-10 text-right">

            <input type="text" class="form-control" placeholder="عنوان پیام" v-model="message_title">
            <input type="text" class="form-control" placeholder="متن پیام" v-model="message_body">
        </div>
        <div class="col-2 text-right">
            <button v-if="!waiting" type="submit" class="btn btn-success">
                <i class="material-icons">
                    send
                </i>
                <span class="mx-2">
                    ارسال

                </span>
            </button>
            <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
            <div>
                <div class="my-3 text-right text-right" v-if="message.show">
                    <span :class="'alert alert-'+message.color">
                        <span class="farsi" v-html="message.body"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>