{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-doctors">
    <div class="card" id="doctors-app">
        <div class="card-header" id="heading-doctors">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-doctors"
                    aria-expanded="true" aria-controls="collapse-doctors">
                    دکتر ها
                    <span v-if="doctors.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="doctors.length"></span>
                        </small>
                    </span>
                </button>
            </h5>
            {% if page_pre_description %}
            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-doctors" class="collapse {% if expand_doctors %} show {% endif %}"
            aria-labelledby="heading-doctors" data-parent="#accordion-doctors">
            <div class="card-body">
                {% load static %}
                <form @submit.prevent="search()">
                    <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">

                    <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ..."
                        @input="filter()">
                </form>
                <div class="table-responsive">
                    <img v-if="false" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                    <h6 v-if="false">

                        <span class="text-muted">در حال بار گذاری ... </span>
                    </h6>
                    <table class="table table-striped">
                        <thead>
                            <th>
                                مراجعه کننده
                            </th>

                          
                            <th>

                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="doctor in doctors">
                                <td>
                                    <a :href="doctor.get_absolute_url">
                                        <div class="media">
                                            <img :src="doctor.account.logo" class="rounded-circle" width="32" alt="">
                                            <div class="media-body mr-3">
                                                <div>

                                                    <span v-text="doctor.account.title"></span>
                                                </div>
                                                <div>
                                                    <small class="text-muted">
                                                        <span v-text="doctor.class_title"></span>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </a>


                                </td>
                                
                                <td>

                                    {% if aaa and perms.projectmanager.add_employee and not doctor.employee %}
                                    <form @submit.prevent="create_employee(doctor.id)">
                                        {% csrf_token %}
                                        <button class="btn btn-warning" type="submit">
                                            ایجاد پرسنل
                                        </button>
                                    </form>
                                    {% endif %}


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>