<script>
    let menu_line_component_template = `{% include 'market/includes/menu-app/component.html' %}`
    let menu_line_component = Vue.component('menu-line-component', {
        data: function () {
            return {

            }
        },
        methods: {
            add_quantity: function (a) {
                if (menu_app.save_done)
                    return

                if ((this.menu_line.quantity + a) < 0) {
                    this.menu_line.quantity = 0
                }
                else if ((this.menu_line.quantity + a) > this.menu_line.shop.available) {
                    this.menu_line.quantity = this.menu_line.shop.available
                }
                else {
                    this.menu_line.quantity = this.menu_line.quantity + a
                }
                menu_app.calculate_total()
            },

            to_price: function (value, currency) {
                return to_price(value, currency)
            },
            add_to_cart: function () {
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    quantity: this.quantity,
                    shop_id: this.shop.id,
                }

                let aa = this
                let posting = $.post(url_add_to_cart, payload)
                posting.done((data) => {
                    if (data.result === 'SUCCEED') {
                        let message = data.cart_line.quantity + " " + data.cart_line.shop.unit_name + " با موفقیت به سبد خرید شما افزوده شد."
                        aa.message = message
                        aa.done = true
                        setTimeout(() => {
                            aa.done = false
                        }, 1800);
                    }
                })
            },


        },
        props: ['menu_line'],
        template: menu_line_component_template,
    })
    let url_save_cart = "{% url 'market:save_cart' %}"

    let menu = JSON.parse(`{{menu_s|escapejs}}`)
    // let menu_lines = JSON.parse(`{{menu_lines_s|escapejs}}`)
    let cart_lines = JSON.parse(`{{cart_lines_s|escapejs}}`)




    $(document).ready(
        () => {
            menu.shops.forEach(shop => {
                let quantity = 0
                cart_lines.forEach(line => {
                    if (shop.id == line.shop.id) {
                        menu_app.total += (line.quantity * line.shop.unit_price)
                        quantity = line.quantity
                    }
                })
                menu_app.menu_lines.push({
                    shop: shop,
                    quantity: quantity
                })
            })
        }
    )


    let menu_app = new Vue({
        el: "#menu-app",
        data: {
            menu: menu,
            menu_lines: [],
            shops: menu.shops,
            total: 0,
            message:"",
            save_done: false,
        },
        // mounted: function () {
        // this.total = 0
        // menu_lines = this.menu_Lines = []
        // this.menu.shops.forEach(shop => {
        //     let quantity = 0
        //     cart_lines.forEach(line => {
        //         if (shop.id == line.shop.id) {
        //             this.total += (line.quantity * line.shop.unit_price)
        //             quantity = line.quantity
        //         }
        //     })
        //     menu_lines.push({
        //         shop: shop,
        //         quantity: quantity
        //     })
        // })
        // },
        methods: {
            save_cart: function () {
                // this.message=".#."
                let url = url_save_cart
                let cart_lines = []
                this.menu_lines.forEach(menu_line => {
                    cart_lines.push({
                        shop_id: menu_line.shop.id,
                        quantity: menu_line.quantity,
                    })
                });
                cart_lines = JSON.stringify(cart_lines)
                let payload = {
                    customer_id: customer_id,
                    cart_lines: cart_lines,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                }
                console.log(payload)
                let posting = $.post(url, payload)
                posting.done(function (data) {
                    if (data.result === 'SUCCEED') {
                        menu_app.save_done = true
                    }
                })
            },
            to_price: function (value, currency) {
                return to_price(value, currency)
            },
            calculate_total: function () {
                this.total = 0
                this.menu_lines.forEach(line => {
                    this.total += (line.quantity * line.shop.unit_price)
                });
            }
        },
        components: {
            menu_line_component,
        }
    })
</script>
