{% load to_json %}
<script>
    let categories = JSON.parse(`{{categories_s|escapejs}}`)
    let products = JSON.parse(`{{products_s|escapejs}}`)
    let market_index_app = new Vue({
        el:"#category-app",
        data: {
            categories: categories,
            products: products,
            search_for:'',
            waiting:false,
        },
        methods: {
            filter:function(){
                this.accounts = accounts.filter(account => account.title.indexOf(this.search_for) > -1)
         
            },
            to_price: function (vall) {
                let color='primary'
                if (vall<0)
                color='danger'
                if (vall>0)
                color='success'
                vall=to_price(vall,"{{CURRENCY}}")
                return `
                    <span class="text-${color}">${vall}</span>
                    `
            },
            create_employee: function (account_id) {
                let url = "{% url 'organization:employee' pk=0 %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    account_id: account_id
                }
                $.post(url, payload).done((data) => {
                    console.log(data)
                })
            },
           
        }
    })

</script>