{% load to_persian_date %}
<table class="table table-striped">
    <thead>
        <th>
            رویداد
        </th>
        {% if not project %}

        <th>
            پروژه
        </th>
        {% endif %}
        <th>
            زمان
        </th>
        <th>
            شروع/پایان
        </th>
        <th>


        </th>
    </thead>
    <tbody>



        <tr v-for="event in events">
            <td>
                <a :href="event.get_absolute_url">
                    <div class="media">
                        <img :src="event.thumbnail" class="rounded" width="48" alt="">
                        <div class="media-body mr-3">
                            <div>
                                <span v-text="event.title">
                                </span>
                            </div>
                        </div>
                    </div>

                </a>
                <span class="pull-left">
                    <small class="d-inline text-primary">

                        <!-- <i  class="fa fa-star-o text-secondary" aria-hidden="true"></i> -->
                        <i v-for="item in event.likes_count" class="fa fa-star text-primary" aria-hidden="true"></i>
                    </small>
                </span>
            </td>
            {% if not project %}

            <td>
                <a v-if="event.project_related" :href="event.project_related.get_absolute_url">
                    <span v-text="event.project_related.title">
                    </span>
                </a>

            </td>
            {% endif %}

            <td>
                <small v-text="event.persian_event_datetime">

                </small>
            </td>

            <td>
                <div>

                    <small v-text="event.persian_start_datetime">

                    </small>
                </div>
                <div>

                </div>

                <small v-text="event.persian_end_datetime">

                </small>
            </td>
            <td>
                {% if perms.projectmanager.change_event %}


                <a title="ویرایش" :href="event.get_edit_url" class="mx-2" target="_blank"><i class="fa fa-edit text-warning"></i></a>
                {% endif %}

                {% if perms.projectmanager.change_delete %}


                <a title="حذف" :href="event.get_delete_url" class="mx-2" target="_blank"><i class="fa fa-trash text-danger"></i></a>
                {% endif %}

            </td>
        </tr>

    </tbody>
</table>