{% load static %}
<div class="card">
    <div class="card-header">
        <h6>
            <small class="text-muted">

                {{page.class_title}}
            </small>
        </h6>
        <h5>


            {{page.title}}


        </h5>
    </div>
    <div class="farsi card-body text-right">
        <div class="my-2">
            {% include "core/includes/page-like-app/template.html" %}

        </div>

        <div class="my-2">

            <a href="{{page.get_print_url}}" target="_blank" title="چاپ" class="mx-2 text-success"><i
                    class="fa fa-print"></i> چاپ</a>
        </div>


        {% if perms.core.change_page %}
        <div class="my-2">

            <a href="{{page.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2 text-warning"><i
                    class="fa fa-edit"></i> ویرایش</a>
        </div>
        <div class="my-2">

            <a href="{% url 'core:page_edit' pk=page.pk %}" target="_blank" title="ویرایش" class="mx-2 text-info"><i
                    class="fa fa-edit"></i> ویرایش</a>
        </div>
        {% endif %}



        {% if perms.core.delete_page %}
        <div class="my-2">

            <a href="{{page.get_delete_url}}" target="_blank" title="حذف" class="mx-2 text-danger"><i
                    class="fa fa-trash"></i> حذف</a>
        </div>
        {% endif %}
        {% if page.parent %}
        <div class="mb-3"></div>
        {{page.recursive_full_link|safe}}
        {% endif %}


        {% if page.meta_data %}
        <p>
            <small>

                <small class="text-muted">
                    کلید واژه ها :
                </small>
                {{keywords}}
            </small>
        </p>
        {% endif %}

        <div class="my-0">
            <form action="https://www.google.com/search" method="get" target="_blank" id="search-form">
                <input name="q" type="hidden" value="{{page.title}}">
                <button type="submit" class=" btn btn-link "><i class="fa fa-search"></i> جستجوی گوگل
                </button>
            </form>
        </div>
        {% if set_thumbnail_header_form %}
        {% include "core/includes/page-thumbnail-header-app/template.html" %}
        {% endif %}
    </div>
</div>