<script>
    let page_id = parseInt("{{page.id}}")
    console.log(page_id)
    let page_comment_component_template = `{% include "core/includes/page-comments-app/component.html" %}`
</script>

{% include "core/includes/page-links-app/script.html" %}
{% include "core/includes/page-images-app/script.html" %}
{% include "core/includes/page-comments-app/script.html" %}
{% include "core/includes/page-downloads-app/script.html" %}
{% include "core/includes/page-related-app/script.html" %}
{% include "core/includes/page-like-app/script.html" %}