<script>
    let page_id = parseInt("{{page.id}}")
    let page_comment_component_template = `{% include "core/includes/page-comments-app/component.html" %}`

    let archive = "{{page.archive}}" === "True"

  
</script>

{% include "core/includes/page-links-app/script.html" %}
{% include "core/includes/page-images-app/script.html" %}
{% include "core/includes/page-comments-app/script.html" %}
{% include "core/includes/page-downloads-app/script.html" %}
{% include "core/includes/page-related-app/script.html" %}
{% include "core/includes/page-like-app/script.html" %}
{% include "core/includes/page-tags-app/script.html" %}
{% include "map/includes/locations-app/script.html" %}
{% include "core/includes/page-permissions-app/script.html" %}
{% if set_thumbnail_header_form %}
{% include "core/includes/page-thumbnail-header-app/script.html" %}
{% endif %}