<li class="nav-item dropdown  my-auto farsi mx-2">
    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="material-icons" aria-hidden="true">apps</i>
        برنامه ها
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for app in installed_apps %}
                {% if app.show_on_menu %}

                <a class="dropdown-item" href="{{app.home_url}}">
                    <img src="{{app.icon}}" width="32" alt="">
                    {{app.title}}</a>
                {% endif %}
            {% endfor %}

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</li>