<div class="card">
    <div class="card-body">


        <form @submit.prevent="add_ware_house_sheet()">
            <div class="row">
                <div class="col-md-4">
                    <select v-model="direction" class="form-control" id="">
                        <option disabled>انتخاب جهت </option>
                        <option value="ورود به انبار">ورود به انبار</option>
                        <option value="خروج از انبار">خروج از انبار</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select v-model="ware_house_id" class="form-control" id="">
                        <option disabled>انتخاب انبار</option>

                        {% for ware_house in ware_houses %}
                        <option value="{{ware_house.id}}">{{ware_house.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" type="submit"> افزودن برگه انبار</button>
                </div>
            </div>
        </form>

    </div>
</div>