<script>
    let warehouse_sheets = JSON.parse(`{{warehouse_sheets_s|escapejs}}`)
    let warehouse_sheets_app_data = {
        warehouse_sheets: warehouse_sheets,
        direction:"",
        ware_house_id:0,
    }
    let warehouse_sheets_app_methods = {
        to_price: function (vall) {
            return to_price(vall, "")
        },
        add_ware_house_sheet:function(){
                let url = "{% url 'warehouse:add_warehouse_sheet_state' %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    invoice_line_id: parseInt("{{invoice_line.id}}"),
                    direction: this.direction,
                    ware_house_id: this.ware_house_id,
                }
                console.log(payload)
                $.post(url, payload).done(data => {
                    console.log(data)
                    if (data.result === 'SUCCEED') {

                        warehouse_sheets_app.warehouse_sheets.push(data.warehouse_sheet)
                        
                    }
                })
            },

    }
</script>
<script>
    let warehouse_sheet_component_template = `{% include "warehouse/includes/warehouse-sheets-app/warehouse-sheet-component-template.html" %}`
    let warehouse_sheet_component = Vue.component('warehouse-sheet-component', {
        data: function () {
            return {
                message: { color: '', show: false, body: "" }
            }
        },
        methods: {
           

            change_state: function (status) {
                let aaa = this.warehouse_sheet
                let url = "{% url 'warehouse:change_warehouse_sheet_state' %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    warehouse_sheet_id: this.warehouse_sheet.id,
                    status: status,
                }
                $.post(url, payload).done(data => {
                    console.log(data)
                    if (data.result === 'SUCCEED') {

                        warehouse_sheets_app.warehouse_sheets.forEach(warehouse_sheet => {
                            if (warehouse_sheet.id == data.warehouse_sheet.id) {
                                warehouse_sheet.status = data.warehouse_sheet.status
                                console.log(warehouse_sheet.status)
                            }
                            if (typeof availables_list_app != 'undefined') {
                                availables_list_app.refresh(warehouse_sheet.ware_house.id)
                            }
                        })
                    }
                })
            },
        },
        props: ['warehouse_sheet'],
        template: warehouse_sheet_component_template,
    })

    let warehouse_sheets_app = new Vue({
        el: "#warehouse-sheets-app",
        data: warehouse_sheets_app_data,
        components: {
            warehouse_sheet_component,
        },
        methods: warehouse_sheets_app_methods,
    })
</script>