<tr>
    <td>
        <span v-text="warehouse_sheet.persian_date_registered"></span>
        <div>

            <span class="badge badge-success" v-if="warehouse_sheet.status===WareHouseSheetStatusEnumDone">

                <span v-text="warehouse_sheet.status"></span>
            </span>


            <span class="badge badge-warning" v-if="warehouse_sheet.status===WareHouseSheetStatusEnumInProgress">

                <span v-text="warehouse_sheet.status"></span>
            </span>



            <span class="badge badge-danger" v-if="warehouse_sheet.status===WareHouseSheetStatusEnumInitial">

                <span v-text="warehouse_sheet.status"></span>
            </span>
        </div>




    </td>
    {% if not product %}

    <td>
        <a :href="warehouse_sheet.invoice_line.product_or_service.get_absolute_url">
            <span v-text="warehouse_sheet.invoice_line.product_or_service.title"></span>
        </a>
    </td>
    {% endif %}
    {% if not ware_house %}

    <td>
        <a :href="warehouse_sheet.ware_house.get_absolute_url">
            <span v-text="warehouse_sheet.ware_house.title"></span>
        </a>
    </td>
    {% endif %}
    {% if not invoice %}

    <td>

        <a v-if="warehouse_sheet.invoice_line" :href="warehouse_sheet.invoice_line.invoice.get_absolute_url">
            <span v-text="warehouse_sheet.invoice_line.invoice.title"></span>
        </a>
    </td>
    {% endif %}


    <td>
        <span v-text="warehouse_sheet.quantity"></span>
        <span class="text-muted" v-text="warehouse_sheet.unit_name"></span>
        <div>
            <small class="text-muted">

                موجودی کل :
                <span v-text="warehouse_sheet.available"></span>
            </small>

        </div>
    </td>

    <td>
        <div>

            <span :class="'badge badge-'+warehouse_sheet.color">
                <span v-text="warehouse_sheet.direction"></span>
            </span>
        </div>
        <div>

        </div>
    </td>
    <td>
        <h4>

            <small v-text="warehouse_sheet.status"></small>
        </h4>

        <div>
            <button class="btn btn-sm mb-1 btn-success" @click="change_state('DONE')">
                <span v-text="WareHouseSheetStatusEnumDone"></span>

            </button>
        </div>
        <div>
            <button class="btn btn-sm mb-1 btn-warning" @click="change_state('IN_PROGRESS')">
                <span v-text="WareHouseSheetStatusEnumInProgress"></span>
            </button>
        </div>
        <div>
            <button class="btn btn-sm mb-1 btn-danger" @click="change_state('INITIAL')">
                <span v-text="WareHouseSheetStatusEnumInitial"></span>

            </button>
        </div>
    </td>

    <td>

        <a :href="warehouse_sheet.get_absolute_url"><i class="material-icons">ballot</i></a>
        <a :href="warehouse_sheet.get_edit_url"><i class="fa fa-edit text-warning"></i></a>
    </td>
</tr>