{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-add-cost">


    <div class="card" id="add-cost-app">
        <div class="card-header" id="heading-add-cost">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-add-cost"
                    aria-expanded="true" aria-controls="collapse-add-cost">
                افزودن هزینه 
                </button>
            </h5>
        </div>
        <div id="collapse-add-cost" class="collapse" aria-labelledby="heading-add-cost"
            data-parent="#accordion-add-cost">
            <div class="card-body">
                {% load static %}
                <form @submit.prevent="add_cost()">
                    <div class="row rtl">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">عنوان
                                </label>
                                <input required type="text" class="form-control" v-model="title">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">پرداخت کننده</label>
                                <select class="form-control" v-model="pay_from_id" name="" id="">
                                    {% for account in accounts %}
                                    <option value="{{account.id}}">{{account.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">هزینه برای</label>
                                <select v-model="cost_type" class="form-control">
                                    {% for cost_type in cost_types %}
                                    <option value="{{cost_type}}">{{cost_type}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                         
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">تاریخ</label>
                                <div class="row">
                                    <div class="col-8">
                                        <date-picker v-model="payment_datetime"></date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">مبلغ :
                                    <span v-html="to_price(amount)"></span>
                                </label>
                                <input min="0" required type="number" class="form-control" v-model="amount">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">نحوه پرداخت</label>
                                <select v-model="payment_method" class="form-control">
                                    {% for payment_method in payment_methods %}
                                    <option value="{{payment_method}}">{{payment_method}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">وضعیت پرداخت</label>
                
                
                                <select required v-model="status" class="form-control">
                                    {% for transaction_status in transaction_statuses %}
                                    <option value="{{transaction_status}}">{{transaction_status}}</option>
                
                                    {% endfor %}
                                </select>
                
                            </div>
                
                
                        </div>
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">توضیحات
                                </label>
                                <input type="text" class="form-control" v-model="description">
                            </div>
                        </div>
                        <div class="col-md-12 pt-4">
                            <div class="form-group">
                                <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">
                                <button class="btn px-3 btn-success" type="submit">
                                    <i class="fa fa-plus"></i>
                                    افزودن</button>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <div class="my-3 text-right" v-if="message.show">
                                <span :class="'alert alert-'+message.color">
                                    <span class="farsi" v-html="message.body"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>  
            </div>
            
            
        </div>
    </div>
</div>