{% extends "web/layout.html" %}
{% load static %}


{% block content %}
<div class="main {{main_class}}">
    {% include "web/includes/index-sections/carousels.html" %}
    {% include "web/includes/index-sections/features.html" %}
    {% include "web/includes/index-sections/blogs.html" %}
    {% include "web/includes/index-sections/our-works.html" %}
    {% include "web/includes/index-sections/our-teams.html" %}
    {% include "web/includes/index-sections/testimonials.html" %}
    {% include "web/includes/index-sections/contact-us.html" %}

</div>
{% endblock %}

{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>

{% include "core/includes/contact-us-app/script.html" %}

<script>
    $(document).ready(() => {
        $("#slider_link0").addClass("active")

        $(".carousel-item").first().addClass("active")
        $(".carousel-item2").first().addClass("active")
    })
</script>


{% endblock %}


{% block vertical_nav %}

{% endblock %}

{% block nav_bar %}

{% endblock %}