{% extends "web/layout.html" %}
{% load to_price %}
{% load static %}



{% block page_header %}
<div class="page-header header-filter header-small" data-parallax="true"
    style="background-image: url('{{header_image.image}}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <div class="brand">
                    <h4 class="text-center">
                        جستجو برای
                    </h4>
                    <h1 class="title text-center">

                        {{search_for}}
                    </h1>
                    {% if perms.core.change_picture %}
                    <div class="text-center">
                        {{header_image.get_edit_btn|safe}}
                    </div>

                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="main {{main_class}}">

    <div class="section">
        <div class="container">

            {% for page in features %}
            {% include "web/includes/page-app/brief-card.html" %}
            {% endfor %}

            {% for page in blogs %}
            {% include "web/includes/page-app/brief-card.html" %}
            {% endfor %}

            {% for page in our_works %}
            {% include "web/includes/page-app/brief-card.html" %}
            {% endfor %}

        </div>
    </div><!-- section -->

</div>
{% endblock %}
{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% endblock %}