<div class="card">
    <div class="card-body">
        <div class="text-center">
            <img src="{{selected_profile.image}}" width="192" class="rounded-circle" alt="">

        </div>

        <h5 class="text-center my-2">

            {{selected_profile.name}}
        </h5>
        {% if selected_profile.bio %}
        <p class="text-center my-0 text-muted">
            <small>

                {{profile.bio}}
            </small>
        </p>
        {% endif %}

        {% if selected_profile.mobile %}

        <h5 class="text-center my-2">
            <a href="tel:{{selected_profile.mobile}}">
                <span class="text-info ">

                    {{selected_profile.mobile}}
                </span>
            </a>
        </h5>
        {% endif %}

        {% if selected_profile.email %}

        <h6 class="text-center my-2">
            <a href="mailto:{{selected_profile.email}}">
                <span class="text-info ">

                    {{selected_profile.email}}
                </span>
            </a>
        </h6>
        {% endif %}






    </div>
</div>