{% if do_cancel_form %}
<form action="{% url 'market:do_cancel_order' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="order_id" value="{{order.id}}">
    <h3>
        کنسل کردن سفارش
    </h3>
    <div class="row rtl">

        <div class="col-12">

            <div class="form-group label-floating is-empty bmd-form-group">
                <label class="bmd-label-floating">توضیحات</label>
                <input type="text" name="description" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-success farsi">سفارش را کنسل کردم</button>
        </div>
    </div>


</form>

{% endif %}