{% load static %}
<div id="order-app">

    <div class="table-responsive rtl">
        <button @click="show_guarantees=!show_guarantees" class="btn btn-success farsi">
            نمایش گارانتی ها
        </button>
        <table class="table table-shopping">
            <thead>
                <tr>
                    <th class="farsi text-center"></th>
                    <th class="farsi text-right">محصول</th>
                    <th class="farsi text-right">قیمت جزء</th>
                    <th class="farsi text-right">تعداد</th>
                    <th class="farsi text-right">مبلغ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>


                <template v-for="order_line in order_lines">

                    <order-line-component :order_line="order_line"></order-line-component>
                  
                    <template v-if="show_guarantees" v-for="guarantee in order_line.guarantees">

                        <tr>
                            <td colspan="8">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="media">
                                            <a :href="guarantee.get_absolute_url">

                                                <img width="128" :src="guarantee.get_qrcode_url" alt="">
                                            </a>
                                            <div class="media-body">
                                                <div class="text-right">
                                                    <span v-text="guarantee.barcode"></span>
                                                </div>
                                                <div class="text-right">
                                                    <span v-text="guarantee.serial_no"></span>
                                                </div>
                                                <div class="text-right">
                                                    <a class="mx-2" target="_blank" :href="guarantee.get_print_url">
                                                        <i class="material-icons text-primary">
                                                          print
                                                        </i>
                                                      </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <span v-text="guarantee.persian_start_date"></span>

                                    </div>
                                    <div class="col-md-3">
                                        <span v-text="guarantee.persian_end_date"></span>

                                    </div>
                                </div>

                            </td>

                        </tr>
                    </template>
                </template>
                <tr>
                    <td colspan="2"></td>
                    <td class="td-total farsi text-muted">
                        جمع کل
                    </td>
                    <td colspan="1" class="td-price farsi">
                        <span v-text="to_price(total)">

                        </span>
                        <small class="text-muted">{{CURRENCY}}</small>
                    </td>
                    <td colspan="2" class="text-left">
                        <!-- <button type="button" @click="checkout()" class="btn btn-info btn-round">Complete Purchase <i
                                class="material-icons">keyboard_arrow_right</i></button> -->
                    </td>
                </tr>
                <!-- <tr>
<td colspan="6"></td>
<td colspan="2" class="text-right">
  <button type="button" class="btn btn-info btn-round">Complete Purchase <i class="material-icons">keyboard_arrow_right</i></button>
</td>
</tr> -->
            </tbody>
        </table>
    </div>




</div>