{% load to_amount_color %}
{% load to_price %}
<div class="text-center">
    {% if account.profile %}
    <a href="{{account.profile.get_absolute_url}}" target="_blank" title="پروفایل" class="mx-2"><i
            class="fa fa-user text-info"></i></a>
    {% endif %}
    {% if perms.accounting.change_account %}
    <a href="{{account.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i
            class="fa fa-edit text-info"></i></a>
    {% endif %}
    {% if perms.accounting.delete_account %}
    <a href="{{account.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
            class="fa fa-trash text-danger"></i></a>
    {% endif %}
</div>
{% if account.address %}
<div class="text-center farsi my-3">
    <i class="fa fa-trash text-danger"></i>
    {{account.address}}
</div>
{% endif %}
{% if account.description %}
<div class="text-center farsi my-3">
    <i class="fa fa-trash text-danger"></i>
    {{account.description}}
</div>
{% endif %}
{% if account.tel %}
<div class="text-center farsi my-3">
    <a href="tel:{{account.tel}}">
        <i class="fa fa-phone text-success"></i>
        {{account.tel}}
    </a>
</div>
{% endif %}
<h4 class="text-center">
    <span class="text-{{account.balance.rest|to_amount_color}}">
        مانده :
        {{account.balance.rest|to_price}}
    </span>
</h4>
<h4 class="text-center">
    <span class="text-{{account.balance.rest|to_amount_color}}">
        {{account.balance.rest|to_horuf}} {{CURRENCY}}
    </span>
</h4>
{% if not bank_account and account %}

<div class="text-center my-3">
    <a class=" farsi btn btn-danger" href="{% url 'accounting:new_invoice' pay_from_id=account.id pay_to_id=0 %}">
        فاکتور خرید
    </a>
    <a class=" farsi btn btn-success" href="{% url 'accounting:new_invoice' pay_from_id=0 pay_to_id=account.id %}">
        فاکتور فروش
    </a>
</div>
{% endif %}

{% for acc in account.employee_set.all %}
<div class="my-2 text-center farsi">
    <a href="{{acc.get_absolute_url}}">
        <small class="text-muted">
            پرسنل
        </small>
        <span>
            {{acc.title}}
        </span>


    </a>
    <span>
        {{acc.job_title}}
    </span>


    <a href="{{acc.organization_unit.get_absolute_url}}">
        <small class="text-muted">
            واحد سازمانی
        </small>
        <span>
            {{acc.organization_unit.full_title}}
        </span>
    </a>

</div>
{% endfor %}
{% for acc in account.organizationunit_set.all %}
<div class="my-2 text-center farsi">
    <a href="{{acc.get_absolute_url}}">
        <small class="text-muted">
            واحد سازمانی
        </small>
        <span>
            {{acc.title}}
        </span>
    </a>
</div>
{% endfor %}


{% for acc in account.driver_set.all %}
<div class="my-2 text-center farsi">
    <a href="{{acc.get_absolute_url}}">
        <small class="text-muted">
            راننده
        </small>
        <span>
            {{acc.title}}
        </span>
    </a>
</div>
{% endfor %}


{% for acc in account.passenger_set.all %}
<div class="my-2 text-center farsi">
    <a href="{{acc.get_absolute_url}}">
        <small class="text-muted">
            مسافر
        </small>
        <span>
            {{acc.title}}
        </span>
    </a>
</div>
{% endfor %}

{% for acc in account.client_set.all %}
<div class="my-2 text-center farsi">
    <a href="{{acc.get_absolute_url}}">
        <small class="text-muted">
            مشتری سرویس حمل و نقل
        </small>
        <span>
            {{acc.title}}
        </span>
    </a>
</div>
{% endfor %}
    
