{% if all_organization_units_s %}
<script>
    let all_organization_units = JSON.parse(`{{all_organization_units_s|escapejs}}`)
</script>
{% else %}
<script>
    let all_organization_units = []
</script>
{% endif %}
<script>


    let organization_units = JSON.parse(`{{organization_units_s|escapejs}}`)

    let organization_units_app = new Vue({
        el: "#organization-units-app",
        data: {
            new_organization_unit_title: "",
            all_organization_units: all_organization_units,
            organization_units: organization_units,
            message: "",
            waiting: false,
            show_form: false,
        },
        methods: {
            filter_list: function () {
                if (this.new_organization_unit_title.length < 1) {
                    this.all_organization_units = []
                }
                else {
                    this.show_form=true
                    this.all_organization_units = all_organization_units.filter(
                        (organization_unit) => {
                            return organization_unit.title.indexOf(this.new_organization_unit_title) > -1
                        }
                    )
                }
            },
            add_organization_unit: function () {
                let parent_id_ = 0
                if (typeof page_id === 'undefined')
                    parent_id_ = 0
                else {
                    parent_id_ = page_id

                }
                organization_units_app.waiting = true
                let url = "{% url 'projectmanager:add_organization_unit' %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    title: this.new_organization_unit_title,
                    parent_id: parent_id_,
                    parent_id: parent_id_,
                }
                let posting = $.post(url, payload)
                posting.done((data) => {

                    organization_units_app.waiting = false
                    if (data.result === 'FAILED') {
                        organization_units_app.message = {
                            show: true,
                            color: "danger",
                            text: "خطا در افزودن مورد جدید",
                        }
                    }
                    if (data.result === 'SUCCEED') {
                        organization_units_app.message = {
                            show: true,
                            color: "success",
                            text: "با موفقیت افزوده شد.",
                        }
                        setTimeout(() => {
                            organization_units_app.message.show = false
                        }, 2000);
                        organization_units_app.organization_units.push(data.organization_unit)
                        organization_units_app.new_organization_unit_title = ""
                    }
                })
            },

            select_organization_unit: function (organization_unit_id) {

                organization_units_app.waiting = true
                let url = "{% url 'projectmanager:add_organization_unit' %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    organization_unit_id: organization_unit_id,
                    page_id: page_id,
                }
                let posting = $.post(url, payload)
                posting.done((data) => {

                    organization_units_app.waiting = false
                    if (data.result === 'FAILED') {
                        organization_units_app.message = {
                            show: true,
                            color: "danger",
                            text: "خطا در افزودن مورد جدید",
                        }
                    }
                    if (data.result === 'SUCCEED') {
                        organization_units_app.message = {
                            show: true,
                            color: "success",
                            text: "با موفقیت افزوده شد.",
                            
                        }
                        setTimeout(() => {
                            organization_units_app.message.show = false
                        }, 2000);
                        organization_units_app.organization_units.push(data.organization_unit)
                        organization_units_app.new_organization_unit_title = ""
                        // if(typeof material_requests_app != 'undefined')
                        // material_requests_app.employees.push()
                    }
                })
            },

        }
    })
</script>