{% load static %}


<div id="accordion">


    <div class="card mb-3" id="organization-units-app">
        <div class="card-header" id="headingOrgUnits">

            <h5 class="card-title text-center farsi">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOrgUnits" aria-expanded="true"
                    aria-controls="collapseOrgUnits">
                    لیست واحد های سازمانی ها
                </button>
            </h5>


        </div>
        <div id="collapseOrgUnits" class="collapse {% if show_organization_units_list %}show{% endif %}"
            aria-labelledby="headingOrgUnits" data-parent="#accordion">

            <div class="card-body">
                <div class="my-3">
                    {% if add_organization_unit_form and show_organization_units_list %}

                    {% include "projectmanager/includes/organization-units-app/add-organization-unit-form.html" %}
                    {% endif %}

                </div>
                <div v-for="organization_unit in organization_units" class="mb-3">
                    <a :href="organization_unit.get_absolute_url">
                        <div class="media">

                            <i class="material-icons">
                                apartment
                            </i>

                            <div class="media-body farsi mr-2">

                                
                                <h5>
                                    
                                    <span v-html="organization_unit.title">
                                    </span>

                                </h5>

                                <h6 class="text-muted" v-if="organization_unit.pre_title">
                                    <span v-text="organization_unit.pre_title">

                                    </span>
                                    <span v-html="organization_unit.title">
                                    </span>

                                </h6>




                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-footer ">

                {% if add_organization_unit_form %}
                {% include "projectmanager/includes/organization-units-app/add-organization-unit-form.html" %}

                {% endif %}


                {% if select_organization_unit_form %}
                {% include "projectmanager/includes/organization-units-app/select-organization-unit-form.html" %}

                {% endif %}
            </div>
        </div>
    </div>
</div>