<div id="accordion-cheques">

    <div class="card" id="cheques-app">
        <div class="card-header" id="heading-cheques">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-cheques" aria-expanded="true"
                    aria-controls="collapse-cheques">
                    چک ها

                    <span v-if="cheques.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="cheques.length"></span>
                        </small>
                    </span>


                </button>
            </h5>
        </div>
        <div id="collapse-cheques" class="collapse {% if expand_cheques %} show {% endif %}" aria-labelledby="heading-cheques"
            data-parent="#accordion-cheques">


            <div class="card-body">

                {% load static %}

                {% include "accounting/includes/cheques-app/table.html" %}

            </div>
        </div>
    </div>
</div>
 