<script>
    let currency_coef = 1

    let tax_percent = parseInt(`{{invoice.tax_percent}}`)
    let invoice_lines_app_data = {}
    let invoice_lines_app_methods = {}

</script>

{% if COEF_PRICE %}
<script>

    currency_coef = parseInt("{{COEF_PRICE}}")

</script>
{% endif %}

{% if add %}
<script>
    invoice_lines_app_data = {
        invoice_lines: invoice_lines,
        tax_percent: tax_percent,
    }
    invoice_lines_app_methods = {
        to_price: function (vall) {
            return to_price(vall * currency_coef, "")
        },
        sum_total: function () {
            let sum = 0
            this.invoice_lines.forEach(invoice_line => {
                sum += invoice_line.quantity * invoice_line.unit_price

            })
            return sum
        }
    }
</script>
{% else %}
<script>
    invoice_lines_app_data = {
        invoice_lines: invoice_lines,
        tax_percent: tax_percent,
    }
    invoice_lines_app_methods = {
        to_price: function (vall) {
            return to_price(vall * currency_coef, "")
        },
        sum_total: function () {
            let sum = 0
            this.invoice_lines.forEach(invoice_line => {
                sum += invoice_line.quantity * invoice_line.unit_price

            })
            return sum
        }
    }
</script>
{% endif %}
<script>
    let invoice_lines_app = new Vue({
        el: "#invoice-lines-app",
        data: invoice_lines_app_data,
        methods: invoice_lines_app_methods,
    })
</script>