{% load to_price %}
<div class="card" id="invoice-lines-app">
    <div class="card-body">
    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <th class="bordered">
                    ردیف
                </th>
                {% if not product and not service %}

                <th class="bordered">
                    شرح
                </th>
                {% endif %}


                {% if not invoice %}

                <th class="bordered">
                    فاکتور
                </th>
                <th class="bordered">
                    تاریخ
                </th>
                {% endif %}


                <th class="bordered">
                    تعداد
                </th>

                <th class="bordered">
                    فی
                </th>

                <th class="bordered">
                    جمع
                    <small class="text-muted">

                        ( {{CURRENCY}} )
                    </small>
                </th>

            </thead>
            <tbody>
                <tr v-for="invoice_line in invoice_lines">
                    <td class="bordered">
                        <a :href="invoice_line.get_absolute_url">

                            <span v-text="invoice_line.row"></span>
                        </a>
                    </td>
                    {% if not product and not service %}

                    <td class="bordered">
                        <a :href="invoice_line.product_or_service.get_absolute_url">
                            <span v-text="invoice_line.product_or_service.title"></span>
                        </a>
                    </td>
                    {% endif %}


                    {% if not invoice %}

                    <td class="bordered">
                        <a :href="invoice_line.invoice.get_absolute_url">
                            <span v-text="invoice_line.invoice.title"></span>
                        </a>
                        <div class="row">
                            <div class="col-6">
                                
                                <a :href="invoice_line.invoice.pay_from.get_absolute_url">
                                    <small>
                                        <span v-text="invoice_line.invoice.pay_from.title"></span>
                                    </small>
                                </a>
                            </div>
                            <div class="col-6">
                                <a :href="invoice_line.invoice.pay_to.get_absolute_url">
                                    <small>
                                        <span v-text="invoice_line.invoice.pay_to.title"></span>
                                    </small>
                                </a>

                            </div>
                        </div>
                    </td>
                    <td class="bordered">
                        <span v-text="invoice_line.invoice.persian_invoice_datetime"></span>
                    </td>
                    {% endif %}

                    <td class="bordered">
                        <span v-text="invoice_line.quantity"></span>
                        <span v-text="invoice_line.unit_name"></span>
                    </td>

                    <td class="bordered">
                        <span v-text="to_price(invoice_line.unit_price)"></span>
                    </td>

                    <td class="bordered">
                        <span v-text="to_price(invoice_line.unit_price*invoice_line.quantity)"></span>
                    </td>

                </tr>
                {% if invoice %}

                <tr>
                    <td colspan="4">
                        <div class="text-left">
                            جمع
                        </div>
                    </td>

                    <td class="bordered">
                        <span v-text="to_price(sum_total())"></span>
                    </td>

                </tr>
                {% endif %}
                {% if invoice %}

                {% if invoice.ship_fee > 0 %}

                <tr>
                    <td colspan="4">
                        <div class="text-left">

                            هزینه ارسال
                        </div>
                    </td>

                    <td class="bordered">
                        <span>
                            {{invoice.ship_fee|to_price}}
                        </span>
                    </td>

                </tr>
                {% endif %}
                {% if invoice.tax_percent > 0 %}
                  
                <tr>
                    <td colspan="4">
                        <div class="text-left">

                            <span>
                                {{invoice.tax_percent}}
                            </span>
                            درصد
                            مالیات بر ارزش افزوده
                        </div>
                    </td>

                    <td class="bordered">
                        <span>
                            {{invoice.tax_amount|to_price}}
                        </span>
                    </td>

                </tr>
                {% endif %}
                {% if invoice.discount > 0 %}

                <tr>
                    <td colspan="4">
                        <div class="text-left">

                            تخفیف
                        </div>
                    </td>

                    <td class="bordered">
                        <span>
                            {{invoice.discount|to_price}}
                        </span>
                    </td>

                </tr>
                {% endif %}
                <tr>
                    <td colspan="4">
                        <div class="text-left">

                            قابل پرداخت : {{invoice.sum_total|to_horuf}}
                            {{CURRENCY}}
                        </div>
                    </td>

                    <td class="bordered filled">
                        <span>
                            {{invoice.sum_total|to_price}}
                        </span>
                    </td>

                </tr>

                {% endif %}





            </tbody>
        </table>
    </div>
</div>

</div>