{% load float_to_int %}
{% load to_price %}
{% load to_persian_date %}
<div id="request-app">

    <div class="card">
        <div class="card-header">
            <h5>
                {{my_request.title}}
                {% if perms.projectmanager.change_request %}
                <a class="mx-2" title="ویرایش" target="_blank" href="{{my_request.get_edit_url}}"><i
                        class="fa fa-edit text-warning"></i></a>
                {% endif %}
                {% if perms.projectmanager.delete_request %}
                <a class="mx-2" title="حذف" target="_blank" href="{{my_request.get_delete_url}}"><i
                        class="fa fa-trash text-danger"></i></a>
                {% endif %}
            </h5>
        </div>
        <div class="card-body text-right farsi">
            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                فاکتور
                            </small>
                        </td>
                        <td class="text-right">

                            <a href="{{my_request.invoice.get_absolute_url}}">

                                {{my_request.invoice.title}}
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                پروژه
                            </small>
                        </td>
                        <td class="text-right">

                            <a href="{{my_request.project.get_absolute_url}}">

                                {{my_request.project.title}}
                            </a>
                        </td>
                    </tr>


                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                پیمانکار 
                            </small>
                        </td>
                        <td class="text-right">

                            <a href="{{my_request.project.contractor.get_absolute_url}}">

                                {{my_request.project.contractor.title}}
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                کارفرما 
                            </small>
                        </td>
                        <td class="text-right">

                            <a href="{{my_request.project.employer.get_absolute_url}}">

                                {{my_request.project.employer.title}}
                            </a>
                        </td>
                    </tr>


                    <tr>
                        <td class="text-left">

                            <small class="text-muted">
                                مورد درخواست شده 
                            </small>
                        </td>
                        <td class="text-right">

                            <a href="{{my_request.product_or_service.get_absolute_url}}">

                                {{my_request.product_or_service.title}}
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                مقدار / تعداد درخواست شده
                            </small>
                        </td>
                        <td class="text-right">
                            {{my_request.quantity|float_to_int}} {{my_request.unit_name}}
                        </td>
                    </tr>


                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                وضعیت درخواست
                            </small>
                        </td>
                        <td class="text-right">
                            <span v-html="status_tag"></span>
                        </td>
                    </tr>
                    {% if my_request.date_requested %}

                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                تاریخ درخواست
                            </small>
                        </td>
                        <td class="text-right">
                            <span>
                                {{my_request.date_requested|to_persian_datetime|safe}}
                            </span>
                        </td>
                    </tr>
                    {% endif %}


                    {% if my_request.date_delivered %}

                    <tr>
                        <td class="text-left">
                            <small class="text-muted">
                                تاریخ تحویل
                            </small>
                        </td>
                        <td class="text-right">
                            <span>
                                {{my_request.date_delivered|to_persian_datetime|safe}}
                            </span>
                        </td>
                    </tr>
                    {% endif %}




                </table>
            </div>




            <div class="alert alert-info">

                <p>
                    {{my_request.quantity|float_to_int}} {{my_request.unit_name}} * {{my_request.unit_price|to_price}} =
                    {{my_request.total|to_price}}
                </p>
            </div>

            <div class="alert alert-success">

                <h5>
                    {{my_request.total|to_horuf}} {{CURRENCY}}

                </h5>
            </div>


        </div>
    </div>
</div>

<div class="row">


    <div class="col-md-12">

        {% include "accounting/includes/invoice-line-app/template.html" %}
    </div>


    <div class="col-md-12">

        {% include "guarantee/includes/guarantees-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "warehouse/includes/warehouse-sheets-app/template.html" %}

    </div>
</div>