<div class="card" id="majors-app">
    <div class="card-header">
        <h4 class="title">
          <a href="{% url 'school:majors' %}">
            لیست رشته ها
            </a>
        </h4>
    </div>
    <div class="card-body">
      <div v-for="major in majors">
        <h4>

          <a :href="major.get_absolute_url">
            <span v-text="major.title"></span>
          </a>
          {% if perms.school.change_major %}
          <a target="_blank" title="ویرایش" :href="major.get_edit_url">
            <i class="material-icons">
                edit
            </i>
            
          </a>
          {% endif %}
        </h4>
      </div>
    </div>
    
    {% if add_major_form %}
    <div class="card-footer">
        <form @submit.prevent="add_major()">
            <input required type="text" v-model="title" class="form-control" placeholder="نام رشته جدید">
        </form>
    </div>
      
    {% endif %}
  </div>