{% extends "school/layout.html" %}
{% block content %}
<h3 class="text-center">
    <small class="text-muted">

        واحد درسی در حال آموزش
    </small>
    {{active_course.title}}


    {% if perms.school.change_activecourse %}
    <a title="ویرایش" target="_blank" href="{{active_course.get_edit_url}}">
        <i class="fa fa-edit text-center"></i>
    </a>
    {% endif %}

</h3>

<div class="row">
    <div class="col-md-4">
        {% include "school/includes/active-course-app/active-course-card.html" %}

         
      
        

    </div>




    <div class="col-md-4">

    
        {% include "school/includes/teachers-app/template.html" %}
        
        {% if add_teacher_to_active_course_form %}
        {% include "school/includes/add-teacher-to-active-course-app/template.html" %}
      
        {% endif %}

    </div>
    <div class="col-md-4">
        {% include "school/includes/students-app/template.html" %}

        {% if add_student_to_active_course_form %}
        {% include "school/includes/add-student-to-active-course-app/template.html" %}
      
        {% endif %}

    </div>
    <div class="col-md-7">
        {% include "school/includes/books-app/template.html" %}

    </div>






    <div class="col-md-5">

        {% include "school/includes/sessions-app/template.html" %}
    </div>
</div>

</div>
{% endblock content %}


{% block script %}
<script>
    let sctive_course_id=parseInt("{{sctive_course.id}}")
</script>
{% include "school/includes/sessions-app/script.html" %}
{% include "school/includes/students-app/script.html" %}
{% include "school/includes/books-app/script.html" %}
{% include "school/includes/add-student-to-active-course-app/script.html" %}
{% include "school/includes/add-teacher-to-active-course-app/script.html" %}
{% include "school/includes/teachers-app/script.html" %}

{% endblock script %}