{% extends "school/layout.html" %}
{% block content %}
<h3 class="text-center">
    <small class="text-muted">

        واحد درسی در حال آموزش
    </small>
    {{active_course.title}}


    {% if perms.school.change_activecourse %}
    <a title="ویرایش" target="_blank" href="{{active_course.get_edit_url}}">
        <i class="fa fa-edit text-center"></i>
    </a>
    {% endif %}

</h3>

<div class="row">
    <div class="col-md-4">

        <div class="card">
            <div class="card-body text-right farsi">
                <div class="mb-3">
                    <h4>

                        <a href="{{active_course.get_absolute_url}}">
                            {{active_course.title}}
                        </a>


                        <div>

                            <a href="{{active_course.year.get_absolute_url}}">
                                {{active_course.year.title}}
                            </a>
                        </div>

                        {% if perms.school.change_activecourse %}
                        {{active_course.get_edit_btn|safe}}

                        {% endif %}
                    </h4>
                    <h4>
                        <a href="{{active_course.classroom.get_absolute_url}}">
                            اتاق
                            {{active_course.classroom.title}}
                            آموزشگاه
                            {{active_course.classroom.school.title}}
                        </a>
                        {% if perms.school.change_activecourse %}
                        {{active_course.classroom.get_edit_btn|safe}}

                        {% endif %}
                    </h4>
                </div>
                <div class="mb-3">
                    <small class="text-muted">
                        واحد درسی
                    </small>
                    <a href="{{active_course.course.get_absolute_url}}">
                        {{active_course.course.title}}
                    </a>
                    {% if perms.school.change_course %}
                    {{active_course.course.get_edit_btn|safe}}

                    {% endif %}
                </div>
                <div class="mb-3">

                    <small class="text-muted">
                        اتاق
                    </small>
                    <a href="{{active_course.course.get_absolute_url}}">
                        {{active_course.classroom.title}}
                    </a>
                    {% if perms.school.change_classroom %}
                    {{active_course.course.classroom.get_edit_btn|safe}}
                    {% endif %}
                </div>

                <div class="mb-3">

                    <small class="text-muted">
                        آموزشگاه
                    </small>
                    <a href="{{active_course.course.get_absolute_url}}">
                        {{active_course.classroom.school.title}}
                    </a>
                    {% if perms.school.change_school %}
                    {{active_course.course.classroom.school.get_edit_btn|safe}}

                    {% endif %}
                </div>





            </div>
        </div>

      
        

    </div>




    <div class="col-md-4">

    
        {% include "school/includes/teachers-app/template.html" %}
        
        {% if add_teacher_to_active_course_form %}
        {% include "school/includes/add-teacher-to-active-course-app/template.html" %}
      
        {% endif %}

    </div>
    <div class="com-md-4">
        {% include "school/includes/students-app/template.html" %}

        {% if add_student_to_active_course_form %}
        {% include "school/includes/add-student-to-active-course-app/template.html" %}
      
        {% endif %}

    </div>
    <div class="col-md-7">
        {% include "school/includes/books-app/template.html" %}

    </div>






    <div class="col-md-5">

        {% include "school/includes/sessions-app/template.html" %}
    </div>
</div>

</div>
{% endblock content %}


{% block script %}
<script>
    let sctive_course_id=parseInt("{{sctive_course.id}}")
</script>
{% include "school/includes/sessions-app/script.html" %}
{% include "school/includes/students-app/script.html" %}
{% include "school/includes/books-app/script.html" %}
{% include "school/includes/add-student-to-active-course-app/script.html" %}
{% include "school/includes/add-teacher-to-active-course-app/script.html" %}
{% include "school/includes/teachers-app/script.html" %}

{% endblock script %}