{% extends "school/layout.html" %}
{% block content %}


<div class="row">


    <div class="col-md-12 my-4">
        <h4 class="title text-center my-3">
            <small class="text-muted mx-3">
                کتاب
            </small>
            {{book.title}}
            {% if perms.school.change_book %}
            <a href="{{book.get_edit_url}}" target="_blank" title="ویرایش">
                <i class="fa fa-edit text-info"></i>
            </a>
            {% endif %}
        </h4>

    </div>
    <div class="col-md-4">
        {% include "core/includes/page-app/thumbnail-card.html" %}
        {% include "core/includes/page-app/brief-card.html" %}
        {% include "library/includes/book-app/brief-card.html" %}
    </div>
    <div class="col-md-8">
        <div class="row">

            <div class="col-md-6">
                {% for course in book.course_set.all %}
                {% include "school/includes/course-app/course-card.html" %}
                {% endfor %}
            </div>
            <!--     
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5>
                            واحد های درسی مربوطه:
        
                        </h5>
                        {% for course in book.course_set.all %}
                        <div>
                            <h5>
        
                                <small class="text-muted">واحد : </small>
                                <a href="{{course.get_absolute_url}}">{{course.title}}</a> ،
                                <small class="text-muted">رشته : </small>
                                <a href="{{course.major_set.first.get_absolute_url}}">{{course.major_set.first.title}}</a>
                            </h5>
                        </div>  
                        {% endfor %}
                    </div>
                </div>
            </div> -->
            <div class="col-md-6">
                {% include "core/includes/page-downloads-app/template.html" %}

                {% include "core/includes/page-links-app/template.html" %}

                {% include "core/includes/page-tags-app/template.html" %}

            </div>
            <div class="col-md-12">
                {% include "core/includes/page-images-app/template.html" %}

            </div>
            {% if book.short_description %}
            <div class="col-md-12">
                {% include "core/includes/page-description-app/short-description.html" %}
                 
            </div>
            {% endif %}
            {% if book.description %}
            <div class="col-md-12">
                {% include "core/includes/page-description-app/description.html" %}
                 
            </div>
            {% endif %}
            <div class="col-md-12">
                {% include "core/includes/page-comments-app/template.html" %}

            </div>
            <div class="col-md-12">
                {% include "core/includes/page-related-app/template.html" %}
                 
            </div>

        </div>
    </div>



</div>

{% endblock content %}

{% block script %}


{% include "core/includes/page-app/script.html" %}

{% endblock script %}