{% extends "school/layout.html" %}
{% load static %}
{% load social_share %}
{% block content %}
<h4 class="text-center">
</h4>
<div class="row rtl">


  <div class="col-md-12">



  </div>

  <div class="col-md-4 farsi">
    <div class="card">
      <div class="card-header">
        <h4>

          لینک ها
        </h4>
      </div>
      <div class="card-body"> 
        <a href="{% url 'school:educational_years' %}">
          <h5>

            لیست سال های تحصیلی
          </h5>
        </a>
        <a href="{% url 'school:exams' %}">
          <h5>

            لیست آزمون ها
          </h5>
        </a>
        <a href="{% url 'school:students' %}">
          <h5>

            لیست دانش آموزان
          </h5>
        </a>
        <a href="{% url 'school:schools' %}">
          <h5>

            لیست آموزشگاه ها
          </h5>
        </a>
        <a href="{% url 'school:majors' %}">
          <h5>

            لیست رشته های تحصیلی
          </h5>
        </a>
        <a href="{% url 'school:courses' %}">
          <h5>

            لیست واحد های درسی
          </h5>
        </a>
        <a href="{% url 'school:teachers' %}">
          <h5>

            لیست دبیران
          </h5>
        </a>
        <a href="{% url 'school:active_courses' %}">
          <h5>

            واحد های درسی فعال

          </h5>
        </a>
        <a href="{% url 'school:books' %}">
          <h5>
کتاب ها
          </h5>
        </a>
      </div>
    </div>


  </div>

  

</div>
{% endblock content %}


{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "school/includes/teachers-app/script.html" %}
{% include "school/includes/schools-app/script.html" %}
{% include "school/includes/majors-app/script.html" %}

{% endblock script %}