{% extends "school/layout.html" %}
{% load static %}
{% block content %}
<h4 class="text-center">
</h4>
<div class="row">


 

  <div class="col-md-4">
    {% include "school/includes/teachers-app/template.html" %}

  </div>
 
  {% if add_teacher_form %}

  <div class="col-md-4">
    {% include "school/includes/add-teacher-app/template.html" %}

  </div>
  {% endif %}

</div>
{% endblock content %}


{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "school/includes/teachers-app/script.html" %} 
{% if add_teacher_form %}

  {% include "school/includes/add-teacher-app/script.html" %}

{% endif %}
{% endblock script %}