{% load static %}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center" style="background: url('{{resume_index.image_header}}') top right no-repeat;background-size: cover;">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>{{resume_index.title}} 
          {% if perms.resume.change_resumeindex %}
            {{resume_index.get_edit_btn|safe}}
        {% endif %}

        </h1>
      
        <p>I'm <span class="typed" data-typed-items="{{resume_index.typing_text}}"></span></p>
        <div class="social-links">
          {% for social_link in resume_index.resumesociallink_set.all %}
            
          <a title="{{social_link.title}}" href="{{social_link.href}}" target="_blank" class="{{social_link.link_class}}">
            {{social_link.icon|safe}}
          </a>
          {% endfor %} 
         
          
        </div>
    </div>
</section><!-- End Hero -->
