{% if skills %}

<div class=" card my-5">

    <div class="card-header">

        <h5>مهارت ها</h5>
    </div>
    <div class="card-body">

        {% if resume_index.skills_top %}

        <div class="farsi">

            {{resume_index.skills_top|safe}}
        </div>
        {% endif %}
        <div class="row">
            {% for skill in skills %}

            <div class="col-md-6">
                <div class="text-right mb-3">
                    {{forloop.counter}} -
                    {{skill.title}}

                    <span class="badge badge-primary">

                        {{skill.percentage}}%
                    </span>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>

{% endif %}