<div class="card" id="channels-app">
    <div class="card-header">
        <h5 class="text-center">
            کانال های پیام رسانی
        </h5>
    </div>
    <div class="card-body">
        {% for channel in channels %}

        <div class="media">
            <img src="{{channel.image}}" class="rounded-circle" width="64" alt="">
            <div class="media-body mr-3">
                <div>

                    <a href="{{channel.get_absolute_url}}">
                        {{channel.title}}
                    </a>
                </div>

                <div>

                    <a href="{{channel.get_absolute_url}}">
                      <small class="text-secondary">

                          {{channel.name}}
                        </small>
                    </a>
                </div>

                {% if channel.description %}
                  
                <div>
                    <span class="farsi">
                        <small class="text-muted">
                            {{channel.description}}
                        </small>
                    </span>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>