{% load to_persian_date %}
{% load to_price %}
{% load to_amount_color %}
{% load static %}
<div id="accordion-bank-accounts">


    <div class="card" id="bank-accounts-app">
        <div class="card-header" id="heading-bank-accounts">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-bank-accounts"
                    aria-expanded="true" aria-controls="collapse-bank-accounts">
                    حساب های بانکی


                    <span v-if="bank_accounts.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="bank_accounts.length"></span>
                        </small>
                    </span>


                </button>
            </h5>

            {% if page_pre_description %}

            <h5 class="text-center">
                {{page_pre_description}}
            </h5>
            {% endif %}
            {% if page_description %}

            <h4 class="text-center">
                {{page_description}}
            </h4>
            {% endif %}
        </div>
        <div id="collapse-bank-accounts" class="collapse {% if expand_bank_accounts %} show {% endif %}"
            aria-labelledby="heading-bank-accounts" data-parent="#accordion-bank-accounts">


            <div class="card-body">

                {% load static %}
                
                {% if add_bank_account_form %}
                    
                
                {% include "accounting/includes/bank-accounts-app/form.html" %}
                {% endif %}
                <form @submit.prevent="search()">
                    <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">

                    <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ..."
                        @input="filter()">
                </form>


                <div class="table-responsive">
                    <img v-if="false" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                    <h6 v-if="false">

                        <span class="text-muted">در حال بار گذاری ... </span>
                    </h6>
                    <table class="table table-striped rtl">
                        <thead>
                            <th>
                                حساب
                            </th>
                            <th>
                                بانک
                            </th>
                            <th>
                                پروفایل
                            </th>
                            <th>
                                حساب و کارت
                            </th>

                            <th>
                                مانده
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>


                            <tr v-for="bank_account in bank_accounts">
                                <td>
                                    <div>
                                        <a :href="bank_account.get_absolute_url">
                                            <div class="media">
                                                <img :src="bank_account.thumbnail" class="rounded-circle" width="32"
                                                    alt="">
                                                <div class="media-body mr-3">
                                                    <div>

                                                        <span v-text="bank_account.title"></span>
                                                    </div>
                                                    <div>
                                                        <small class="text-muted">
                                                            <span v-text="bank_account.class_title"></span>
                                                        </small>
                                                    </div>


                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                </td>
                                <td>
                                    <a :href="bank_account.bank.get_absolute_url">

                                        <span v-text="bank_account.bank.name"></span>
                                    </a>
                                </td>
                                <td>
                                    <a v-if="bank_account.profile" :href="bank_account.profile.get_absolute_url">
                                        <div class="media">
                                            <img :src="bank_account.profile.image" class="rounded-circle" width="32"
                                                alt="">
                                            <div class="media-body mr-2">

                                                <span v-text="bank_account.profile.name"></span>
                                            </div>
                                            </span>
                                        </div>
                                    </a>

                                </td>
                                <td>
                                    <div v-if="bank_account.account_no">
                                        <small class="text-muted mx-3">
                                            حساب :
                                            <span v-text="bank_account.account_no"></span>
                                        </small>

                                    </div>
                                    <div v-if="bank_account.card_no">
                                        <small class="text-muted mx-3">
                                            کارت :
                                            <span class="ltr" v-text="to_card_no(bank_account.card_no)"></span>
                                        </small>

                                    </div>

                                    <div v-if="bank_account.shaba_no">
                                        <small class="text-muted mx-3">
                                            شبا :
                                            <span class="ltr" v-text="(bank_account.shaba_no)"></span>
                                        </small>

                                    </div>



                                </td>
                                <td>
                                    <span v-html="to_price(bank_account.balance_rest)"></span>
                                    </span>

                                </td>
                                <td>



                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>