{% load static %}
<div id="accordion-drivers">


    <div class="card" id="drivers-app">
        <div class="card-header" id="heading-drivers">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-drivers" aria-expanded="true"
                    aria-controls="collapse-drivers">
                    راننده ها
                    <span v-if="drivers.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="drivers.length"></span>
                        </small>
                    </span>


                </button>
            </h5>


        </div>
        <div id="collapse-drivers" class="collapse" aria-labelledby="heading-drivers" data-parent="#accordion-drivers">


            <div class="card-body">

                {% load static %}
                <form @submit.prevent="search()">
                    <img src="{% static 'leo/img/loading.gif' %}" width="32" v-if="waiting" alt="">

                    <input type="text" v-model="search_for" class="form-control" placeholder="جستجو ..."
                        @input="filter()">
                </form>


                <div class="table-responsive">
                    <img v-if="false" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                    <h6 v-if="false">

                        <span class="text-muted">در حال بار گذاری ... </span>
                    </h6>
                    <table class="table table-striped">
                        <thead>
                            <th>
                                راننده
                            </th>
                            <th>
                                پروفایل
                            </th>
                            <th>
                                مانده
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>


                            <tr v-for="driver in drivers">
                                <td>
                                    <a :href="driver.get_absolute_url">
                                        <img :src="driver.logo" class="rounded1" width="32" alt="">


                                        <span v-text="driver.title"></span>
                                    </a>


                                </td>
                                <td>
                                    <a v-if="driver.account.profile"  :href="driver.account.profile.get_absolute_url">
                                        <img :src="driver.account.profile.image" class="rounded-circle" width="32" alt="">
                                        <span v-text="driver.account.profile.name"></span>
                                    </a>

                                </td>
                                <td>
                                    <span v-html="to_price(driver.account.balance_rest)"></span>
                                    </span>

                                </td>
                                <td>

                                   


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>