{% load static %}
<div class="text-right">

    <button @click="show_add_service_request_form=true" v-if="!show_add_service_request_form" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        افزودن
    </button>
</div>
<div v-if="show_add_service_request_form">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="">نام سرویس</label>
                <input type="text" v-model="add_service_request_form_title" class="form-control" required
                    @input="filter_list()">
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="">فاکتور</label>
                <select v-model="add_service_request_form_invoice_id" class="form-control farsi" id="" required>
                    <option disabled selected>فاکتور مرتبط را انتخاب کنید</option>
                    <option v-for="invoice in invoices" :value="invoice.id" v-text="invoice.id+' '+invoice.title">
                    </option>
                    <option value="-1">
                        فاکتور جدید
                    </option>
                </select>
            </div>

        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="">نام پرسنل</label>
                <select v-model="add_service_request_form_employee_id" class="form-control farsi" id="" required>
                    <option disabled selected>نام پرسنل مرتبط را انتخاب کنید</option>
                    <option v-for="employee in employees" :value="employee.id" v-text="employee.account.title"></option>
                </select>
            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="">تعداد</label>
                <input required type="number" min="0" placeholder="تعداد" class="form-control"
                    v-model="add_service_request_form_quantity">
            </div>
        </div>


        <div class="col-md-2">
            <div class="form-group">
                <label for="">نام واحد</label>

                <select required v-model="add_service_request_form_unit_name" class="form-control farsi" id="">
                    <option disabled selected>نام واحد</option>
                    {% for unit_name in unit_names %}
                    <option value="{{unit_name}}">{{unit_name}}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="">قیمت واحد
                    <small>
                        (
                        <span v-if="add_service_request_form_unit_price>0" class="text-primary"
                            v-text="to_price(add_service_request_form_unit_price)"></span>

                        {{CURRENCY}}
                        )
                    </small>

                </label>
                <input required type="number" v-model="add_service_request_form_unit_price" class="farsi form-control"
                    placeholder="قیمت واحد">
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="">توضیحات</label>
                <input type="text" v-model="add_service_request_form_description" class="farsi form-control"
                    placeholder="توضیحات">
            </div>
        </div>

        <div class="col-md-12 text-right">
            <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">



            <button class="btn btn-outline-secondary" @click="show_add_service_request_form=false"
                type="reset">Cancel</button>

            <button @click="add_service_request()" v-if="!waiting" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
                افزودن
            </button>

        </div>
    </div>

    <div class="table-responsive">

        <table class="table table-striped my-3">

            <tbody>
                <tr v-for="service in services">
                    <td>
                        <a target="_blank" :href="service.get_absolute_url">

                            <span class="farsi" v-text="service.title"></span>
                        </a>
                    </td>
                    <td>
                        <button @click="select_service(service)" class="btn btn-info">انتخاب</button>
                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <form @submit.prevent="copy_from_project()">

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="">فاکتور</label>
                    <select v-model="add_service_request_form_invoice_id" class="form-control farsi" id="" required>
                        <option disabled selected>فاکتور مرتبط را انتخاب کنید</option>
                        <!-- {% for invoice in project.materialinvoice_set.all  %}
                          
                        <option value="{{invoice.id}}">
                            {{invoice.title}}
                        </option>
                        {% endfor %} -->
    
                               
                        <option v-for="invoice in invoices" :value="invoice.id" v-text="invoice.id+' '+invoice.title">
                        </option>
                        <option value="-1">
                            فاکتور جدید
                        </option>
                    </select>
                </div>
    
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="">کپی از </label>
                    <input type="number" required v-model="source_project_id" class="form-control">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for=""> وضعیت</label>
                    <select v-model="add_service_request_form_status" class="form-control farsi" id="" required>
                        <option disabled selected>وضعیت درخواست را انتخاب کنید</option>
                          
                        <option :value="status" v-for="status in statuses" v-text="status">
                        </option>
                        
                        <option value="">
                            وضعیت درخواست مبدا
                        </option>
                    </select>
                    <button class="btn btn-block btn-success mt-2" type="submit">از پروژه کپی کن</button>

                </div>
    
            </div>
        </div>
    </form>

    <form @submit.prevent="copy_from_invoice()">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for=""> فاکتور</label>
                    <select v-model="add_service_request_form_invoice_id" class="form-control farsi" id="" required>
                        <option disabled selected>فاکتور مقصد را انتخاب کنید</option>
                         
    
                               
                        <option v-for="invoice in invoices" :value="invoice.id" v-text="invoice.id+' '+invoice.title">
                        </option>
                        <option value="-1">
                            فاکتور جدید
                        </option>
                    </select>
                </div>
    
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="">کپی از فاکتور </label>
                    <input type="number" required v-model="source_invoice_id" class="form-control">

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for=""> وضعیت</label>
                    <select v-model="add_service_request_form_status" class="form-control farsi" id="" required>
                        <option disabled selected>وضعیت درخواست را انتخاب کنید</option>
                          
                        <option :value="status" v-for="status in statuses" v-text="status">
                        </option>
                        
                        <option value="">
                            وضعیت درخواست مبدا
                        </option>
                    </select>
                    <button class="btn btn-block btn-success mt-2" type="submit">از فاکتور کپی کن</button>

                </div>
    
            </div>
        </div>
    </form>


    <a href="{% url 'accounting:services' %}" target="_blank">
        <h6>
            همه سرویس ها
        </h6>
    </a>
</div>