<script>
    let service_requests = JSON.parse(`{{service_requests_s|escapejs}}`)
    let service_requests_app_data = {}
    let service_requests_app_methods = {}
</script>
{% if add_service_request_form %}
<script>
    let all_services = JSON.parse(`{{all_services_s|escapejs}}`)
    let url_add_service_request = "{% url 'projectmanager:add_service_request' %}"

    service_requests_app_data = {
        
        id:125,
      
        employees: JSON.parse(`{{employees_s|escapejs}}`),
        new_service_request_service_id: 1,
        add_service_request_form_title: "",
        services: [],
        invoices: JSON.parse("{{service_invoices_s|escapejs}}"),
        source_project_id: 0,
        statuses: JSON.parse(`{{statuses_s|escapejs}}`),
        source_invoice_id:0,
        add_service_request_form_status:"",
        add_service_request_form_invoice_id: 0,
        add_service_request_form_unit_price: 0,
        add_service_request_form_unit_name: "",
        add_service_request_form_quantity: "",
        add_service_request_form_description: "",
        service_requests: service_requests,
        waiting: false,
        sum_service_requests: 0,
        show_add_service_request_form: false,
        add_service_request_form_employee_id: "",

        filter_status:"",

    }



    service_requests_app_methods = {
        copy_from_project: function () {
            console.log(this.source_project_id)

            let payload = {
                source_project_id: parseInt(this.source_project_id),
                destination_project_id: project_id,
                status: this.add_service_request_form_status,
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                invoice_id:parseInt(this.add_service_request_form_invoice_id),
            }
            console.log(payload)
            let url_copy_service_requests = "{% url 'projectmanager:copy_service_requests' %}"
            var posting = $.post(url_copy_service_requests, payload);
            posting.done((data) => {
                console.log(data)
                if (data.result === 'SUCCEED') {
                    service_requests_app.service_requests = data.service_requests
                }
            })

        },
        copy_from_invoice: function () {
            console.log(this.source_invoice_id)

            let payload = {
                source_invoice_id: parseInt(this.source_invoice_id),
                destination_project_id: project_id,
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                
                status: this.add_service_request_form_status,
                invoice_id:parseInt(this.add_service_request_form_invoice_id),
            }
            console.log(payload)
            let url_copy_service_requests = "{% url 'projectmanager:copy_service_requests_from_invoice' %}"
            var posting = $.post(url_copy_service_requests, payload);
            posting.done((data) => {
                console.log(data)
                if (data.result === 'SUCCEED') {
                    service_requests_app.service_requests = data.service_requests
                }
            })

        },
        to_price: function (value, CURRENCY) {
            return to_price(value, CURRENCY)
        },
        selected_service: function () {
            if (this.add_service_request_form_title === "") {
                return {}
            }
            if (this.services.length > 0)
                return this.services[0]
            return {}
        },
        
        filter:function(){
                this.service_requests=service_requests

                if(this.filter_status!=""){
                    this.service_requests=this.service_requests.filter(item=>item.status===service_requests_app.filter_status)
                }
            },

        add_service_request: function () {

            service_requests_app.waiting = true

            let payload = {
                project_id: page_id,
                service_id: this.selected_service().id,
                invoice_id: parseInt(this.add_service_request_form_invoice_id),
                unit_price: parseInt(this.add_service_request_form_unit_price),
                unit_name: this.add_service_request_form_unit_name,
                quantity: parseFloat(this.add_service_request_form_quantity),
                employee_id: this.add_service_request_form_employee_id,
                // status: this.add_service_request_form_status,
                description: this.add_service_request_form_description,
                csrfmiddlewaretoken: csrfmiddlewaretoken
            }
            console.log(payload)
            var posting = $.post(url_add_service_request, payload);
            posting.fail(function (xhr, status, error) {
                service_requests_app.waiting = false
                // showNotification('top', 'center', 'settings', 'danger', 'خطا در ارتباط' + error)
            })
            posting.done(function (data) {
                service_requests_app.waiting = false

                if (data.result === 'SUCCEED') {
                    service_requests_app.service_requests.push(data.service_request)
                    service_requests_app.sum_service_requests += data.service_request.quantity * data.service_request.unit_price
                    showNotification('top', 'center', 'settings', 'success', `<div class="text-center farsi">با موفقیت افزوده شد.</div>`)
                    console.log("service_requests_app.add_service_request_form_invoice_id")
                    console.log(service_requests_app.add_service_request_form_invoice_id)

                    if (service_requests_app.add_service_request_form_invoice_id == -1) {
                        console.log(data.service_request.invoice)
                        service_requests_app.invoices.push(data.service_request.invoice)
                        service_requests_app.add_service_request_form_invoice_id = data.service_request.invoice.id
                    }


                }
                else {
                }
            })

        },
        select_service: function (service) {
            this.add_service_request_form_unit_name = service.unit_name
            this.add_service_request_form_unit_price = service.unit_price
            this.add_service_request_form_title = service.title
            this.services = [service]

            if (typeof item_prices != "undefined") {

                item_prices.forEach(item_price => {
                    if (item_price.product_or_service_id == service.id) {

                        this.add_service_request_form_unit_name = item_price.unit_name
                        this.add_service_request_form_unit_price = item_price.sell_price
                    }

                });
            }


        },
        filter_list: function () {
            if (this.add_service_request_form_title) {

                this.services = all_services.filter((item) => { return item.full_title.toUpperCase().indexOf(this.add_service_request_form_title.toUpperCase()) > -1 }).slice(0, 6);
                try {
                    this.add_service_request_form_unit_price = this.selected_service().unit_price
                    this.add_service_request_form_unit_name = this.selected_service().unit_name
                } catch (error) {

                }
            }

        },
    }


</script>
{% else %}
<script>
    service_requests_app_data = {
        service_requests: service_requests,
        
        id:125,
        waiting: false,
        sum_service_requests: 0,
        count_service_requests: 0,
        show_add_service_request_form: false,

        filter_status:"",
    }


    service_requests_app_methods = {
        to_price: function (value, CURRENCY) {
            return to_price(value, CURRENCY)
        },
        selected_service: function () {
            if (this.add_service_request_form_title === "") {
                return {}
            }
            if (this.services.length > 0)
                return this.services[0]
            return {}
        },
        select_service: function (service) {
            this.add_service_request_form_unit_name = service.unit_name
            this.add_service_request_form_unit_price = service.unit_price
            this.add_service_request_form_title = service.title
            this.services = [service]

            if (typeof item_prices != "undefined") {

                item_prices.forEach(item_price => {
                    if (item_price.product_or_service_id == service.id) {

                        this.add_service_request_form_unit_name = item_price.unit_name
                        this.add_service_request_form_unit_price = item_price.sell_price
                    }

                });
            }


        },
        filter_list: function () {
            if (this.add_service_request_form_title) {

                this.services = all_services.filter((item) => { return item.full_title.toUpperCase().indexOf(this.add_service_request_form_title.toUpperCase()) > -1 }).slice(0, 6);
                try {
                    this.add_service_request_form_unit_price = this.selected_service().unit_price
                    this.add_service_request_form_unit_name = this.selected_service().unit_name
                } catch (error) {

                }
            }

        },
    }


</script>
{% endif %}

<script>


    let service_requests_app = new Vue({
        el: "#service-requests-app",
        data: service_requests_app_data,
        mounted: function () {
            this.sum_service_requests = 0
            this.service_requests.forEach(service_request => {
                this.sum_service_requests += service_request.total

                this.count_service_requests += service_request.quantity
            });
        },
        methods: service_requests_app_methods
    })
</script>