{% extends "warehouse/layout.html" %}

{% block content %}
<h4 class="text-center">
    {{ware_house.title}}
    <a href="{{ware_house.get_print_url}}" target="_blank" title="چاپ" class="mx-2"><i
            class="material-icons text-success">print</i></a>
    {% if perms.warehouse.change_warehouse %}
    <a href="{{ware_house.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i
            class="fa fa-edit text-info"></i></a>
    {% endif %}
    {% if perms.warehouse.delete_warehouse %}
    <a href="{{ware_house.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
            class="fa fa-trash text-danger"></i></a>
    {% endif %}
</h4>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>

                    {{ware_house.title}}
                    <a href="{{ware_house.get_print_url}}" target="_blank" title="چاپ" class="mx-2"><i
                            class="material-icons text-success">print</i></a>
                    {% if perms.warehouse.change_warehouse %}
                    <a href="{{ware_house.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i
                            class="fa fa-edit text-info"></i></a>
                    {% endif %}
                    {% if perms.warehouse.delete_warehouse %}
                    <a href="{{ware_house.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
                            class="fa fa-trash text-danger"></i></a>
                    {% endif %}
                </h5>
            </div>
        </div>

    </div>
    <div class="col-md-12">
        {% include "warehouse/includes/warehouse-availables/template.html" %}

    </div>
    <div class="col-md-12">
        {% include "warehouse/includes/warehouse-sheets-app/template.html" %}

    </div>
</div>
{% endblock content %}

{% block script %}
{% include "warehouse/includes/warehouse-sheets-app/script.html" %}
{% include "warehouse/includes/warehouse-availables/script.html" %}

{% endblock script %}