{% extends "map/layout.html" %}

{% block content %}
<h5 class="text-center">

   
    {{area.title}}
    {% if perms.map.change_area %}
    <span class="my-2">

        <a href="{{area.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2 text-warning"><i
                class="fa fa-edit"></i> </a>
    </span>
    {% endif %}



    {% if perms.map.delete_area %}
    <span class="my-2">

        <a href="{{area.get_delete_url}}" target="_blank" title="حذف" class="mx-2 text-danger"><i
                class="fa fa-trash"></i> </a>
    </span>

    {% endif %}
</h5>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                {{area.area|safe}}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        {% include 'market/includes/suppliers-app/template.html' %}
    </div>   <div class="col-md-12">
        {% include 'market/includes/customers-app/template.html' %}
    </div>



</div>
{% endblock content %}
{% block script %}
{% include 'market/includes/suppliers-app/script.html' %}
{% include 'market/includes/customers-app/script.html' %}

{% endblock script %}