{% extends "map/layout.html" %}
{% block content %}
  
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-right farsi">
                <div>
                    <a href="{% url 'map:areas' %}">
                        محدوده ها
                    </a>
                </div>

                
                <div>
                    <a href="{% url 'map:locations' %}">
                        موقعیت ها
                    </a>
                </div>

                 

            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}
  
{% endblock script %}