{% extends "map/layout.html" %}

{% load static %}
{% load to_persian_date %}
{% load to_price %}
{% block content %}
<div>
    <h3 class="text-center">
        <i class="material-icons">place</i>
        <small class="text-secondary">
            موقعیت مکانی
        </small>
        {{location.title}}
        {% if perms.projectmanager.change_location %}
        <a title="ویرایش" target="_blank" href="{{location.get_edit_url}}">
            <i class="material-icons">
                edit
            </i>
        </a>
        {% endif %}
    </h3>
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {{location.location|safe}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-5">
                <div class="card-body">
                    <p>
                        <span class="small text-secondary">
                            موقعیت مکانی :
                        </span>
                        <span>
                            <a class="mx-3" href="{{location.get_absolute_url}}">
                                {{location.title}}
                            </a>
                        </span>
                    </p>

                    <p>
                    <div class="row farsi">
                        <div class="col-4 text-left">

                            <small class="text-secondary">
                                افزوده شده توسط :
                            </small>
                        </div>
                        <div class="col-8">
                            {{location.creator.media_tag|safe}}

                        </div>
                    </div>
                    </p>
                    <p>
                        <small class="text-secondary">
                            تاریخ :
                        </small>
                        <small class="">

                            {{location.date_added|to_persian_datetime|safe}}
                        </small>
                    </p>
                    <img src="{{location.image}}" class="rounded w-100" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% if location.pagelocation_set.all %}

            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-4">
                            صفحات مرتبط
                        </h4>
                        {% for pagelocation in location.pagelocation_set.all %}
                        <div class="text-right farsi mb-2">


                            <small class="text-muted ml-3">
                                {{pagelocation.page.class_title}}
                            </small>
                            <a class="farsi" href="{{pagelocation.page.get_absolute_url}}">
                                {{pagelocation.page.title}}
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% if location.trip_source_set.all or location.trip_destination_set.all%}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="title">
                        مسیر های سفر
                    </h4>
                </div>
                <div class="card-body">

                    {% for trip_path in location.trip_source_set.all %}
                    <h5 class="mr-5">
                        مبدا :
                        <a href="{{trip_path.get_absolute_url}}">

                            {{trip_path.title}}
                        </a>
                    </h5>
                    {% endfor %}
                    {% for trip_path in location.trip_destination_set.all %}
                    <h5 class="mr-5">
                        مقصد :
                        <a href="{{trip_path.get_absolute_url}}">

                            {{trip_path.title}}
                        </a>
                    </h5>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}