{% load to_price %}


<div id="accordion-letter-sents">
    <div class="card mb-3" id="letter-sents-app">
        <div class="card-header" id="heading-letter-sents">

            <h5 class="card-title text-center farsi">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-letter-sents"
                    aria-expanded="true" aria-controls="collapse-letter-sents">
                    روند ارجاع های نامه اداری
                    <span v-if="letter_sents.length>0">
                        <small class="text-danger mx-2">
                            <span v-text="letter_sents.length"></span>
                        </small>
                    </span>


                </button>

            </h5>


        </div>
        <div id="collapse-letter-sents" class="collapse" aria-labelledby="heading-letter-sents"
            data-parent="#accordion-letter-sents">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>
                                امضا و پاراف
                            </th>
                            {% if not letter %}
                            <th>
                                نامه
                            </th>
                            {% endif %}
                            <th>
                                فرستنده
                            </th>
                            <th>
                                گیرنده
                            </th>

                            <th>
                                تاریخ
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="letter_sent in letter_sents">

                                <td>
                                    <div class="media">
                                        <a :href="letter_sent.profile.get_absolute_url">

                                            <img width="48" :src="letter_sent.profile.image" class="rounded-circle"
                                                alt="">
                                        </a>
                                        <div class="media-body mr-2">
                                            <div>

                                                <a :href="letter_sent.profile.get_absolute_url">

                                                    <span v-text="letter_sent.profile.name"></span>
                                                </a>
                                            </div>
                                            <div>
                                                <small v-text="letter_sent.paraf"></small>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% if not letter %}
                                <td>
                                    <a :href="letter_sent.letter.get_absolute_url">
                                        <div class="media">
                                            <img :src="letter_sent.letter.thumbnail" class="rounded" width="64" alt="">
                                            <div class="media-body mr-2">
                                                <span v-text="letter_sent.letter.title"></span>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                {% endif %}
                                <td>
                                    <a :href="letter_sent.sender.get_absolute_url">
                                        <div class="media">

                                            <img class="rounded" width="48" :src="letter_sent.sender.logo" alt="">

                                            <div class="media-body farsi mr-2">


                                                <h5>

                                                    <span v-html="letter_sent.sender.title">
                                                    </span>

                                                </h5>

                                                <h6 class="text-muted" v-if="letter_sent.sender.pre_title">
                                                    <span v-text="letter_sent.sender.pre_title">

                                                    </span>
                                                    <span v-html="letter_sent.sender.title">
                                                    </span>

                                                </h6>




                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <a :href="letter_sent.recipient.get_absolute_url">
                                        <div class="media">

                                            <img class="rounded" width="48" :src="letter_sent.recipient.logo" alt="">

                                            <div class="media-body farsi mr-2">


                                                <h5>

                                                    <span v-html="letter_sent.recipient.title">
                                                    </span>

                                                </h5>

                                                <h6 class="text-muted" v-if="letter_sent.recipient.pre_title">
                                                    <span v-text="letter_sent.recipient.pre_title">

                                                    </span>
                                                    <span v-html="letter_sent.recipient.title">
                                                    </span>

                                                </h6>




                                            </div>
                                        </div>
                                    </a>
                                </td>

                                <td>
                                    <div>
                                        <span v-html="letter_sent.persian_date_sent"></span>
                                    </div>
                                </td>
                                <td>
                                    {% if perms.organization.change_lettersent %}
                                    <a class="mx-2" :href="letter_sent.get_edit_url" title="ویرایش" target="_blank">
                                        <i class="fa fa-edit text-warning">

                                        </i>
                                    </a>
                                    {% endif %}

                                    {% if perms.organization.change_lettersent %}
                                    <a class="mx-2" :href="letter_sent.get_delete_url" title="حذف" target="_blank">
                                        <i class="fa fa-trash text-danger">

                                        </i>
                                    </a>
                                    {% endif %}

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>